<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<p:outputPanel id="irContractsPnl" styleClass="ui-g card" rendered="#{inspectionReportTableUI.contract.id eq null}">
		<h2> #{lang['Contracts/Enquiries.for']} #{inspectionReportTableUI.customer.customerName}</h2>
		<div class="EmptyBox5" />
		<p:commandButton value="#{lang['create.an.enquiry']}" action="#{inspectionReportTableUI.enquiryDirect}" />
		<div class="EmptyBox10" />
		<p:dataTable id="contractTable" var="contract" value="#{inspectionReportTableUI.contractList}">
			<p:column headerText="#{lang['enqNumber']}">
				<h:outputText value="#{contract.enquiryNumber}" />
			</p:column>
			<p:column headerText="#{lang['enquiry.title']}">
				<h:outputText value="#{contract.title}" />
			</p:column>
			<p:column headerText="Enquiry Detail">
				<h:outputText value="#{lang['enquiry.detail']}" />
			</p:column>
			<p:column width="8%">
				<p:commandButton id="createSIBtn" icon="fa fa-plus" ajax="false" action="#{inspectionReportTableUI.goToNewInspectionReport}">
					<f:setPropertyActionListener value="#{contract}" target="#{inspectionReportTableUI.contract}" />
				</p:commandButton>
				<p:commandButton id="zoomSIBtn" icon="fa fa-arrow-right" process="@this" action="#{inspectionReportTableUI.onContractSelect}" update="@form">
					<f:setPropertyActionListener value="#{contract}" target="#{inspectionReportTableUI.contract}" />
				</p:commandButton>
				<p:tooltip for="createSIBtn" value="#{lang['create.S/I.report.for.Contract/Enquiry']}" position="left" />
				<p:tooltip for="zoomSIBtn" value="#{lang['view.S/I.report.for.Contract/Enquiry']}" position="left" />
			</p:column>
		</p:dataTable>
	</p:outputPanel>

	<p:outputPanel id="irPnl" styleClass="ui-g card" rendered="#{inspectionReportTableUI.contract.id ne null}">
		<h2>#{lang['inspection.report.for']} #{inspectionReportTableUI.customer.customerName} #{lang['contract']} #{inspectionReportTableUI.contract.enquiryNumber}</h2>
		<div class="ui-g-12">
			<p:commandButton value="#{lang['go.to.contracts']}" process="@this" action="#{inspectionReportTableUI.onReturnToContract}" update="@form" />
		</div>
		<div class="EmptyBox5" />
		<p:dataTable id="quoteTable" var="ir" value="#{inspectionReportTableUI.inspectionReportList}">
			<p:column headerText="#{lang['enqNumber']}" groupRow="true">
				<h:outputText value="#{ir.contract.enquiryNumber}" />
			</p:column>
			<p:column headerText="#{lang['form.number']}">
				<h:outputText value="#{ir.formNumber}" />
			</p:column>
			<p:column headerText=" #{lang['Repair/New']}">
				<h:outputText value="#{ir.repairNew.friendlyName}" />
			</p:column>
			<p:column headerText="#{lang['fitter']}">
				<h:outputText value="#{ir.fitter.firstName} #{ir.fitter.lastName}" />
			</p:column>
			<p:column headerText="#{lang['completed']}">
				<h:outputText rendered="#{ir.completedReport}" value="Completed" />
				<h:outputText rendered="#{!ir.completedReport}" value="Incomplete" />
			</p:column>
			<p:column>
				<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" process="@this" ajax="false" action="#{inspectionReportTableUI.goToInspectionReport}">
					<f:setPropertyActionListener value="#{ir}" target="#{inspectionReportTableUI.inspectionReport}" />
				</p:commandButton>
				<p:spacer width="5" />
				<p:commandButton id="deleteSIBtn" icon="fa fa-trash" rendered="#{!ir.completedReport}" process="@this" oncomplete="PF('deleteInspectionReport').show()">
					<f:setPropertyActionListener value="#{ir}" target="#{inspectionReportTableUI.inspectionReport}" />
				</p:commandButton>
				<p:tooltip for="deleteSIBtn" value=" #{lang['delete.S/I.report.from.contract/Enquiry']}" position="left" />
				<p:tooltip for="zoomToBtn" value=" #{lang['view.S/I.report.for.Contract/Enquiry']}" position="left" />
			</p:column>
		</p:dataTable>
		<p:confirmDialog widgetVar="deleteInspectionReport" header="#{lang['delete.inspection.report']}" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
			<p:commandButton value="#{lang['yes']}" action="#{inspectionReportTableUI.deleteInspectionReport}" update="@form" icon="ui-icon-check" />
			<p:commandButton value="#{lang['no']}" icon="ui-icon-close" />
		</p:confirmDialog>
	</p:outputPanel>
</ui:composition>
