<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="configDocInsForm">
						<p:ajaxStatus oncomplete="cleanupTooltips();" />
						<p:growl  globalOnly="true" ><p:autoUpdate/></p:growl>
						<h1 class="BigTopic TexAlCenter">#{lang['configure.document.upload.type']}</h1>
						<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="configName" required="true" requiredMessage="#{lang['please.provide.document.type']}" style="width: 90%" value="#{configDocUI.configDoc.name}" />
								<p:outputLabel for="configName" value="#{lang['document.type.name']}" />
							</h:panelGroup>
							
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="configAbre" required="true" requiredMessage="#{lang['please.provide.document.type']}" style="width: 90%" value="#{configDocUI.configDoc.abreviation}" />
								<p:outputLabel for="configAbre" value="Abbreviation" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="configUniCode" required="true" requiredMessage="#{lang['please.provide.document.type']}" style="width: 90%" value="#{configDocUI.configDoc.uniqueId}" />
								<p:outputLabel for="configUniCode" value="Unique Code" />
							</h:panelGroup>
							<p:selectBooleanCheckbox value="#{configDocUI.configDoc.active}" style="width: 100%" itemLabel="Active" />
							<h:panelGroup>
								<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm @form" action="#{configDocUI.createUpdateConfig}" />
								<p:spacer width="5" />
								<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{configDocUI.prepNewConfig}" />
							</h:panelGroup>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="mainForm">
						<p:ajaxStatus oncomplete="cleanupTooltips();" />
						<h:panelGrid columns="1">
							<h2>#{lang['list.of.doc.type']}</h2>
							<p:dataTable var="rowVar" value="#{configDocUI.configDocList}" id="configDocList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
								paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" emptyMessage="No Types Added">
								<p:column headerText="#{lang['document.type.name']}" width="25%">
									<h:outputText value="#{rowVar.name}" />
								</p:column>
								<p:column headerText="Abbreviation" width="25%">
									<h:outputText value="#{rowVar.abreviation}" />
								</p:column>
								<p:column headerText="Unique ID" width="25%">
									<h:outputText value="#{rowVar.uniqueId}" />
								</p:column>
								<p:column headerText="#{lang['active']}" width="15%">
									<center>
										<p:selectBooleanCheckbox disabled="true" value="#{rowVar.active}" />
									</center>
								</p:column>
								<p:column width="10%">
									<p:commandButton id="updateBtn" icon="fa fa-database" title="#{lang['update']}" update=":configDocInsForm">
										<f:setPropertyActionListener value="#{rowVar}" target="#{configDocUI.configDoc}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton id="setActiveInAvtivebtn" icon="fa fa-check-square-o" title="Set Active/InActive" update=":mainForm:configDocList" action="#{configDocUI.setActiveOrInactive}">
										<f:setPropertyActionListener value="#{rowVar}" target="#{configDocUI.configDoc}" />
									</p:commandButton>
									<p:tooltip for="updateBtn" position="" value=" #{lang['update']} " />
									<p:tooltip for="setActiveInAvtivebtn" position="" value=" #{lang['alter.active.status']} " />
								</p:column>
							</p:dataTable>
						</h:panelGrid>
					</h:form>
				</div>
			</div>
		</div>
		<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form>
				<p:commandButton value="#{lang['yes']}" update=":mainForm:configDocList" actionListener="#{configDocUI.deleteConfig}" oncomplete="PF('confirmation').hide()" />
				<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
			</h:form>
		</p:confirmDialog>
		<script type="text/javascript">
				  //<![CDATA[
				     function cleanupTooltips(){
				    	    $('.ui-tooltip').each(function(index, elem){
				    	        $(elem).hide();
				    	    });
				    	}
				  //]]>  
				</script>
	</ui:define>

</ui:composition>
