<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">

			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h1>Customer Users</h1>
				<h:form id="customerusersInsForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:outputPanel style="width:100%" id="customerusersInsGrid" styleClass="ui-g">

						<div class="EmptyBox10" />
						<div class="ui-g-6 ui-md-6 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="user" value="#{customerusersUI.customerusers.user}" style="width:95%" />
								<p:outputLabel value="#{lang['user']}#{lang['colon']}" for="user" />
							</h:panelGroup>
						</div>

						<div class="ui-g-6 ui-md-6 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="customer" value="#{customerusersUI.customerusers.customer}" style="width:95%" />
								<p:outputLabel value="#{lang['customer']}#{lang['colon']}" for="customer" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:calendar id="createDate" value="#{customerusersUI.customerusers.createDate}" size="19" showOn="button" pattern="dd-MM-yyyy" mask="true" />
								<p:outputLabel value="#{lang['create']} #{lang['date']}#{lang['colon']}" for="createDate" />
							</h:panelGroup>
						</div>


						<div class="EmptyBox10" />
						<div class="ui-g-6 ui-md-6 ui-lg-6">
							<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:customerusersList :customerusersInsForm:customerusersInsGrid" action="#{customerusersUI.customerusersInsert}" />
							<p:spacer width="5" />
							<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="customerusersInsGrid" process="@this" action="#{customerusersUI.prepareNew}">
								<p:resetInput target="customerusersInsGrid" />
							</p:commandButton>
						</div>

					</p:outputPanel>
				</h:form>
			</p:outputPanel>


			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h:form id="mainForm">

					<p:dataTable var="rowVar" value="#{customerusersUI.dataModel}" filteredValue="#{customerusersUI.customerUsersfilteredList}" id="customerusersList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

						<p:column headerText="#{lang['user']}">
							<h:outputText value="#{rowVar.user}" />
						</p:column>
						<p:column headerText="#{lang['customer']}">
							<h:outputText value="#{rowVar.customer}" />
						</p:column>
						<p:column headerText="#{lang['create']} #{lang['date']}">
							<h:outputText value="#{rowVar.createDate}" />
						</p:column>


						<p:column width="80">
							<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":customerusersInsForm:customerusersInsGrid">
								<f:setPropertyActionListener value="#{rowVar}" target="#{customerusersUI.customerusers}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:customerusersList" action="#{customerusersUI.customerusersDelete}">
								<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVar}" target="#{customerusersUI.customerusers}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="200">
					<center>
						<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
					</center>
					</p:confirmDialog>

				</h:form>
			</p:outputPanel>

		</div>
	</ui:define>
	<!-- 
user = user
customer = customer
createDate = createDate

-->
</ui:composition>
