<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <p:outputPanel styleClass="card card-w-title ui-g-12"  >
                    <h1>Admin</h1>
        
             </p:outputPanel> 
        </div>
        
    </ui:define>

</ui:composition>