<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">

		<h:form id="goodsForm">
			<p:outputPanel styleClass="ui-g card">
				<div class="ui-g-12">
					<h1 name="header">#{lang['item.control']}</h1>
				</div>
			</p:outputPanel>
		</h:form>

		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>
		<h:form id="mainForm">
			<ui:include src="/pages/includes/enquiryDetails.xhtml" />
		</h:form>

		<h:form>
			<p:outputPanel styleClass="ui-g card">
				<div class="ui-g-12">
					<h2 class="BigTopic TexAlCenter">
						#{lang['item.control.details']}

						<p:inputSwitch style=" float: right;" offLabel="Hide" value="#{toggleUI.hideItemControl}" onLabel="Show" showLabels="true">
							<p:ajax update="@form" />
						</p:inputSwitch>
					</h2>
				</div>
				<c:if test="#{toggleUI.hideItemControl eq false}">
					<p:outputPanel styleClass="card ui-g-12 ">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width: 100%" id="itemComeFrom">
								<p:ajax />
							</p:inputTextarea>
							<p:outputLabel styleClass="Fleft" value="#{lang['where.did.items.come.from']}?" for="itemComeFrom" />
						</h:panelGroup>
					</p:outputPanel>

					<p:outputPanel styleClass="card ui-g-12 ">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width: 100%" id="itemStored">
								<p:ajax />
							</p:inputTextarea>
							<p:outputLabel styleClass="Fleft" value="#{lang['where.are.the.items.being.stored']}?" for="itemStored" />
						</h:panelGroup>
					</p:outputPanel>

					<div class="ui-g-12 ui-md-12 ui-lg-3">
						<br />
						<p:outputLabel styleClass="Fleft" value="#{lang['where.did.items.come.from']}?" for="dateRecieved" />
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-9">
						<p:calendar size="30" id="dateRecieved" showOn="both" pattern="dd-MMMM-yyyy" placeholder="#{lang['date.item.was.recieved']}" />
					</div>

					<div class="ui-g-12">
						<br />
						<p:commandButton id="addNote" title="#{lang['add.additional.notes']}" value="#{lang['add.additional.notes']}" icon="fa fa-sticky-note-o" oncomplete="PF('noteDlg').show()">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
						</p:commandButton>
					</div>

					<div class="ui-g-12">
						<br />
						<p:outputLabel value="#{lang['upload.docs.to.show.how.items.was.recieved']}." for="resourceUplDocBtn" />
					</div>

					<div class="ui-g-12">
						<p:commandButton id="resourceUplDocBtn" title="#{lang['upload.document']}" value="#{lang['upload.a.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="certificateUplDocBtn" title="#{lang['certificate.upload']}" value="#{lang['upload.a.certificate']}" icon="fa fa-certificate" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
						</p:commandButton>
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<br />
						<p:commandButton value="#{lang['submit']}" update="@form" />
						<p:spacer width="5" />
						<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this">
							<p:resetInput target="Ins" />
						</p:commandButton>
					</div>

				</c:if>
			</p:outputPanel>

		</h:form>

		<ui:include src="/pages/includes/commonuploadDocEnquiry.xhtml" />

		<p:dialog modal="true" header="#{lang['notes']}" widgetVar="noteDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="collectInfoPopUp" width="60%">
			<h:form id="collectInfoForm">

				<div class="ui-g-12">
					<br />
					<p:outputLabel styleClass="Fleft" value="#{lang['additional.notes']}:" for="collectionNote" />
				</div>
				<p:outputPanel styleClass="card ui-g-12 ">
					<div class="ui-g-12">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width: 100%" id="collectionNote">
								<p:ajax />
							</p:inputTextarea>
							<p:outputLabel styleClass="Fleft" value="#{lang['enter.additional.notes']}:" for="collectionNote" />
						</h:panelGroup>
					</div>
				</p:outputPanel>

				<h:panelGroup id="collectNote">
					<div class="EmptyBox5" />
					<p:outputLabel value="No notes have been uploaded." id="collectEmptyNote" />
					<p:dataTable value="#{auditsUI.auditRequiredActions.notes}" var="rv" rowKey="#{rv.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,25" reflow="true">
						<p:column headerText="Note" style="width:66%">
							<h:outputText escape="false" value="#{rv.note}" styleClass="breakWord" />
						</p:column>
						<p:column headerText="Creator">
							<h:outputText value="#{rv.user.firstName} #{rv.user.lastName}" styleClass="breakWord" />
						</p:column>
						<p:column headerText="Created">
							<h:outputText value="#{rv.createDate}">
								<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
							</h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGroup>

				<div class="ui-g-12">
					<p:commandButton id="closeAddInfoDlg" icon="fa fa-times" oncomplete="PF('noteDlg').hide()" value="#{lang['close']}" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['submit']}" update="@form" />
					<p:tooltip for="closeAddInfoDlg" position="" value="#{lang['close.pop.up']}" />
				</div>
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>
