<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<div class="ui-g card">
			<div class="ui-g-12">
				<h1>Resource User Allocation</h1>
				<h:form id="mainInputform">
					<p:growl />
					<p:panelGrid columns="1" style="width:100%" id="ruInsGrid" layout="grid" styleClass="ui-panelgrid-blank">
						<h:panelGroup styleClass="md-inputfield">
							<p:autoComplete id="resourceAutoComplete" value="#{ruaUI.resource}" completeMethod="#{ruaUI.completeResource}" var="resourceAuto" itemLabel="#{resourceAuto.description}" itemValue="#{resourceAuto}" forceSelection="true" converter="ResourceConvertor" dropdown="true" minQueryLength="1">
								<p:column headerText="Resource Type" style="white-space: nowrap">
									<p:outputLabel value="#{resourceAuto.resourceType.description}" escape="false" />
								</p:column>
								<p:column headerText="Resource Description" style="white-space: nowrap">
									<p:outputLabel value="#{resourceAuto.description}" escape="false" />
								</p:column>
							</p:autoComplete>
							<p:outputLabel value="Resource" />
						</h:panelGroup>
						<p:outputPanel id="userPickListPnl">
							<p:pickList id="userPickList" value="#{ruaUI.userDualList}" var="userVar" effect="bounce" itemValue="#{userVar}" itemLabel=" #{userVar.firstName} #{userVar.lastName}" showSourceControls="false" showTargetControls="false" showCheckbox="true" responsive="true" showSourceFilter="true"
								showTargetFilter="true" filterMatchMode="contains" converter="UsersConvertor">
								<f:facet name="sourceCaption">Available Users</f:facet>
								<f:facet name="targetCaption">Selected Users</f:facet>
								<p:column>
									<h:outputText value="#{userVar.firstName} #{userVar.lastName} [#{userVar.email}]" />
								</p:column>
							</p:pickList>
						</p:outputPanel>
						<h:panelGroup>
							<p:commandButton value="Submit" update=":mainDataTableform @form" action="#{ruaUI.createResourceUsers}" />
							<p:spacer width="5" />
							<p:commandButton id="clearForm" value="Clear" process="@this" update="@form" action="#{ruaUI.clearResourceUser}" />
						</h:panelGroup>
					</p:panelGrid>
				</h:form>
			</div>
		</div>

		<div class="ui-g card">
			<div class="ui-g-12">
				<h:form id="mainDataTableform">
					<p:growl />
					<p:dataTable var="rowVar" value="#{ruaUI.ruList}" filteredValue="#{ruaUI.ruFilterList}" widgetVar="resourceUsersDataTble" id="resourceUsersDataTble" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="false">
						<p:column headerText="Resource Description" filterBy="#{rowVar.resource.description}" filterMatchMode="contains">
							<p:outputLabel value="#{rowVar.resource.resourceType.description} #{rowVar.resource.description}" escape="false" />
						</p:column>
						<p:column headerText="Full Name" filterBy="#{rowVar.user.firstName}" filterMatchMode="contains">
							<p:outputLabel value="#{rowVar.user.firstName} #{rowVar.user.lastName}" escape="false" />
						</p:column>
						<p:column headerText="Email" filterBy="#{rowVar.user.email}" filterMatchMode="contains">
							<p:outputLabel value="#{rowVar.user.email}" escape="false" />
						</p:column>
						<p:column width="80">
							<p:commandButton id="deleteBtn" icon="fa fa-times" title="{lang['delete']}" update="@form" action="#{ruaUI.deleteResourceUsers}">
								<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVar}" target="#{ruaUI.ru}" />
							</p:commandButton>
							<p:tooltip for="deleteBtn" position="" value="#{lang['delete']}" />
						</p:column>
					</p:dataTable>
				
				</h:form>
					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
						<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
					</p:confirmDialog>
			</div>
		</div>
	</ui:define>
</ui:composition>