<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="mainForm">

						<h1 class="BigTopic TexAlCenter">#{lang['resource']}</h1>
						<c:if test="#{resourceUI.resourceTypeList eq null or resourceUI.resourceTypeList.size() lt 1}">
							<div class="ui-g-12 ui-md-12 ui-lg-12">
								Please add a Resource Type before continuing on this page. <a href="/amhydraulics/admin/resourceType.jsf"> Select Here.</a>
							</div>
						</c:if>
						<c:if test="#{resourceUI.resourceTypeList ne null and resourceUI.resourceTypeList.size() gt 0}">

							<br />
							<p:growl sticky="false" ><p:autoUpdate/></p:growl>
							<p:outputPanel styleClass="ui-g" id="Ins">

								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:outputLabel for="resourceSelected" value="#{lang['resourceType']} :" />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:selectOneMenu converter="ResourceTypeConvertor" id="resourceSelected" value="#{resourceUI.resource.resourceType}" style="width:95%" required="true" requiredMessage="#{lang['select.a.resource.type']}">
										<f:selectItems value="#{resourceUI.resourceTypeList}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
									</p:selectOneMenu>

									<br /> <br />
								</div>


								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<h:panelGroup styleClass="md-inputfield">
										<p:inputText id="description" value="#{resourceUI.resource.description}" style="width:95%" required="true" requiredMessage="#{lang['please.enter.a.description']}" />
										<p:outputLabel value="#{lang['description']}:" for="description" />
									</h:panelGroup>
									<br /> <br />
								</div>

								<div class="ui-g-12 ui-md-12 ui-lg-12">
									<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
										<p:outputLabel value="#{lang['colour']}:" for="color" />
										<p:colorPicker id="color" value="#{resourceUI.resource.colorCode}" mode="inline" required="true" requiredMessage="#{lang['Please.select.a.colour.for.resource.type']}" />
									</p:panelGrid>

								</div>

							</p:outputPanel>

							<p:spacer />
							<p:commandButton value="#{lang['submit']}" update=":tableForm:resourseList :mainForm:Ins" action="#{resourceUI.resourceInsert}" />
							<p:spacer width="5" />
							<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{resourceUI.prepareNew}">
								<p:resetInput target="Ins" />
							</p:commandButton>

						</c:if>
					</h:form>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="tableForm">
						<br />
						<c:if test="#{resourceUI.resourceTypeList ne null and resourceUI.resourceTypeList.size() gt 0}">
							<p:outputPanel styleClass="ui-g">
								<div class="ui-g-12">
								<h2>#{lang['list.of.resources']}</h2>
									<p:dataTable var="rv" value="#{resourceUI.resourceDataModel}" filteredValue="#{resourceUI.resourcefilteredList}" id="resourseList" rowKey="#{rv.id}" paginator="true" rows="6" paginatorPosition="bottom"
										paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

										<p:column headerText="#{lang['id']}" width="15%">
											<h:outputText value="#{rv.id}" />
										</p:column>

										<p:column headerText="#{lang['resource']}" width="30%">
											<h:outputText value="#{rv.description}" />
										</p:column>

										<p:column headerText="#{lang['resourceType']}" width="30%">
											<h:outputText value="#{rv.resourceType.description}" />
										</p:column>

										<p:column headerText="#{lang['colour']}" width="15%">
											<center>
												<p:outputLabel value="None Provided" rendered="#{rv.colorCode}" />
												<p:commandButton value="" style="background-color: ##{rv.colorCode}" rendered="#{rv.colorCode ne null}" />
											</center>
										</p:column>

										<p:column width="10%">
											<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":mainForm:Ins">
												<f:setPropertyActionListener value="#{rv}" target="#{resourceUI.resource}" />
											</p:commandButton>
											<p:spacer width="5" />

											<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":tableForm:resourseList" action="#{resourceUI.resourceDelete}">
												<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
												<f:setPropertyActionListener value="#{rv}" target="#{resourceUI.resource}" />
											</p:commandButton>

										</p:column>

									</p:dataTable>
								</div>
							</p:outputPanel>
						</c:if>

						<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
							<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
							<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
						</p:confirmDialog>

					</h:form>
				</div>
			</div>
		</div>

	</ui:define>

</ui:composition>
