<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">

					<h:form id="mainForm">
						<h1 class="BigTopic TexAlCenter">#{lang['resourceType']}</h1>
						<br />

						<p:outputPanel styleClass="ui-g" id="Ins">
							<p:growl sticky="false" ><p:autoUpdate/></p:growl>

							<div class="ui-g-12 ui-md-12 ui-lg-12">
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText id="description" value="#{resourceTypeUI.resourceType.description}" style="width:95%" required="true" requiredMessage="#{lang['please.enter.a.description']}" />
									<p:outputLabel value="#{lang['description']}:" for="description" />
								</h:panelGroup>
								<br /> <br />
							</div>

						</p:outputPanel>

						<p:spacer />
						<p:commandButton value="#{lang['submit']}" update=":tableForm:resourseList :mainForm:Ins" action="#{resourceTypeUI.resourceTypeInsert}" />
						<p:spacer width="5" />
						<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{resourceTypeUI.prepareNew}">
							<p:resetInput target="Ins" />
						</p:commandButton>
					</h:form>
				</div>
			</div>
		</div>

		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h:form id="tableForm">
						<p:growl sticky="false" ><p:autoUpdate/></p:growl>
						<p:outputPanel styleClass="ui-g">
							<div class="ui-g-12">
							<h2>#{lang['list.of.resource.type']}</h2>
								<p:dataTable var="rv" value="#{resourceTypeUI.resourceTypeDataModel}" filteredValue="#{resourceTypeUI.resourceTypefilteredList}" id="resourseList" rowKey="#{rv.id}" paginator="true" rows="5" paginatorPosition="bottom"
									paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

									<p:column headerText="#{lang['id']}" width="10%">
										<h:outputText value="#{rv.id}" />
									</p:column>

									<p:column headerText="#{lang['resourceType']}" width="90%">
										<h:outputText value="#{rv.description}" />
									</p:column>

									<p:column width="80">
										<p:commandButton id="updateBtn" icon="fa fa-database" title="#{lang['update']}" update=":mainForm:Ins">
											<f:setPropertyActionListener value="#{rv}" target="#{resourceTypeUI.resourceType}" />
										</p:commandButton>
										<p:spacer width="5" />

										<p:commandButton id="deleteBtn" icon="fa fa-trash-o" title="{lang['delete']}" update=":tableForm:resourseList" action="#{resourceTypeUI.resourceTypeDelete}">
											<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
											<f:setPropertyActionListener value="#{rv}" target="#{resourceTypeUI.resourceType}" />
										</p:commandButton>
										<p:tooltip for="updateBtn" position="" value="#{lang['update']}" />
										<p:tooltip for="deleteBtn" position="" value="#{lang['delete']}" />
									</p:column>
								</p:dataTable>
							</div>
						</p:outputPanel>


				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
					<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
					<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
				</p:confirmDialog>


				</h:form>
			</div>
		</div>
		</div>





	</ui:define>

</ui:composition>
