<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<h:form id="mainForm">
			<p:outputPanel styleClass="card ui-g">
				<div class="ui-g-12">
					<h1 class="BigTopic TexAlCenter">#{lang['item.returned']}</h1>

					<div class="ui-g-12">
						<br />
						<p:outputLabel styleClass="Fleft" value="#{lang['explain.why.the.item.was.sent.back.and.explain.what.the.next.steps.will.be']}:" for="deliveryNote" />
					</div>
					<p:outputPanel styleClass="card ui-g-12 ">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width: 100%" id="deliveryNote">
								<p:ajax />
							</p:inputTextarea>
							<p:outputLabel styleClass="Fleft" value="#{lang['enter.additional.notes']}:" for="deliveryNote" />
						</h:panelGroup>
					</p:outputPanel>

					<div class="ui-g-12">
						<div class="ui-g-12 ui-lg-3">
							<p:outputLabel styleClass="Fleft" value="#{lang['item.been.delivered']}?" for="itemDeliver" />
						</div>
						<div class="ui-g-12 ui-lg-3">
							<p:selectOneRadio styleClass="Fright" id="itemDeliver">
								<p:ajax update="@form" />
								<f:selectItems value="#{enumUI.yesNoEnumDD}" />
							</p:selectOneRadio>
						</div>
					</div>
					<div class="ui-g-12">
						<div class="ui-g-12 ui-lg-3">
							<p:outputLabel styleClass="Fleft" value="#{lang['item.been.corrected']}?" for="itemCorrected" />
						</div>
						<div class="ui-g-12 ui-lg-3">
							<p:selectOneRadio styleClass="Fright" id="itemCorrected">
								<p:ajax update="@form" />
								<f:selectItems value="#{enumUI.yesNoEnumDD}" />
							</p:selectOneRadio>
						</div>
					</div>

					<div class="ui-g-12">
						<p:commandButton value="#{lang['submit']}" disabled="true" update="@form" action="#{resourceUI.resourceInsert}" />
						<p:spacer width="5" />
						<p:commandButton value="#{lang['clear']}" disabled="true" icon="ui-icon-clear-all" update="@form" process="@this" action="#{resourceUI.prepareNew}">
							<p:resetInput target="Ins" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="deliveryNotes" icon="fa fa-sticky-note-o " oncomplete="PF('noteInfoDlg').show()" value="#{lang['view.notes']}" />
					</div>
				</div>
			</p:outputPanel>
		</h:form>






		<p:dialog modal="true" header="#{lang['notes']}" widgetVar="noteInfoDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="deliveryInfoPopUp" width="60%">
			<h:form id="deliveryInfoForm">
				<h:panelGroup id="collectNote">
					<div class="EmptyBox5" />
					<p:outputLabel value="No notes have been uploaded." id="deliveryEmptyNote" />
					<p:dataTable value="#{auditsUI.auditRequiredActions.notes}" var="rv" rowKey="#{rv.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,25" reflow="true">
						<p:column headerText="Note" style="width:66%">
							<h:outputText escape="false" value="#{rv.note}" styleClass="breakWord" />
						</p:column>
						<p:column headerText="Creator">
							<h:outputText value="#{rv.user.firstName} #{rv.user.lastName}" styleClass="breakWord" />
						</p:column>
						<p:column headerText="Created">
							<h:outputText value="#{rv.createDate}">
								<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
							</h:outputText>
						</p:column>
					</p:dataTable>

				</h:panelGroup>

				<div class="ui-g-12">
					<p:commandButton id="closeAddInfoDlg" icon="fa fa-times" oncomplete="PF('deliveryInfoDlg').hide()" value="#{lang['close']}" />
					<p:tooltip for="closeAddInfoDlg" position="" value="#{lang['close.pop.up']}" />
				</div>
			</h:form>
		</p:dialog>




	</ui:define>

</ui:composition>