<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:o="http://omnifaces.org/ui" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="usersInsForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<o:importConstants type="haj.com.entity.enums.UsersStatusEnum" var="userStatus" />
			<div class="card">
				<h1>#{lang['users']}</h1>
				<p:outputPanel styleClass="ui-g" id="usersIns">
					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="userFirstName" required="true" requiredMessage="#{lang['provide.users.name']}" style="width: 90%" value="#{usersUI.user.firstName}" />
							<p:outputLabel for="userFirstName" value="#{lang['first.name']}:" />
						</h:panelGroup>
						<div class="EmptyBox10" />
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="usersLastName" required="true" requiredMessage="#{lang['provide.users.last.name']}" style="width: 90%" value="#{usersUI.user.lastName}" />
							<p:outputLabel for="usersLastName" value="#{lang['last.name']}:" />
						</h:panelGroup>
						<div class="EmptyBox10" />
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="userEmailAddress" required="true" requiredMessage="#{lang['provide.users.email.address']}" style="width: 90%" value="#{usersUI.user.email}" type="email" />
							<p:outputLabel for="userEmailAddress" value="#{lang['email']}:" />
						</h:panelGroup>
						<div class="EmptyBox10" />
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText style="width: 90%" value="#{usersUI.user.cellNumber}" />
							<p:outputLabel value="#{lang['mobile.number']}:" />
						</h:panelGroup>
						<div class="EmptyBox10" />
					</div>

					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText style="width: 90%" value="#{usersUI.user.telNumber}" />
							<p:outputLabel value="#{lang['tel.number']}:" />
						</h:panelGroup>
						<div class="EmptyBox10" />
					</div>
					<div class="ui-g-12 ui-md-12 ">
						<p:outputLabel value="#{lang['user.type.colon']}" styleClass="FontLight gray" />
						<br />
						<p:selectOneRadio id="userType" value="#{usersUI.user.userType}" styleClass="FontLight">
							<f:selectItems value="#{enumUI.userTypeDD}" />
						</p:selectOneRadio>

					</div>
					<!-- <div class="ui-g-12 ui-md-12 ">
					    <p:outputLabel value="#{lang['status']}" styleClass="FontLight gray" />
						<p:selectOneRadio id="userStatus" value="#{usersUI.user.status}" styleClass="FontLight">
							<f:selectItems value="#{usersUI.usersStatusList}" var="usersStat" itemLabel="#{usersStat.friendlyName}" itemValue="#{usersStat}" />
						</p:selectOneRadio>
					</div> -->



					<div class="ui-g-12">
						<br />
						<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:usersList :usersInsForm:usersIns" action="#{usersUI.usersInsert}" />
						<p:spacer width="5" />
						<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="usersIns" process="@this" action="#{usersUI.prepareNewUser}">
							<p:resetInput target="usersIns" />
						</p:commandButton>
					</div>
				</p:outputPanel>
			</div>
		</h:form>


		<h:form id="mainForm">
			<div class="card">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-12">
						<h2>#{lang['users.list']}</h2>
						<p:dataTable var="rowVar" value="#{usersUI.usersDataModel}" filteredValue="#{usersUI.usersfilteredList}" id="usersList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">
							<p:column headerText="#{lang['first.name']}">
								<p:outputLabel value="#{rowVar.firstName}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['last.name']}">
								<p:outputLabel value="#{rowVar.lastName}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['email']}">
								<p:outputLabel value="#{rowVar.email}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['status']}">
								<p:outputLabel value="#{rowVar.status.friendlyName}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['user.type']}">
								<p:outputLabel value="#{rowVar.userType.friendlyName}" escape="false" />
							</p:column>

							<p:column width="80">
								<p:commandButton id="updUserBtn" icon="fa fa-database Fs16 white" title="#{lang['update']}" update=":usersInsForm">
									<f:setPropertyActionListener value="#{rowVar}" target="#{usersUI.user}" />
								</p:commandButton>
								<p:spacer width="5" rendered="#{rowVar.status eq userStatus.Active and rowVar.userType.ordinal() ne 0}" />
								<p:commandButton id="deactiveUserBtn" icon="fa fa-times" update=":mainForm" action="#{usersUI.usersUpdateRevokeAccess}" rendered="#{rowVar.status eq userStatus.Active and rowVar.userType.ordinal() ne 0}">
									<p:confirm header="Confirmation" message="#{lang['are.you.sure']}" icon="ui-icon-alert" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{usersUI.user}" />
								</p:commandButton>
								<p:spacer width="5" rendered="#{rowVar.status eq userStatus.InActive}" />
								<p:commandButton id="activeUserBtn" icon="fa fa-check" update=":mainForm" action="#{usersUI.usersUpdateGrantAccess}" rendered="#{rowVar.status eq userStatus.InActive}">
									<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-alert" />
									<f:setPropertyActionListener value="#{rowVar}" target="#{usersUI.user}" />
								</p:commandButton>
								<p:spacer width="5" rendered="#{rowVar.status eq userStatus.EmailNotConfrimed}" />
								<p:commandButton id="resendMailBtn" icon="ui-icon-mail-outline" ajax="false" action="#{usersUI.sendMailForReg}" rendered="#{rowVar.status eq userStatus.EmailNotConfrimed}">
									<f:setPropertyActionListener value="#{rowVar}" target="#{usersUI.user}" />
								</p:commandButton>
								<p:tooltip for="resendMailBtn" position="" value="#{lang['resend.mail']}" />
								<p:tooltip for="updUserBtn" position="" value="#{lang['update.users.information']}" />
								<p:tooltip for="deactiveUserBtn" position="" value="#{lang['remove.users.access']}" />
								<p:tooltip for="activeUserBtn" position="" value="#{lang['grant.user.access']}" />
							</p:column>
						</p:dataTable>
					</div>
				</p:outputPanel>
			</div>
		</h:form>
		<p:confirmDialog showEffect="clip" hideEffect="clip" global="true">
			<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes" icon="fa fa-check " type="button" />
			<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no" icon="fa fa-times " />
		</p:confirmDialog>

	</ui:define>

</ui:composition>
