<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">

			<p:outputPanel styleClass="card card-w-title ui-g-12" rendered="false" >
				<h1>Workflow</h1>
				<div class="EmptyBox10" />
				<h:form id="workflowInsForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:outputPanel style="width:100%" id="workflowInsGrid" styleClass="ui-g" >


						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="days" value="#{workflowUI.workflow.days}" style="width:95%" />
								<p:outputLabel value="#{lang['days']}#{lang['colon']}" for="days" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="description" value="#{workflowUI.workflow.description}" style="width:95%" />
								<p:outputLabel value="#{lang['description']}#{lang['colon']}" for="description" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="workflow" value="#{workflowUI.workflow.workflow}" style="width:95%" />
								<p:outputLabel value="#{lang['workflow']}#{lang['colon']}" for="workflow" />
							</h:panelGroup>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="jsfForm" value="#{workflowUI.workflow.jsfForm}" style="width:95%" />
								<p:outputLabel value="#{lang['jsf']} #{lang['form']}#{lang['colon']}" for="jsfForm" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
	 					<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:calendar id="createDate" value="#{workflowUI.workflow.createDate}" size="19" showOn="button" pattern="dd-MM-yyyy" mask="true" />
								<p:outputLabel value="#{lang['create']} #{lang['date']}#{lang['colon']}" for="createDate" />
							</h:panelGroup>
						</div> 



						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:workflowList :workflowInsForm:workflowInsGrid" action="#{workflowUI.workflowInsert}" />
							<p:spacer width="5"/>
							<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="workflowInsGrid" process="@this" action="#{workflowUI.prepareNew}">
								<p:resetInput target="workflowInsGrid" />
							</p:commandButton>
						</div>
					</p:outputPanel>
				</h:form>
			</p:outputPanel>


			<p:outputPanel styleClass="card card-w-title">
				<h:form id="mainForm">

					<p:dataTable var="rowVar" value="#{workflowUI.dataModel}" filteredValue="#{workflowUI.workflowfilteredList}" id="workflowList" rowKey="#{rowVar.id}" paginator="true" rows="50" paginatorPosition="bottom"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="50,100" reflow="true" lazy="true">


						<p:column headerText="#{lang['description']}">
							<h:outputText value="#{rowVar.description}" />
						</p:column>
						<p:column headerText="#{lang['parent.workflow']}">
							<h:outputText value="#{rowVar.workflow.description}" styleClass="FontLight"/>
						</p:column>
						<p:column headerText="#{lang['days']}">
							<h:outputText value="#{rowVar.days}" styleClass="Fright"/>
						</p:column>						
						<p:column headerText="#{lang['jsf.form']}" rendered="false">
							<h:outputText value="#{rowVar.jsfForm}" />
						</p:column>
						<p:column headerText="#{lang['create']} #{lang['date']}" rendered="false">
							<h:outputText value="#{rowVar.createDate}" />
						</p:column>


						<p:column width="80" rendered="false">
							<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":workflowInsForm:workflowInsGrid">
								<f:setPropertyActionListener value="#{rowVar}" target="#{workflowUI.workflow}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:workflowList" action="#{workflowUI.workflowDelete}">
								<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVar}" target="#{workflowUI.workflow}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
						<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
					</p:confirmDialog>

				</h:form>

			</p:outputPanel>

		</div>
	</ui:define>
	<!-- 
days = Days
description = Description
workflow = Workflow
jsfForm = jsf Form
createDate = Create Date

-->
</ui:composition>
