.hlsFright .ui-inputfield {
	text-align: right !important;
}

/*

Douglas Test 

.layout-wrapper .layout-menu2 {
  overflow: auto;
  position: fixed;
  width: 250px;
  z-index: 99;
  top: 75px;
  height: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3);
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s; }
  .layout-wrapper .layout-menu2 > .nano2 > .nano-content2.menu-scroll-content2 {
    display: block;
    height: 100%;
    position: relative;
    overflow: scroll;
    overflow-x: hidden; }
  .layout-wrapper .layout-menu2 > .nano2 > .nano-content2 > ul:last-child {
    margin-top: 16px;
    padding-bottom: 120px; }
  .layout-wrapper .layout-menu2 > .nano2 .nano-pane .nano-slider {
    background-color: #aaaaaa;
    opacity: 0.3;
    filter: alpha(opacity=30); }
    
     .layout-wrapper.menu-layout-horizontal .layout-menu2 ul.ultima-menu > li {
      float: right;
      position: relative; }
  
    
    
    
    Next
    
    .layout-wrapper.menu-layout-horizontal .layout-menu {
    overflow: visible;
    position: fixed;
    width: 100%;
    top: 75px;
    height: auto;
    background-color: #F5F5F6;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }
    .layout-wrapper.menu-layout-horizontal .layout-menu > .nano {
      overflow: visible; }
      .layout-wrapper.menu-layout-horizontal .layout-menu > .nano .nano-content.menu-scroll-content {
        display: inherit;
        height: auto;
        position: static;
        overflow: visible;
        overflow-x: visible; }
      .layout-wrapper.menu-layout-horizontal .layout-menu > .nano .nano-content ul:last-child {
        margin-top: 0px;
        padding-bottom: 0px; }
      .layout-wrapper.menu-layout-horizontal .layout-menu > .nano .nano-pane {
        display: none !important; }
    .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu:last-child {
      margin-top: 0; }
    .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu > li {
      float: left;
      position: relative; }
      .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a {
        color: #ffffff; }
        .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a i {
          color: #ffffff; }
        .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a:hover {
          background-color: #e8e8e8;
          color: #212121; }
          .layout-wrapper.menu-layout-horizontal .layout-menu ul.ultima-menu > li > a:hover i {
            color: #212121; }
            
            */

/*try@2*/
@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Oxygen:400,700);

/*
  Globals
*/
h1 {
	line-height: 30px;
}

.ui-separator {
	box-shadow: none;
	background-color: #D2D2D2;
	height: 1px;
	border: 0px;
	width: 101%;
}

@media ( min-width : 2500px) and (max-width:5000px) {
	nav#slide-menu {
		position: inherit;
		top: 100px;
		bottom: 0;
		float: none;
		width: 100%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 2500px) and (max-width:5000px) {
	div#slide-div {
		top: 100px;
		right: 10px;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1775px) and (max-width:2500px) {
	nav#slide-menu {
		position: fixed;
		top: 100px;
		right: 20px;
		bottom: 0;
		display: block;
		float: right;
		width: 20%;
		max-width: 300px;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1775px) and (max-width:2500px) {
	div#slide-div {
		top: 100px;
		right: 10px;
		bottom: 0;
		display: block;
		width: 79%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1535px) and (max-width:1775px) {
	nav#slide-menu {
		position: fixed;
		top: 100px;
		right: 20px;
		bottom: 0;
		display: block;
		float: right;
		width: 23%;
		max-width: 300px;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1535px) and (max-width:1775px) {
	div#slide-div {
		top: 100px;
		right: 10px;
		bottom: 0;
		display: block;
		width: 75%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1326px) and (max-width:1535px) {
	nav#slide-menu {
		position: fixed;
		top: 100px;
		right: 20px;
		bottom: 0;
		display: block;
		float: right;
		width: 27%;
		max-width: 300px;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 1326px) and (max-width:1535px) {
	div#slide-div {
		top: 100px;
		right: 10px;
		bottom: 0;
		display: block;
		width: 70%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 50px) and (max-width:1326px) {
	nav#slide-menu {
		position: inherit;
		top: 100px;
		bottom: 0;
		float: none;
		width: 100%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

@media ( min-width : 50px) and (max-width:1326px) {
	div#slide-div {
		top: 100px;
		bottom: 0;
		display: block;
		width: 100%;
		height: 100%;
		-moz-transition: all 100ms;
		-webkit-transition: all 100ms;
		transition: all 100ms;
	}
}

body.menu-active nav#slide-menu {
	left: 0px;
}

body.menu-active nav#slide-menu ul {
	left: 0px;
	opacity: 1;
}

/* 	@media (min-width: 1256px) and (max-width:1508px) {
	
 nav#slide-menu {
	position: fixed;
	top: 100px;
	right: 10px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 250px;
	height: 100%;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	
	}
}


@media (min-width: 1023px) and (max-width:1256px) {
	
 nav#slide-menu {
	position: inherit;
	top: 100px;
	right: 10px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 250px;
	height: 100%;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	
	}
}



@media (min-width: 769px) and (max-width:1022px) {
	
 nav#slide-menu {
	position: fixed;
	top: 100px;
	right: 10px;
	bottom: 0;
	display: block;
	float: right;
	width: 100%;
	max-width: 250px;
	height: 100%;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;

	
	}
} */
@media ( min-width : 480px) and (max-width:1280px) {
	.tyronecustomclass {
		width: 10vw !important;
		height: 10vh !important;
	}
}