@CHARSET "UTF-8";
/* Floating */
.Fleft {
	float: left;
}

.Fright {
	float: right;
}

.Fnone {
	float: none !important;
}

.redCD {
	color: #ffffff !important;
	background-color: red !important;
	background-image: none !important;
}

.yellowCD {
	background-color: #ffff00 !important;
	background-image: none !important;
}

.greenCD {
	background-color: #00ff00 !important;
	background-image: none !important;
}

.NoRedBackgroundBlackText {
	background-color: #FFF !important;
	color: #202020 !important;
}
/* Font Sizes */
.Fs9 {
	font-size: 9px !important;
}

.Fs10 {
	font-size: 10px !important;
}

.Fs11 {
	font-size: 11px !important;
}

.Fs12 {
	font-size: 12px !important;
}

.Fs13 {
	font-size: 13px !important;
}

.Fs14 {
	font-size: 14px !important;
}

.Fs15 {
	font-size: 15px !important;
}

.Fs16 {
	font-size: 16px !important;
}

.Fs17 {
	font-size: 17px !important;
}

.Fs18 {
	font-size: 18px !important;
}

.Fs19 {
	font-size: 19px !important;
}

.Fs20 {
	font-size: 20px !important;
}

.Fs21 {
	font-size: 21px !important;
}

.Fs22 {
	font-size: 22px !important;
}

.Fs23 {
	font-size: 23px !important;
}

.Fs24 {
	font-size: 24px !important;
}

.Fs25 {
	font-size: 25px !important;
}

.Fs26 {
	font-size: 26px !important;
}

.Fs27 {
	font-size: 27px !important;
}

.Fs28 {
	font-size: 28px !important;
}

.Fs29 {
	font-size: 29px !important;
}

.Fs30 {
	font-size: 30px !important;
}

.Fs40 {
	font-size: 40px !important;
}

.Fs50 {
	font-size: 50px !important;
}

.Fs60 {
	font-size: 60px !important;
}

.Fs100 {
	font-size: 100px !important;
}

.Fs130 {
	font-size: 130px !important;
}

/* Empty Boxes */
.EmptyBox5 {
	display: block;
	width: 100% !important;
	height: 5px !important;
	overflow: hidden !important;
}

.EmptyBox10 {
	display: block;
	width: 100% !important;
	height: 10px !important;
	overflow: hidden !important;
}

.EmptyBox15 {
	display: block;
	width: 100% !important;
	height: 15px !important;
	overflow: hidden !important;
}

.EmptyBox20 {
	display: block;
	width: 100% !important;
	height: 20px !important;
	overflow: hidden !important;
}

.EmptyBox30 {
	display: block;
	width: 100% !important;
	height: 30px !important;
	overflow: hidden !important;
}

.EmptyBox40 {
	display: block;
	width: 100% !important;
	height: 40px !important;
	overflow: hidden !important;
}

.EmptyBox50 {
	display: block;
	width: 100% !important;
	height: 50px !important;
	overflow: hidden !important;
}

.EmptyBox60 {
	display: block;
	width: 100% !important;
	height: 60px !important;
	overflow: hidden !important;
}

.EmptyBox70 {
	display: block;
	width: 100% !important;
	height: 70px !important;
	overflow: hidden !important;
}

.EmptyBox80 {
	display: block;
	width: 100% !important;
	height: 80px !important;
	overflow: hidden !important;
}

.EmptyBox90 {
	display: block;
	width: 100% !important;
	height: 90px !important;
	overflow: hidden !important;
}

.EmptyBox100 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox110 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox120 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox130 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox140 {
	display: block;
	width: 100% !important;
	height: 100px !important;
	overflow: hidden !important;
}

.EmptyBox150 {
	display: block;
	width: 100% !important;
	height: 150px !important;
	overflow: hidden !important;
}

/* text colors */
.red {
	color: #D0525D !important;
}

.blue {
	color: #33AFDE !important;
}

.green {
	color: #5fcf80 !important;
}

.orange {
	color: #F7941E !important;
}

.white {
	color: #F1F6F9 !important;
}

.softgray {
	color: #C3CCD5 !important;
}

.gray {
	color: #778D9B !important;
}

.black {
	color: #3B3D3F !important;
}

/* Width */
.Wid100 {
	width: 100%;
}

.Wid90 {
	width: 90%;
}

.Wid80 {
	width: 80%;
}

.Wid70 {
	width: 70%;
}

.Wid60 {
	width: 60%;
}

.Wid50 {
	width: 50%;
}

.Wid45 {
	width: 45%;
}

.Wid40 {
	width: 40%;
}

.Wid30 {
	width: 30%;
}

/* Width Special Values */
.Wid33 {
	width: 33.3%;
}

.Wid25 {
	width: 25%;
}

.Wid20 {
	width: 20%;
}

.Wid10 {
	width: 10%;
}

.MarTop5 {
	margin-top: 5px;
}

.MarTop10 {
	margin-top: 10px;
}

.MarTop20 {
	margin-top: 20px;
}

.MarTop30 {
	margin-top: 30px;
}

.MarTop40 {
	margin-top: 40px;
}

.MarTop50 {
	margin-top: 50px;
}

.MarTopQuarter {
	margin-top: 25%;
}

.MarTopHalf {
	margin-top: 50%;
}

.MarBot10 {
	margin-bottom: 10px;
}

.MarRight10 {
	margin-right: 10px;
}

.MarRight20 {
	margin-right: 20px;
}

.Seperator {
	border-bottom: solid 1px #C3CCD5;
	width: 100%;
	overflow: hidden;
	height: 0px;
	margin: 15px 0px;
	float: left;
}

/* Font Type */
.FontBold {
	font-weight: bold !important;
}

.FontLight {
	font-weight: lighter !important;
}

.FontNormal {
	font-weight: normal !important;
}

.FontItalic {
	font-style: italic !important;
}

/* text size*/
/* .BigTopic{ font-weight: bold !important; font-size: 25px !important;} */

/* START of THEME override   */
.landing-wrapper #header .header-top .logo {
	display: inline-block !important;
	vertical-align: middle !important;
	width: 200px !important;
	height: 60px !important;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left
		no-repeat !important;
	background-size: 182px 70px !important;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.landing-wrapper .header .header-top .logo {
		background: url("#{resource['ultima-layout:images/logo.png']}") top left
			no-repeat !important;
		background-size: 182px 70px !important;
	}
}

.layout-wrapper .topbar .logo {
	display: inline-block !important;
	vertical-align: middle !important;
	width: 200px !important;
	height: 70px !important;
	background: url("#{resource['ultima-layout:images/logo.png']}") top left
		no-repeat !important;
	background-size: 182px 70px !important;
}

.layout-wrapper .topbar .topbar-left {
	box-sizing: border-box !important;
	padding: 5px !important;
	height: 75px !important;
	width: 250px !important;
	background-color: #FfFFFF !important;
	float: left !important;
	-webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
	-moz-box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
	box-shadow: 3px 0 6px rgba(0, 0, 0, 0.3) !important;
}

@media ( -webkit-min-device-pixel-ratio : 2) , ( min-resolution :
	192dpi) {
	.layout-wrapper .topbar .logo {
		background: url("#{resource['ultima-layout:images/logo.png']}") top left
			no-repeat !important;
		background-size: 182px 70px !important;
	}
}

div.fc-center {
	font-size: 0.6em !important;
	padding-top: 6px !important;
	font-weight: 400 !important;
}

th.fc-day-header.ui-widget-header.fc-tue {
	font-size: 0.9em !important;
	font-weight: 400 !important;
}

td.fc-axis.ui-widget-content {
	font-size: 0.9em !important;
}

.ui-column-title {
	font-weight: 501 !important;
}

.dashboard .colorbox .colorbox-name {
	font-size: 20px;
	display: inline-block;
	width: 100%;
	margin: 4px 0 10px 0;
	color: #ffffff;
}

.dashboard .colorbox .colorbox-count {
	color: #ffffff;
	font-size: 36px;
}

.dashboard .colorbox .colorbox-count {
	font-weight: bold;
}

.dashboard .colorbox.colorbox-green div:first-child {
	background-color: #2E7D32;
}

.dashboard .colorbox.colorbox-green div:last-child {
	background-color: #4CAF50;
}

.dashboard .colorbox.colorbox-amber div:first-child {
	background-color: #A76500;
}

.dashboard .colorbox.colorbox-amber div:last-child {
	background-color: #FF9A00;
}

.dashboard .colorbox.colorbox-red div:first-child {
	background-color: #C51B00;
}

.dashboard .colorbox.colorbox-red div:last-child {
	background-color: #FF2300;
}

.hsTH {
	font-weight: bold !important;
	font-size: 15px !important;
}

.hsTD {
	font-weight: lighter !important;
	font-size: 15px !important;
}

.hsPointsRed {
	color: #FF2300;
}

.hsPointsAmber {
	color: #FF9A00;
}

.hsPointsGreen {
	color: #4CAF50;
}

.outputTextArea {
	width: 100%;
	word-wrap: break-word;
}

.panelLabel {
	font-weight: bold;
	padding-right: 10px;
	display: inline-block;
	font-size: 15px;
	margin-bottom: 5px;
}

.panelContent {
	font-weight: normal;
	display: inline-block;
}

.panelBlock {
	border: 0.5pt solid #eeeeee;
	display: block;
}

.divider {
	width: 5px;
	height: auto;
	display: inline-block;
}

.breakWord {
	word-wrap: break-word;
}

.hsauto   input {
	width: 88% !important;
}

.hslabel {
	color: #9F9F9F !important;
}

.login-panel {
	width: 450px !important;
	min-height: 440px;
	padding: 50px 20px;
	margin: 100px auto 0 auto;
}

.login-panel .ui-g .ui-g-12 {
	padding: 25px 20px;
}

.login-panel .ui-g .ui-g-12 .ui-button {
	margin-bottom: 20px;
}

.customToolTip {
	font-size: 1.0em !important;
	background-color: #323232 !important;
	border-top-color: #323232 !important;
	border-bottom-color: #323232 !important;
	border-left-color: #323232 !important;
	border-right-color: #323232 !important;
	color: #ffffff !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
}

body .ui-paginator {
	background-color: #ffffff !important;
	color: #000000;
}

body .ui-paginator .ui-paginator-pages a {
	color: #000000;
}

.rounded {
	-moz-border-radius: 15px 15px 15px 15px; 
	border-radius : 15px 15px 15px 15px; 
	browsersborder : solid 1px #000;
	background-color: #C3181C;
	padding: 2px;
}

.ui-datagrid-no-border .ui-datagrid-content {
	border: none;
}

body .ui-widget-header {
	border: 1px solid #C0C0C0 !important;
}

body .ui-paginator a {
	color: #000000;
}

.ui-button {
	margin-bottom: 5px;
}
 .dashboard .colorbox .colorbox-name {
    font-size: 20px;
    display: inline-block;
    width: 100%;
    margin: 4px 0 10px 0;
    color: #ffffff; }
  .dashboard .colorbox .colorbox-count {
    color: #ffffff;
    font-size: 36px; }
  .dashboard .colorbox .colorbox-count {
    font-weight: bold; }


.dashboard .colorbox.colorbox-0 div:first-child {background-color: #808080;}
.dashboard .colorbox.colorbox-0 div:last-child {background-color: #c0c0c0;}

.dashboard .colorbox.colorbox-1 div:first-child {background-color: #125796;}
.dashboard .colorbox.colorbox-1 div:last-child {background-color: #1871c3;}

.dashboard .colorbox.colorbox-2 div:first-child {background-color: #963b12;}
.dashboard .colorbox.colorbox-2 div:last-child {background-color: #c34d18;}

.dashboard .colorbox.colorbox-3 div:first-child {background-color: #129651;}
.dashboard .colorbox.colorbox-3 div:last-child {background-color: #18c36a;}

.dashboard .colorbox.colorbox-4 div:first-child {background-color: #579612;}
.dashboard .colorbox.colorbox-4 div:last-child {background-color: #71c318;}

.dashboard .colorbox.colorbox-5 div:first-child {background-color: #9c1f1f;}
.dashboard .colorbox.colorbox-5 div:last-child {background-color: #C62828;}

.dashboard .colorbox.colorbox-6 div:first-child {background-color: #ea575b;}
.dashboard .colorbox.colorbox-6 div:last-child {background-color: #f08487;}

.dashboard .colorbox.colorbox-7 div:first-child {background-color: #961236;}
.dashboard .colorbox.colorbox-7 div:last-child {background-color: #c31847;}

.dashboard .colorbox.colorbox-8 div:first-child {background-color: #129693;}
.dashboard .colorbox.colorbox-8 div:last-child {background-color: #18c3bf;}

.dashboard .colorbox.colorbox-9 div:first-child {background-color: #129651;}
.dashboard .colorbox.colorbox-9 div:last-child {background-color: #18c36a;}


@media ( max-width : 1024px) , ( max-height : 736px) {
	.ui-dialog.fullScreen {
		width: 99.5vw !important;
		height: 98vh !important;
		padding: 0px 0px !important;
		overflow-y: scroll !important;
		overflow-x: hidden !important;
		position: fixed;
	}
}