<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="poTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>#{lang['collect.deliver']}</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-plus" value="#{lang['create']}"
					action="#{collectDeliverTableUI.clearContract}"
					update=":quoteCreateForm" oncomplete="PF('createQuoteDlg').show()" />
				<p:spacer width="5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}"
					action="#{collectDeliverTableUI.clearSearch}" update=":searchForm"
					oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer
							width="5px" />#{lang['below.is.all.collect.deliver']}</span>
				</div>
				<div class="EmptyBox5" />
				<c:if
					test="#{collectDeliverTableUI.collectDeliverContractList.size() le 0}">
					<h3>#{lang['no.collect.deliver']}</h3>
				</c:if>
				<p:dataTable id="purchaseOrderTable" var="cdt"
					value="#{collectDeliverTableUI.collectDeliverContractList}"
					rendered="#{collectDeliverTableUI.collectDeliverContractList.size() gt 0}">
					<p:column headerText="#{lang['contract.number']}">
						<h:outputText
							value="#{cdt.contract.contractNumber eq null ?'NA' :cdt.contract.contractNumber}" />
					</p:column>
					<p:column headerText="Status">
						<h:outputText
							value="#{cdt.collectionDeliveryOverView.friendlyName}" />
					</p:column>
					<p:column headerText="#{lang['number']}">
						<h:outputText value="#{cdt.cdnNumber}" />
					</p:column>
					<p:column>
						<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right"
							ajax="false" process="@this"
							action="#{collectDeliverTableUI.zoomTo}">
							<f:setPropertyActionListener value="#{cdt}"
								target="#{collectDeliverTableUI.collectDeliverContract}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="dwnlj" icon="fa fa-download" ajax="false"
							immediate="true" process="@this"
							action="#{collectDeliverTableUI.downloadDoc}" update="@form">
							<f:setPropertyActionListener value="#{cdt}"
								target="#{collectDeliverTableUI.collectDeliverContract}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
			</p:outputPanel>
		</h:form>

		<p:dialog styleClass="ui-g-12" header="#{lang['search.criteria']}"
			widgetVar="searchDlg" draggable="false" resizable="false"
			hideEffect="clip" showEffect="clip" id="searchDlg" position="center"
			modal="true" minWidth="500" width="60%" closeOnEscape="true">
			<div class="ui-g">
				<div class="ui-g-12">
					<h:form id="searchForm">
						<p:panelGrid columns="1" style="width:100%"
							id="collectDeliverPnlGrid" layout="grid"
							styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup>
								<span class="gray Fs13"><i class="fa fa-info-circle"></i>
									<p:spacer width="5px" />#{lang['everything.is.optional']}</span>
							</h:panelGroup>
							<h:panelGroup>
								<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
								<p:inputText value="#{collectDeliverTableUI.ceNumber}"
									placeholder="#{lang['e.g.A0004310.or.E00089021']}"
									style="width:100%" />
							</h:panelGroup>
							<h:panelGroup>
								<p:outputLabel value="Collection Delivery Number: " />
								<p:inputText value="#{collectDeliverTableUI.cdNumber}"
									placeholder="e.g.CDN00786" style="width:100%" />
							</h:panelGroup>
							<h:panelGroup>
								<p:outputLabel value="Any Text: " />
								<p:inputText value="#{collectDeliverTableUI.anyText}"
									placeholder="Any Text" style="width:100%" />
							</h:panelGroup>
							<h:panelGroup>
								<p:commandButton value="#{lang['search']}" update=":poTableForm"
									action="#{collectDeliverTableUI.searchFor}"
									oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
								<p:spacer width="5" />
								<p:commandButton value="#{lang['clear']}"
									action="#{collectDeliverTableUI.clearSearch}" update="@form"
									icon="ui-icon-refresh" />
							</h:panelGroup>
						</p:panelGrid>
					</h:form>
				</div>
			</div>
		</p:dialog>

		<p:dialog header="Create Collection Delivery for Contract"
			widgetVar="createQuoteDlg" draggable="false" resizable="false"
			hideEffect="clip" showEffect="clip" id="createQuoteDlg"
			position="center" modal="true" minWidth="500" width="30vw"
			closeOnEscape="true">
			<h:form id="quoteCreateForm">
				<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer
						width="5px" />#{lang['search.by.title,.escription.or.contract/enquiry.number']}</span>
				<div class="EmptyBox5" />
				<p:outputLabel value="#{lang['contract.look-up']}" />
				<div class="EmptyBox5" />
				<p:autoComplete id="resourceAutoComplete"
					value="#{collectDeliverTableUI.contract}"
					completeMethod="#{collectDeliverTableUI.completeContract}"
					var="contractAuto"
					itemLabel="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}"
					itemValue="#{contractAuto}" forceSelection="true"
					converter="ContractConvertor" dropdown="true" minQueryLength="1"
					maxResults="10" placeholder="#{lang['contract']}">
					<p:column headerText="#{lang['contract.number']}"
						style="white-space: nowrap">
						<p:outputLabel
							value="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}"
							escape="false" />
					</p:column>
					<p:column headerText="#{lang['contract.title']}"
						style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.title}" escape="false" />
					</p:column>
				</p:autoComplete>
				<div class="EmptyBox20" />
				<p:commandButton value="#{lang['create']}" ajax="false"
					action="#{collectDeliverTableUI.createCDWithContract}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['cancel']}"
					action="#{collectDeliverTableUI.clearContract}"
					oncomplete="PF('createQuoteDlg').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>