<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">
	<ui:define name="content">

		<!-- <ui:include src="/pages/includes/collectionDeliveryDetailDialogForm.xhtml"/>  -->

		<h:form id="DetailsForm">
			<p:outputPanel id="iconRaiserPnl" styleClass="ui-g dashboard">
				<div class="ui-g-12 ui-md-6 ui-lg-4">
					<a style="cursor: pointer" onmouseup="PF('customerDetailDlg').show()">
						<div class="ui-g card colorbox colorbox-4" style="height: 85px !important;">
							<div class="ui-g-4">
								<i class="material-icons">perm_identity</i>
							</div>
							<div class="ui-g-8">
								<span class="colorbox-name" style="font-weight: bold !important;">Customer Details <br /> <br /> <p:outputLabel value="#{sessionUI.customer.customerName}" />
								</span>
							</div>
						</div>
					</a>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-4">
					<a style="cursor: pointer" onmouseup="PF('enquiryDetailDlg').show()">
						<div class="ui-g card colorbox colorbox-2" style="height: 85px !important;">
							<div class="ui-g-4">
								<i class="material-icons">library_books</i>
							</div>
							<div class="ui-g-8">
								<span class="colorbox-name" style="font-weight: bold !important;">Contract Details <br /> <br /> <p:outputLabel value="#{sessionUI.contract.contractNumber ne null ? sessionUI.contract.contractNumber : sessionUI.contract.enquiryNumber}" />
								</span>
							</div>
						</div>
					</a>
				</div>
			</p:outputPanel>
		</h:form>

		<p:outputPanel>
			<div class="ui-g card">
				<div class="ui-g-12">
					<h:form id="collectDeliverForm1">
						<p:ajaxStatus oncomplete="cleanupTooltips();" />
						<p:growl sticky="false">
							<p:autoUpdate />
						</p:growl>
						<h1>Collection/Delivery #{collectDeliverUI.cdc.cdnNumber} REV No. #{collectDeliverUI.cdc.revisionNumber}</h1>
						<h2>#{collectDeliverUI.cdc.contract.contractNumber}</h2>
						<p:panelGrid columns="1" style="width:100%" id="collectDeliverPnlGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">

							<div class="ui-g-6">
								<p:fieldset id="addressField" styleClass="Fright" legend="Address" style="margin-top: 20px">
									<p:inputTextarea rows="10" cols="50" id="addressLineTextArea" value="#{collectDeliverUI.cdc.addressLine}" escape="false" />
								</p:fieldset>
							</div>

							<p:fieldset legend="Line Items" id="deliveryFieldset1">
								<h:panelGroup>
									<p:outputLabel value="Item Status:" />
									<p:spacer width="5" />
									<p:selectOneMenu id="collectDeliverRadio" required="true" requiredMessage="Please Provide a Status" value="#{collectDeliverUI.cdi.collectionDelivery}">
										<p:ajax />
										<f:selectItems value="#{collectDeliverUI.collectDeliverEnumDD}" var="pof" itemLabel="#{pof.description}" itemValue="#{pof}" />
									</p:selectOneMenu>
									<div class="EmptyBox10" />
								</h:panelGroup>
								<p:spacer width="10" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText value="#{collectDeliverUI.cdi.company}" id="company" required="true" requiredMessage="Please Provide Company Name" />
									<p:outputLabel value="Company" />
								</h:panelGroup>
								<p:spacer width="5" />
								<div class="EmptyBox10" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputTextarea value="#{collectDeliverUI.cdi.description}" id="description" style="width:90%" required="true" requiredMessage="Please Provide Description" />
									<p:outputLabel value="Description" />
								</h:panelGroup>
								<p:spacer width="5" />
								<div class="EmptyBox10" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText value="#{collectDeliverUI.cdi.size}" id="size" required="true" requiredMessage="Please Provide Size" />
									<p:outputLabel value="Size" />
								</h:panelGroup>
								<p:spacer width="5" />
								<div class="EmptyBox10" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputNumber decimalPlaces="0" value="#{collectDeliverUI.cdi.quantity}" id="quantity" required="true" requiredMessage="Please Provide Quantity" />
									<p:outputLabel value="Quantity" />
								</h:panelGroup>
								<div class="EmptyBox20" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText value="#{collectDeliverUI.cdi.poNumber}" id="poNumber" />
									<p:outputLabel value="P.O. Number" />
								</h:panelGroup>
								<div class="EmptyBox20" />
								<h:panelGroup styleClass="md-inputfield">
									<p:inputText value="#{collectDeliverUI.cdi.lineNumber}" id="lineNumber" />
									<p:outputLabel value="Line Number" />
								</h:panelGroup>
								<div class="EmptyBox10" />
								<h:panelGroup styleClass="md-inputfield" rendered="false">
									<p:inputNumber decimalPlaces="2" decimalSeparator="." thousandSeparator="," symbolPosition="p" symbol="£ " value="#{collectDeliverUI.cdi.pricePerItem}" required="true" requiredMessage="Please Provide Price per unit" />
									<p:outputLabel value="Price Per Unit" />
								</h:panelGroup>
								<div class="EmptyBox10" />
								<p:outputLabel rendered="#{collectDeliverUI.cdiList.size() eq 0}" styleClass="Fs18" value="No items have been added yet" />
							</p:fieldset>

							<h:panelGroup class="ui-g-12">
								<p:commandButton value="Add Line Item" action="#{collectDeliverUI.addCDI}" icon="fa fa-plus" update="@form" process="collectDeliverForm1:collectDeliverPnlGrid" rendered="true" />
								<p:spacer width="5" />
								<p:commandButton value="Clear Line Item" icon="fa fa-minus" process="@this" update="@form" action="#{collectDeliverUI.clearCDI}" />
								<p:spacer width="5" />
								<p:commandButton value="Save Form" icon="fa fa-floppy-o" action="#{collectDeliverUI.saveCDC}" process=" collectDeliverForm1:addressLineTextArea @this" update="@form" />
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-refresh" value="Clear Form" action="#{collectDeliverUI.prepareNewCDCWithCDI}" update="@form" process="@this" />
								<p:commandButton rendered="#{collectDeliverUI.cdc.id ne null}" value="Download Form" icon="fa fa-download" ajax="false" immediate="true" process="@this" action="#{collectDeliverUI.downloadDoc}" />

							</h:panelGroup>

							<p:dataTable var="rVar" rendered="#{collectDeliverUI.cdiList.size() gt 0}" value="#{collectDeliverUI.cdiList}" id="cdiDT" rowKey="#{rVar.id}" paginator="true" rows="5" paginatorPosition="bottom"
								paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,25" reflow="true" lazy="false"
								rowStyleClass="#{(rVar.collectionDelivery.ordinal() eq 1 or rVar.collectionDelivery.ordinal() eq 2) ?'yellowCD' :(rVar.collectionDelivery.ordinal() eq 3 or rVar.collectionDelivery.ordinal() eq 4) ?'greenCD' :(rVar.collectionDelivery.ordinal() eq 0) ?'redCD' :null}">
								<p:column headerText="Description/ Component">
									<h:outputText value="#{rVar.description}" />
								</p:column>
								<p:column headerText="Size">
									<h:outputText value="#{rVar.size}" />
								</p:column>
								<p:column headerText="Quantity">
									<h:outputText value="#{rVar.quantity}" />
								</p:column>
								<p:column headerText="P.O. Number">
									<h:outputText value="#{rVar.poNumber}" />
								</p:column>
								<p:column headerText="Line Number">
									<h:outputText value="#{rVar.lineNumber}" />
								</p:column>
								<p:column headerText="Total Price" rendered="false">
									<h:outputText value="#{rVar.totalPrice}">
										<f:convertNumber type="currency" currencySymbol="&#163;" />
									</h:outputText>
								</p:column>
								<p:column headerText="Company">
									<h:outputText value="#{rVar.company}" />
								</p:column>
								<p:column headerText="Files Uploaded">
									<h:outputText value="#{rVar.docs.size() gt 0 ?rVar.docs.size() :'No Documents'}" />
								</p:column>
								<p:column headerText="Status">
									<h:outputText value="#{rVar.collectionDelivery.friendlyName}" />
								</p:column>
								<p:column width="10%">
									<p:commandButton icon="fa fa-database" title="Update" id="updateBtn" action="#{collectDeliverUI.updateFromList}" process="@this" update="@form" rendered="true">
										<f:setPropertyActionListener value="#{rVar}" target="#{collectDeliverUI.cdi}" />
									</p:commandButton>
									<p:spacer width="5" rendered="#{rVar.id ne null}" />
									<p:commandButton rendered="#{rVar.id ne null}" icon="ui-icon-cloud-upload" title="Upload Documents" id="uploadBtn" action="#{collectDeliverUI.prepareDocAndDocsForCDI}" oncomplete="PF('sessionUploadDlg1').show()" process="@this" update=":sessionUploadForm1 cdiDT">
										<f:setPropertyActionListener value="#{rVar}" target="#{collectDeliverUI.cdi}" />
									</p:commandButton>
									<p:spacer width="5" />
									<p:commandButton icon="fa fa-trash " id="deleteBtn" action="#{collectDeliverUI.removeCDI}" process="@this" update="@form" rendered="true">
										<f:setPropertyActionListener value="#{rVar}" target="#{collectDeliverUI.cdi}" />
										<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
									</p:commandButton>

									<p:tooltip for="updateBtn" position="" value="Update" />
									<p:tooltip for="uploadBtn" position="" value="Upload Documents" />
									<p:tooltip for="deleteBtn" position="" value="Remove item" />
								</p:column>
							</p:dataTable>
						</p:panelGrid>
					</h:form>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						<p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</p:confirmDialog>
				</div>
			</div>
		</p:outputPanel>
		<p:dialog closable="false" header="#{lang['upload']}" widgetVar="sessionUploadDlg" draggable="true" resizable="false" hideEffect="clip" showEffect="clip" id="sessionUploadDlg" position="center" modal="true" minWidth="500" width="60vw" >

			<h:form id="sessionUploadForm">
				<p:scrollPanel mode="native" style="width:auto;height:600px;border:0px">
					<p:ajaxStatus oncomplete="cleanupTooltips();" />
					<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid2" layout="grid" styleClass="card ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea style="width:98%" value="#{uploadDocUI.doc.documentContent}">
									<p:ajax process="@this"></p:ajax>
								</p:inputTextarea>
								<p:outputLabel value="Description for Upload" for="uploadPnlGrid2" />
							</h:panelGroup>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="2" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:autoComplete id="configdocAuto" var="config" converter="ConfigDocConvertor" value="#{uploadDocUI.configDoc}" completeMethod="#{collectDeliverUI.completeConfigDoc}" itemLabel="#{config.name}" itemValue="#{config}" forceSelection="true" dropdown="true">
									<p:ajax event="itemSelect" update="@form" />
									<p:ajax event="change" update="@form" />
									<p:column>
										<p:outputLabel value="#{config.name}" />
									</p:column>
								</p:autoComplete>
								<p:outputLabel value="#{lang['document.upload.type']}" for="configdocAuto" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />Select a Document Type to Upload</span>
							</h:panelGroup>

							<p:fileUpload style="width:98%" fileUploadListener="#{uploadDocUI.saveFile}" rendered="#{uploadDocUI.configDoc.id ne null}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false"
								fileLimit="1" immediate="false" auto="true" update="@form" />

						</p:panelGrid>

						<div class="EmptyBox5"></div>
					</p:panelGrid>
					<div class="EmptyBox10" />
					<h2>#{lang['documents']} for #{sessionUI.contract.contractNumber}</h2>
					<p:dataTable var="rVar" value="#{uploadDocUI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,25" reflow="true" lazy="false">
						<p:column headerText="#{lang['original.file.name']}">
							<h:outputText value="#{rVar.originalFname}" />
						</p:column>
						<p:column headerText="#{lang['date.uploaded']}">
							<h:outputText value="#{rVar.addDate}">
								<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{lang['owner']}">
							<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
						</p:column>
						<p:column headerText="#{lang['document.type']}">
							<h:outputText value="#{rVar.configDoc.name}" />
						</p:column>
						<p:column width="9%">
							<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
								<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{uploadDocUI.showHistory}" update=":documenttrackeForm">
								<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="download" position="" value="#{lang['download.document']}" />
							<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
						</p:column>
					</p:dataTable>
					<br />
					<p:commandButton value="#{lang['close']}" icon="fa fa-times" oncomplete="PF('sessionUploadDlg').hide()" />
				</p:scrollPanel>
			</h:form>

		</p:dialog>


		<p:dialog draggable="false"  header="#{lang['document.tracker']}" widgetVar="histDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialog" modal="true" width="40%">
			<h:form id="documenttrackeForm">
				<p:ajaxStatus oncomplete="cleanupTooltips();" />
				<p:dataTable value="#{collectDeliverUI.documentTrackers}" var="rv" id="documenttrackeList" paginator="true" rows="6" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column id="columnEight" headerText="#{lang['date.time']}" sortBy="#{rv.date}">
						<h:outputText value="#{rv.date}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{lang['user']}">
						<p:outputLabel value="#{rv.user.firstName} #{rv.user.lastName}" />
					</p:column>
					<p:column headerText="#{lang['action']}">
						<p:outputLabel value="#{rv.documentTrackerEnum.friendlyName}" />
					</p:column>
				</p:dataTable>
				<div class="EmptyBox10" />
			</h:form>
		</p:dialog>

		<p:dialog id="enquiryDetailDlg1" hideEffect="clip" showEffect="clip" responsive="true" widgetVar="enquiryDetailDlg1" header="#{lang['enquiry.details']}" position="center" width="80%" modal="true" draggable="false" resizable="false" closeOnEscape="true">
			<h:form id="enquiryDetailsForm1">
				<p:outputPanel styleClass=" ui-g">
					<c:if test="#{toggleUI.hideEnquiryDetails eq false}">

						<p:growl sticky="false">
							<p:autoUpdate />
						</p:growl>

						<p:panelGrid columns="4" style="width:90%" id="collectDeliverPnlGrid1" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:outputLabel value="#{lang['enqNumber']}:" for="enqNumber1" />
							<p:outputLabel id="enqNumber1" value="#{sessionUI.contract.enquiryNumber}" />
							<p:outputLabel value="#{lang['enquiry.type']}:" for="enqRepair1" />
							<p:outputLabel id="enqRepair1" value="#{sessionUI.contract.contractType}" />
							<p:outputLabel value="#{lang['title.of.enquiry']}:" for="titleOfEnq1" />
							<p:outputLabel id="titleOfEnq1" value="#{sessionUI.contract.title}" />
							<p:outputLabel value="#{lang['date']}:" for="enqDate1" />
							<p:outputLabel id="enqDate1" value="#{sessionUI.contract.createDate}">
								<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
							</p:outputLabel>
							<p:outputLabel value="#{lang['drawing.number']}:" for="drawNum1" />
							<p:outputLabel id="drawNum1" value="#{sessionUI.contract.drawingNumber}" />
						</p:panelGrid>

						<p:panelGrid columns="4" style="width:90%" styleClass="ui-panelgrid-blank form-group">
							<p:outputLabel value="#{lang['enqDetails']}:" for="enqDetails1" />
							<p:outputLabel id="enqDetails1" value="#{sessionUI.contract.details}" />

							<p:outputLabel value="" for="enqDetails1" />
							<p:outputLabel id="enqDetai1" value="" />

						</p:panelGrid>
						<div class="EmptyBox5" />
						<p:commandButton id="uplDocBtn1" value="Upload Document" action="#{uploadDocUI.initDoc}" icon="fa fa-cloud-upload" oncomplete="PF('sessionUploadDlg').show()" update=":sessionUploadForm" />
						<p:tooltip for="uplDocBtn1" value="#{lang['upload.view.documents']}" position="" />
					</c:if>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog id="enquiryDetailDlg" hideEffect="clip" showEffect="clip" responsive="true" widgetVar="enquiryDetailDlg" header="#{lang['enquiry.details']}" position="center" width="80%" modal="true" draggable="false" resizable="false" closeOnEscape="true">
			<h:form id="enquiryDetailsForm">
				<p:outputPanel styleClass=" ui-g">
					<c:if test="#{toggleUI.hideEnquiryDetails eq false}">

						<p:growl sticky="false">
							<p:autoUpdate />
						</p:growl>

						<p:panelGrid columns="4" style="width:90%" id="collectDeliverPnlGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:outputLabel value="#{lang['enqNumber']}:" for="enqNumber" />
							<p:outputLabel id="enqNumber" value="#{sessionUI.contract.enquiryNumber}" />
							<p:outputLabel value="#{lang['enquiry.type']}:" for="enqRepair" />
							<p:outputLabel id="enqRepair" value="#{sessionUI.contract.contractType}" />
							<p:outputLabel value="#{lang['title.of.enquiry']}:" for="titleOfEnq" />
							<p:outputLabel id="titleOfEnq" value="#{sessionUI.contract.title}" />
							<p:outputLabel value="#{lang['date']}:" for="enqDate" />
							<p:outputLabel id="enqDate" value="#{sessionUI.contract.createDate}">
								<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
							</p:outputLabel>
							<p:outputLabel value="#{lang['drawing.number']}:" for="drawNum" />
							<p:outputLabel id="drawNum" value="#{sessionUI.contract.drawingNumber}" />
						</p:panelGrid>

						<p:panelGrid columns="4" style="width:90%" styleClass="ui-panelgrid-blank form-group">
							<p:outputLabel value="#{lang['enqDetails']}:" for="enqDetails" />
							<p:outputLabel id="enqDetails" value="#{sessionUI.contract.details}" />

							<p:outputLabel value="" for="enqDetails" />
							<p:outputLabel id="enqDetai" value="" />

						</p:panelGrid>
						<div class="EmptyBox5" />
						<p:commandButton id="uplDocBtn" value="Upload Document" action="#{uploadDocUI.runInit}" process="@this" icon="fa fa-cloud-upload" oncomplete="PF('sessionUploadDlg').show()" update=":sessionUploadForm" />
						<p:tooltip for="uplDocBtn" value="#{lang['upload.view.documents']}" position="" />
					</c:if>
				</p:outputPanel>
			</h:form>
		</p:dialog>


		<!--  new dlg -->
		<p:dialog closable="false" header="#{lang['upload']}" widgetVar="sessionUploadDlg1" draggable="true" resizable="false" hideEffect="clip" showEffect="clip" id="sessionUploadDlg1" position="center" modal="true" minWidth="500" width="60vw" >

			<h:form id="sessionUploadForm1">
				<p:scrollPanel mode="native" style="width:auto;height:600px;border:0px">
					<p:ajaxStatus oncomplete="cleanupTooltips();" />
					<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid21" layout="grid" styleClass="card ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea style="width:98%" value="#{collectDeliverUI.doc.documentContent}">
									<p:ajax process="@this"></p:ajax>
								</p:inputTextarea>
								<p:outputLabel value="Description for Upload" for="uploadPnlGrid21" />
							</h:panelGroup>
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid columns="2" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid1" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:autoComplete id="configdocAuto" var="config" converter="ConfigDocConvertor" value="#{collectDeliverUI.configDoc}" completeMethod="#{collectDeliverUI.completeConfigDoc}" itemLabel="#{config.name}" itemValue="#{config}" forceSelection="true" dropdown="true">
									<p:ajax event="itemSelect" update="@form" />
									<p:ajax event="change" update="@form" />
									<p:column>
										<p:outputLabel value="#{config.name}" />
									</p:column>
								</p:autoComplete>
								<p:outputLabel value="#{lang['document.upload.type']}" for="configdocAuto" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />Select a Document Type to Upload</span>
							</h:panelGroup>
							<p:fileUpload style="width:98%" fileUploadListener="#{collectDeliverUI.saveFile}" rendered="#{collectDeliverUI.configDoc.id ne null}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false"
								fileLimit="1" immediate="false" auto="true" update="uploadDocsList1 collectDeliverForm1" />

						</p:panelGrid>

						<div class="EmptyBox5"></div>
					</p:panelGrid>
					<div class="EmptyBox10" />
					<h2>#{lang['documents']} for #{collectDeliverUI.cdi.description}</h2>
					<p:dataTable var="rVar" value="#{collectDeliverUI.docs}" id="uploadDocsList1" rowKey="#{rVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,25" reflow="true" lazy="false">
						<p:column headerText="#{lang['original.file.name']}">
							<h:outputText value="#{rVar.originalFname}" />
						</p:column>
						<p:column headerText="#{lang['date.uploaded']}">
							<h:outputText value="#{rVar.addDate}">
								<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
							</h:outputText>
						</p:column>
						<p:column headerText="#{lang['owner']}">
							<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
						</p:column>
						<p:column headerText="#{lang['document.type']}">
							<h:outputText value="#{rVar.configDoc.name}" />
						</p:column>
						<p:column width="9%">
							<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{collectDeliverUI.download}" id="download" ajax="false">
								<f:setPropertyActionListener value="#{rVar}" target="#{collectDeliverUI.doc}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{collectDeliverUI.showHistory}" update=":documenttrackeForm">
								<f:setPropertyActionListener value="#{rVar}" target="#{collectDeliverUI.doc}" />
							</p:commandButton>
							<p:tooltip for="download" position="" value="#{lang['download.document']}" />
							<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
						</p:column>
					</p:dataTable>
					<br />
					<p:commandButton value="#{lang['close']}" icon="fa fa-times" action="#{collectDeliverUI.clearCDI}" oncomplete="PF('sessionUploadDlg1').hide()" update="collectDeliverForm1:deliveryFieldset1" />
				</p:scrollPanel>
			</h:form>

		</p:dialog>

		<!-- end of new dlg -->
		<script type="text/javascript">
				  //<![CDATA[
				     function cleanupTooltips(){
				    	    $('.ui-tooltip').each(function(index, elem){
				    	        $(elem).hide();
				    	    });
				    	}
				  //]]>  
				</script>
	</ui:define>
</ui:composition>