<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum" var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum" var="contractMaterialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />
		<p:growl id="contractReviewGrwl" sticky="false" ><p:autoUpdate/></p:growl>
		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>

		<h:form id="mainForm">
			<ui:include src="/pages/includes/enquiryDetails.xhtml" />
		</h:form>

		<h:form id="quotePriceForm">
			<ui:include src="/pages/includes/contractQuote.xhtml" />
		</h:form>

		<ui:include src="/pages/includes/rejectionReason.xhtml" />

		<h:form id="quoteAcceptedForm">
			<c:if test="#{quotationUI.contract.contractStatus eq contractStatusEnum.QuoteAccept}">
				<ui:include src="/pages/includes/quoteAccepted.xhtml" />
			</c:if>
		</h:form>

		<p:dialog header="#{lang['upload']}" widgetVar="uploadDialogDocument" resizable="false" hideEffect="clip" showEffect="clip" id="uploadDialogDocument" position="top" modal="true" minWidth="500" width="70%">
			<h:form id="docUpload">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-12 ui-md-3 ">
						<p:outputLabel value="#{lang['document.upload.type']}" for="configDocType" />
					</div>
					<div class="ui-g-12 ui-md-9 ">
						<p:selectOneMenu converter="ConfigDocConvertor" requiredMessage="#{lang['select.document.upload.type']}" placeholder="Select Document Type" value="#{enquiry1UI.configDoc}" id="configDocType" style="width: 100%">
							<f:selectItems value="#{enquiry1UI.docTypeList}" var="rv" itemValue="#{rv}" itemLabel="#{rv.name}" />
							<p:ajax />
						</p:selectOneMenu>
					</div>
					<div class="EmptyBox10" />
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<p:fileUpload fileUploadListener="#{enquiry1UI.saveFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false" fileLimit="1" immediate="false" auto="true" update=":docUpload" />
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<h2>#{lang['documents']}</h2>
						<p:dataTable var="rVar" value="#{enquiry1UI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="5" filteredValue="#{enquiry1UI.docfilteredList}" paginatorPosition="bottom" rendered="#{enquiry1UI.contract ne null}"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">


							<p:column headerText="#{lang['original.file.name']}">
								<h:outputText value="#{rVar.originalFname}" />
							</p:column>

							<p:column headerText="#{lang['date.uploaded']}">
								<h:outputText value="#{rVar.addDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{lang['owner']}">
								<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
							</p:column>

							<p:column headerText="#{lang['document.type']}">
								<h:outputText value="#{rVar.configDoc.name}" />
							</p:column>

							<p:column width="6%">
								<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
									<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{uploadDocUI.showHistory}" update=":documenttrackeForm:documenttrackeList">
									<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
								</p:commandButton>

								<p:tooltip for="download" position="" value="#{lang['download.document']}" />
								<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
							</p:column>
						</p:dataTable>
						<br />
						<p:commandButton value="#{lang['close']}" icon="fa fa-times" oncomplete="PF('uploadDialogDocument').hide()" />
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog draggable="false" header="#{lang['document.tracker']}" widgetVar="histDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialog" modal="true" width="40%">
			<h:form id="documenttrackeForm">
				<h:panelGrid>
					<p:dataTable value="#{uploadDocUI.documentTrackers}" var="rv" id="documenttrackeList" paginator="true" rows="6" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="5,10,15,20,25" reflow="true">
						<p:column id="columnEight" headerText="#{lang['date.time']}" sortBy="#{rv.date}">
							<h:outputText value="#{rv.date}">
								<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{lang['user']}">
        #{rv.user.firstName} #{rv.user.lastName} 
      </p:column>

						<p:column headerText="#{lang['action']}">
         #{rv.documentTrackerEnum.friendlyName}
       </p:column>

					</p:dataTable>
					<div class="EmptyBox10" />

				</h:panelGrid>
			</h:form>
		</p:dialog>


		<ui:include src="/pages/includes/contractDetailView.xhtml" />



	</ui:define>

</ui:composition>