<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum"
			var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum"
			var="materialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum"
			var="contractStatusEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractTypeEnum"
			var="contractTypeEnum" />
		<h:form id="quoteTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>Contract Review</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}"
					action="#{contractreviewTableUI.clearSearch}" update=":searchForm"
					oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer
							width="5px" />below is the contract reviews</span>
				</div>
				<div class="EmptyBox5" />
				<c:if test="#{contractreviewTableUI.contractList.size() le 0}">
					<h3>#{lang['no.contract']}</h3>
				</c:if>
				<div class="EmptyBox5" />
				<p:tabView id="tabView">
					<p:ajax event="tabChange"
						listener="#{contractreviewTableUI.onTabChange}" process="@this"
						update="@form" />
					<p:tab id="esTab" title="Enquiry Started">
						<ui:include src="/pages/includes/contractReviewTabTable.xhtml" />
					</p:tab>
					<p:tab id="qsTab" title="Quote Started">
						<ui:include src="/pages/includes/contractReviewTabTable.xhtml" />
					</p:tab>
					<p:tab id="inProgTab" title="In Progress">
						<ui:include src="/pages/includes/contractReviewTabTable.xhtml" />
					</p:tab>
					<p:tab id="completedTab" title="Completed">
						<ui:include src="/pages/includes/contractReviewTabTable.xhtml" />
					</p:tab>
					<p:tab id="closedTab" title="Closed">
						<ui:include src="/pages/includes/contractReviewTabTable.xhtml" />
					</p:tab>
				</p:tabView>
			</p:outputPanel>
		</h:form>

		<p:dialog styleClass="" header="#{lang['search.criteria']}"
			widgetVar="searchDlg" draggable="false" resizable="false"
			hideEffect="clip" showEffect="clip" id="searchDlg" position="center"
			modal="true" minWidth="500" width="60vw" closeOnEscape="true">
			<h:form id="searchForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer
								width="5px" />#{lang['everything.is.optional']} </span>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{contractreviewTableUI.ceNumber}"
							placeholder="#{lang['e.g.A0004310.or.E00089021']}" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="Order Number: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{contractreviewTableUI.orderNumberCriteria}"
							placeholder="Any Text" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="Details: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{contractreviewTableUI.descriptionCriteria}"
							placeholder="Any Text" />
					</div>
					<div class="EmptyBox5" />
					<p:commandButton value="#{lang['search']}" update=":quoteTableForm"
						action="#{contractreviewTableUI.searchFor}"
						oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}"
						action="#{contractreviewTableUI.clearSearch}" update="@form"
						icon="ui-icon-refresh" />
				</div>
			</h:form>
		</p:dialog>


	</ui:define>

</ui:composition>