<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml"
	xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="head">
		<style type="text/css">
</style>
	</ui:define>
	<ui:define name="content">
		<ui:include src="/pages/includes/codBtn.xhtml" />
		<div class="card ui-g">
			<div class="ui-g-12">
				<h:form id="contractOverviewForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:outputLabel styleClass="Fs18"
						value="Contract Status: #{sessionUI.contract.contractStatus.friendlyName}" />
					<c:if test="#{sessionUI.user.userType.ordinal() eq 2}">
						<div class="EmptyBox10" />
						<p:repeat var="stat" value="#{codUI.constatus}">
							<div class="ui-g-12 ui-md-4 ui-lg-4">
								<p:commandButton value="#{stat.friendlyName}"
									action="#{codUI.setContractStatusTo}" update="@form">
									<f:setPropertyActionListener value="#{stat}"
										target="#{codUI.status}" />
								</p:commandButton>
							</div>
						</p:repeat>
					</c:if>

					<p:panelGrid id="custmDetailPnl" rendered="#{codUI.custB}"
						styleClass="ui-panelgrid-blank">
						<h2>Customer Details</h2>
						<p:panelGrid columns="4" styleClass="ui-panelgrid-blank">
							<p:outputLabel value="#{lang['customer.name']}:"
								for="customerName" />
							<p:outputLabel id="customerName"
								value="#{sessionUI.customer.customerName}" />
							<p:outputLabel value="#{lang['company.number']}:"
								for="companyNumber" />
							<p:outputLabel id="companyNumber"
								value="#{sessionUI.customer.companyNumber}" />
							<p:outputLabel value="#{lang['email']}:" for="email" />
							<p:outputLabel id="email"
								value="#{sessionUI.customer.companyEmail}" />
							<p:outputLabel value="#{lang['phone.number']}:" for="phoneNumber" />
							<p:outputLabel id="phoneNumber"
								value="#{sessionUI.customer.phoneNumber}" />
							<p:outputLabel value="#{lang['fax.number']}:" for="faxNumber" />
							<p:outputLabel id="faxNumber"
								value="#{sessionUI.customer.faxNumber}" />
							<p:outputLabel value="#{lang['vat.number']}:" for="vatNumber" />
							<p:outputLabel id="vatNumber"
								value="#{sessionUI.customer.vatNumber}" />
							<p:outputLabel value="#{lang['point.of.contact.full.name']}:"
								for="pointOfContactName" />
							<p:outputLabel id="pointOfContactName"
								value="#{sessionUI.customer.pointOfContactName}" />
							<p:outputLabel value="#{lang['point.of.contact.phone.number']}:"
								for="pointOfContactPhoneNumber" />
							<p:outputLabel id="pointOfContactPhoneNumber"
								value="#{sessionUI.customer.pointOfContactPhoneNumber}" />
							<p:outputLabel value="#{lang['point.of.contact.email.address']}:"
								for="pointOfContactEmail" />
							<p:outputLabel id="pointOfContactEmail"
								value="#{sessionUI.customer.pointOfContactEmail}" />
						</p:panelGrid>
					</p:panelGrid>
					<p:panelGrid id="contractDetailsPnl" rendered="#{codUI.contB}"
						styleClass="ui-panelgrid-blank">
						<h2>Contract Details</h2>

						<p:panelGrid id="collectDeliverPnlGrid" columns="4"
							style="width:90%" styleClass="ui-panelgrid-blank form-group">
							<p:outputLabel value="#{lang['enqconNum']}:" for="enqNumber" />
							<h:panelGroup>
								<p:outputLabel id="enqNumber"
									value="#{sessionUI.contract.contractNumber ne null ? sessionUI.contract.contractNumber : sessionUI.contract.enquiryNumber}" />
								<p:spacer width="15" />
								<p:commandButton icon="fa fa-search"
									rendered="#{sessionUI.user.userType.ordinal() eq 2}"
									oncomplete="PF('overrideNumberDlg').show()"></p:commandButton>
							</h:panelGroup>
							<p:outputLabel value="#{lang['enquiry.type']}:" for="enqRepair" />
							<p:outputLabel id="enqRepair"
								value="#{sessionUI.contract.contractType}" />

							<p:outputLabel value="#{lang['title.of.enquiry']}:"
								for="titleOfEnq" />
							<p:outputLabel id="titleOfEnq"
								value="#{sessionUI.contract.title}" />

							<p:outputLabel value="#{lang['date']}:" for="enqDate" />
							<p:outputLabel id="enqDate"
								value="#{sessionUI.contract.createDate}">
								<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
							</p:outputLabel>

							<p:outputLabel value="#{lang['drawing.number']}:" for="drawNum" />
							<p:outputLabel id="drawNum"
								value="#{sessionUI.contract.drawingNumber}" />

							<p:outputLabel value="#{lang['enqDetails']}:" for="enqDetails" />
							<p:outputLabel id="enqDetails"
								value="#{sessionUI.contract.details}" />

							<p:outputLabel value="Quantity" />
							<p:outputLabel id="quantity"
								value="#{sessionUI.contract.quantity}" />

							<p:outputLabel value="Order Number" />
							<p:outputLabel id="orderNum"
								value="#{sessionUI.contract.orderNumber}" />

							<p:outputLabel value="Stock Number" />
							<p:outputLabel id="stockNumber"
								value="#{sessionUI.contract.stockNumber}" />

							<p:outputLabel value="Item Number" for="itemNumber" />
							<p:outputLabel id="itemNumber"
								value="#{sessionUI.contract.itemNumber}" />

							<p:outputLabel value="Drawing Number" for="drawNumber" />
							<p:outputLabel id="drawNumber" style="width: 90%"
								value="#{sessionUI.contract.drawingNumber}" />

						</p:panelGrid>


						<div class="EmptyBox5" />
						<p:commandButton id="uplDocBtn" value="Upload Document"
							action="#{uploadDocUI.runInit}" icon="fa fa-cloud-upload"
							oncomplete="PF('sessionUploadDlg').show()"
							update=":sessionUploadForm" />
						<p:spacer width="5" />
						<p:commandButton id="dlCon" value="Download Contract Review"
							icon="fa fa-download" ajax="false" process="@this"
							action="#{codUI.downloadJasperReport(6)}" />

						<p:spacer width="5" />
						<p:commandButton id="zoom" value="Zoom To Contract Details"
							icon="fa fa-search" ajax="false" process="@this"
							action="#{codUI.zoomToContractDetails}" />

						<p:tooltip for="dlCon" value="Download Contract Review" />
						<p:tooltip for="uplDocBtn"
							value="#{lang['upload.view.documents']}" position="" />
					</p:panelGrid>
					<p:panel id="siDetailsPnl" rendered="#{codUI.siB}">
						<h2>Strip and inspections</h2>
						<p:dataTable id="siVDTable" var="siV" value="#{codUI.siList}">
							<p:column headerText="SI Number">
								<h:outputText
									value="#{siV.formNumber ne null ?siV.formNumber :'NA'}" />
							</p:column>
							<p:column headerText="Action User">
								<h:outputText
									value="#{siV.actionUser.firstName} #{siV.actionUser.lastName}" />
							</p:column>
							<p:column headerText="Status">
								<h:outputText rendered="#{siV.completedReport}"
									value="Completed" />
								<h:outputText rendered="#{siV.closeReport}" value="Closed" />
								<h:outputText
									rendered="#{!(siV.closeReport or siV.completedReport)}"
									value="Started" />
							</p:column>
							<p:column headerText="Create Date">
								<h:outputText value="#{siV.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column>
								<p:commandButton id="sipdfdl" icon="fa fa-download "
									ajax="false" process="@this"
									action="#{codUI.downloadJasperReport(1)}">
									<f:setPropertyActionListener value="#{siV}"
										target="#{codUI.si}" />
								</p:commandButton>
								<p:commandButton id="zoomTosi" icon="fa fa-eye " ajax="false"
									process="@this" action="#{codUI.zoomTo(1)}">
									<f:setPropertyActionListener value="#{siV}"
										target="#{codUI.si}" />
								</p:commandButton>
								<p:tooltip for="sipdfdl" value="Download PDF" />
								<p:tooltip for="zoomTosi" value="Zoom Into" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="quoteDetailsPnl" rendered="#{codUI.qB}">
						<h2>Quotes</h2>
						<p:dataTable id="qVDTable" var="qV" value="#{codUI.qList}">
							<p:column headerText="Quote Number">
								<h:outputText
									value="#{qV.quoteNumber ne null ?qV.quoteNumber :'NA'}" />
							</p:column>
							<p:column headerText="Action User">
								<h:outputText
									value="#{qV.actionUser.firstName} #{qV.actionUser.lastName}" />
							</p:column>
							<p:column headerText="Status">
								<h:outputText value="#{qV.quoteStatusEnum.friendlyName}" />
							</p:column>
							<p:column headerText="Create Date">
								<h:outputText value="#{qV.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column>
								<p:commandButton id="qpdfdl" icon="fa fa-download " ajax="false"
									process="@this" action="#{codUI.downloadJasperReport(2)}">
									<f:setPropertyActionListener value="#{qV}"
										target="#{codUI.quote}" />
								</p:commandButton>
								<p:commandButton id="zoomToq" icon="fa fa-eye " ajax="false"
									process="@this" action="#{codUI.zoomTo(2)}">
									<f:setPropertyActionListener value="#{qV}"
										target="#{codUI.quote}" />
								</p:commandButton>
								<p:tooltip for="qpdfdl" value="Download PDF" />
								<p:tooltip for="zoomToq" value="Zoom Into" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="rcPnl" rendered="#{codUI.rcB}">
						<h2>Route Card</h2>
						<p:dataTable id="rcVDTable" var="rcV" value="#{codUI.rcList}">
							<p:column headerText="Status">
								<h:outputText value="#{rcV.routeStatus.friendlyName}" />
							</p:column>
							<p:column headerText="Create Date">
								<h:outputText value="#{rcV.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="Delivery Date">
								<h:outputText value="#{rcV.deliveryDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="Job description">
								<h:outputText value="#{rcV.shopInstruction}" />
							</p:column>
							<p:column>
								<p:commandButton id="rcdfdl" icon="fa fa-download " ajax="false"
									process="@this" action="#{codUI.downloadJasperReport(3)}">
									<f:setPropertyActionListener value="#{rcV}"
										target="#{codUI.rc}" />
								</p:commandButton>
								<p:commandButton id="zoomTorc" icon="fa fa-eye " ajax="false"
									process="@this" action="#{codUI.zoomTo(3)}">
									<f:setPropertyActionListener value="#{rcV}"
										target="#{codUI.rc}" />
								</p:commandButton>
								<p:tooltip for="rcdfdl" value="Download PDF" />
								<p:tooltip for="zoomTorc" value="Zoom Into" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="poPnl" rendered="#{codUI.poB}">
						<h2>
							Purchase Order
							<h:panelGroup class="Fright">
								<h:outputText value="Total spent: " />
								<h:outputText value="#{codUI.totalPO}">
									<f:convertNumber type="currency" currencySymbol="&#163;" />
								</h:outputText>
							</h:panelGroup>
						</h2>
						<p:dataTable id="poVDTable" var="poV" value="#{codUI.poList}">
							<p:column headerText="Purchase Order Number">
								<h:outputText
									value="#{poV.purchaseOrderNumber ne null ?poV.purchaseOrderNumber :'NA'}" />
							</p:column>
							<p:column headerText="Status">
								<h:outputText value="#{poV.purchaseOrderEnum.friendlyName}" />
							</p:column>
							<p:column headerText="Contractor/Supplier">
								<h:outputText value="#{poV.purchaseOrderForEnum.friendlyName}" />
							</p:column>
							<p:column headerText="Create Date">
								<h:outputText value="#{poV.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column headerText="Total Price">
								<h:outputText value="#{poV.totalPrice}">
									<f:convertNumber type="currency" currencySymbol="&#163;" />
								</h:outputText>
							</p:column>
							<p:column>
								<p:commandButton id="podfdl" icon="fa fa-download " ajax="false"
									process="@this" action="#{codUI.downloadJasperReport(4)}">
									<f:setPropertyActionListener value="#{poV}"
										target="#{codUI.po}" />
								</p:commandButton>
								<p:commandButton id="zoomTopo" icon="fa fa-eye " ajax="false"
									process="@this" action="#{codUI.zoomTo(4)}">
									<f:setPropertyActionListener value="#{poV}"
										target="#{codUI.po}" />
								</p:commandButton>
								<p:tooltip for="podfdl" value="Download PDF" />
								<p:tooltip for="zoomTopo" value="Zoom Into" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="cdPnl" rendered="#{codUI.cdB}">
						<h2>Collection/Delivery</h2>
						<p:dataTable id="cdVDTable" var="cdV" value="#{codUI.cdList}">
							<p:column headerText="Collection/Delivery Number">
								<h:outputText
									value="#{cdV.cdnNumber ne null ?cdV.cdnNumber :'NA'}" />
							</p:column>
							<p:column headerText="Create Date">
								<h:outputText value="#{cdV.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy" />
								</h:outputText>
							</p:column>
							<p:column>
								<p:commandButton id="zoomTocd" icon="fa fa-eye " ajax="false"
									process="@this" action="#{codUI.zoomTo(5)}">
									<f:setPropertyActionListener value="#{cdV}"
										target="#{codUI.cdc}" />
								</p:commandButton>
								<p:tooltip for="zoomTocd" value="Zoom Into" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="docPnl" rendered="#{codUI.cuB}">
						<h2>Uploaded Docs</h2>
						<p:dataTable var="cuV" value="#{codUI.cuList}" id="upLi"
							rowKey="#{cuV.id}" paginator="true" rows="5"
							paginatorPosition="bottom"
							paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							rowsPerPageTemplate="5,10,25" reflow="true" lazy="false">
							<p:column headerText="#{lang['original.file.name']}">
								<h:outputText value="#{cuV.originalFname}" />
							</p:column>
							<p:column headerText="#{lang['date.uploaded']}">
								<h:outputText value="#{cuV.addDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>
							<p:column headerText="#{lang['owner']}">
								<h:outputText value="#{cuV.user.firstName} #{cuV.user.lastName}" />
							</p:column>
							<p:column headerText="#{lang['document.type']}">
								<h:outputText value="#{cuV.configDoc.name}" />
							</p:column>
							<p:column headerText="Order Number/Status">
								<h:outputText rendered="#{cuV.configDoc.abreviation eq 'poc'}"
									value="#{cuV.purchaseOrderNumber} - #{cuV.purchaseOrderEnum.friendlyName}" />
								<h:outputText rendered="#{cuV.configDoc.abreviation ne 'poc'}"
									value="N/A" />
							</p:column>
							<p:column width="9%">
								<p:commandButton icon="ui-icon-cloud-download"
									title="#{lang['download']}" action="#{codUI.download}"
									id="download" ajax="false">
									<f:setPropertyActionListener value="#{cuV}"
										target="#{codUI.doc}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-bars " id="dhist"
									oncomplete="PF('histDialog1').show()"
									action="#{codUI.showHistory}" update=":documenttrackeForm1">
									<f:setPropertyActionListener value="#{cuV}"
										target="#{codUI.doc}" />
								</p:commandButton>
								<p:tooltip for="download" position=""
									value="#{lang['download.document']}" />
								<p:tooltip for="dhist" position=""
									value="#{lang['view.document.tracker']}" />
							</p:column>
						</p:dataTable>
					</p:panel>
					<p:panel id="otPnl" rendered="#{codUI.otB}">
						<h2>Other Downloads</h2>
						<p:panelGrid columns="2" styleClass="ui-panelgrid-blank">
							<p:selectBooleanCheckbox disabled="true"
								value="#{codUI.contract.testPressureCertificateB}"
								style="width: 100%" itemLabel="#{lang['test.certifaction']}" />
							<p:spacer />
							<p:selectBooleanCheckbox disabled="true"
								value="#{codUI.contract.materialCertificateB}"
								style="width: 100%" itemLabel="Material Certificate" />
							<p:spacer />
							<p:selectBooleanCheckbox disabled="true"
								value="#{codUI.contract.dimensionalReportB}" style="width: 100%"
								itemLabel="#{lang['dimensional.report']}" />
							<p:spacer />
							<p:selectBooleanCheckbox disabled="true"
								value="#{codUI.contract.conformityCertificateB}"
								style="width: 100%"
								itemLabel="#{lang['certificate.of.conformity']}" />
							<p:commandButton icon="fa fa-download"
								action="#{codUI.downloadJasperReport(7)}"
								rendered="#{codUI.contract.conformityCertificateB}" ajax="false" />
							<p:spacer rendered="#{!codUI.contract.conformityCertificateB}" />
						</p:panelGrid>
					</p:panel>
				</h:form>
			</div>
		</div>

		<p:dialog id="overrideNumberDlg" widgetVar="overrideNumberDlg"
			header="override Contract OR Enquiry Number" width="500px"
			modal="true" draggable="false">
			<h:form id="overrideNumberForm">
				<p:growl sticky="false" />
				<div class="ui-g">
					<div class="ui-g-12">
						<p:outputLabel value="override Number: " />
						<p:inputNumber required="true" requiredMessage="Provide a number or close the form." decimalPlaces="0" thousandSeparator=""
							placeholder="e.g 5738" value="#{codUI.overrideNumber}"></p:inputNumber>
					</div>
					<div class="ui-g-12">
						<center>
							<p:commandButton value="Submit"
								action="#{codUI.submitNewOverrideNumber}" update="DetailsForm contractOverviewForm @form" />
							<p:spacer width="5" />
							<p:commandButton value="Close"
								oncomplete="PF('overrideNumberDlg').hide()" process="@this"/>
						</center>
					</div>
				</div>
			</h:form>
		</p:dialog>
		<p:dialog draggable="false" header="#{lang['document.tracker']}"
			widgetVar="histDialog1" resizable="false" hideEffect="clip"
			showEffect="clip" id="dialog1" modal="true" width="40%">
			<h:form id="documenttrackeForm1">
				<p:dataTable value="#{codUI.documentTrackers}" var="rv"
					id="documenttrackeList" paginator="true" rows="6"
					paginatorPosition="bottom"
					paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column id="columnEight" headerText="#{lang['date.time']}"
						sortBy="#{rv.date}">
						<h:outputText value="#{rv.date}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{lang['user']}">
						<p:outputLabel value="#{rv.user.firstName} #{rv.user.lastName}" />
					</p:column>
					<p:column headerText="#{lang['action']}">
						<p:outputLabel value="#{rv.documentTrackerEnum.friendlyName}" />
					</p:column>
				</p:dataTable>
				<div class="EmptyBox10" />
			</h:form>
		</p:dialog>
		<ui:include src="/pages/includes/sessionUploadDoc.xhtml" />
	</ui:define>
</ui:composition>