<ui:composition template="/WEB-INF/template.xhtml" xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">


	<ui:define name="content">
		<h:form>

			<p:outputPanel styleClass="card ui-g">

				<h1 class="BigTopic TexAlCenter">#{lang['contract.overview']}</h1>
				<p:tabView styleClass="borderless" id="tabViewOne">
					<p:tab id="tabOne" title="#{lang['new.enquiries']}">

						<p:growl sticky="false" ><p:autoUpdate/></p:growl>
						<h2 class="BigTopic TexAlCenter">#{lang['new.enquiries']}</h2>

						<p:dataTable var="rowVar" value="#{contractOverviewUI.newEnquiryDataModel}" filteredValue="#{contractOverviewUI.awaitingQuotationfilteredList}" id="newEnquiryList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['enquiry.number']}" width="15%">
								<h:outputText value="#{rowVar.enquiryNumber}" />
							</p:column>

							<p:column headerText="#{lang['customer.name']}" width="15%">
								<h:outputText value="#{rowVar.customer.customerName}" />
							</p:column>

							<p:column headerText="#{lang['enquiry.description']}" width="30%">
								<h:outputText value="#{rowVar.details}" />
							</p:column>

							<p:column headerText="#{lang['create.date']}" width="15%">
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{lang['status']}" width="15%">
								<h:outputText value="#{rowVar.contractStatus.friendlyName}" />
							</p:column>

							<p:column width="10%">
								<p:commandButton id="viewQuote" icon="fa fa-neuter" title="#{lang['generate.quote.for.enquiry']}" update="@form">
									<f:setPropertyActionListener value="#{rowVar}" target="#{awaitingQuotationsUI}" />
								</p:commandButton>
								<p:tooltip for="viewQuote" position="" value="#{lang['generate.quote.for.enquiry']}" />
							</p:column>
						</p:dataTable>
					</p:tab>

					<p:tab id="tabTwo" title="#{lang['awaiting.quotation']}">
						<h2 class="BigTopic TexAlCenter">#{lang['awaiting.quotation']}</h2>
						<p:dataTable var="rowVar" value="#{contractOverviewUI.awaitingQuotationDataModel}" filteredValue="#{contractOverviewUI.awaitingQuotationfilteredList}" id="awaitingQuotationList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['enquiry.number']}" width="15%">
								<h:outputText value="#{rowVar.enquiryNumber}" />
							</p:column>

							<p:column headerText="#{lang['customer.name']}" width="15%">
								<h:outputText value="#{rowVar.customer.customerName}" />
							</p:column>

							<p:column headerText="#{lang['enquiry.description']}" width="30%">
								<h:outputText value="#{rowVar.details}" />
							</p:column>

							<p:column headerText="#{lang['create.date']}" width="15%">
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{lang['status']}" width="15%">
								<h:outputText value="#{rowVar.contractStatus.friendlyName}" />
							</p:column>

							<p:column width="10%">
								<p:commandButton id="viewQuote" icon="fa fa-neuter" title="#{lang['generate.quote.for.enquiry']}" update="@form">
									<f:setPropertyActionListener value="#{rowVar}" target="#{awaitingQuotationsUI}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton id="downloadQuote" icon="fa fa-arrow-circle-o-down" ajax="false" action="#{contractOverviewUI.projectsFromToDateDownload1}" title="#{lang['generate.quote.for.enquiry']}" update="@form">
									<f:setPropertyActionListener value="#{rowVar}" target="#{contractOverviewUI.contractPrint}" />
								</p:commandButton>
								<p:tooltip for="viewQuote" position="" value="View Quote" />
								<p:tooltip for="downloadQuote" position="" value="#{lang['generate.quote.for.enquiry']}" />
							</p:column>
						</p:dataTable>
					</p:tab>

					<p:tab id="tabThree" title="#{lang['submitted.to.customer']}">
						<h2 class="BigTopic TexAlCenter">#{lang['submitted.to.customer']}</h2>
						<p:dataTable var="rowVar" value="#{contractOverviewUI.submitToCustomerDataModel}" filteredValue="#{contractOverviewUI.submitToCustomerfilteredList}" id="submitToCustomerList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

							<p:column headerText="#{lang['enquiry.number']}" width="15%">
								<h:outputText value="#{rowVar.enquiryNumber}" />
							</p:column>

							<p:column headerText="#{lang['customer.name']}" width="15%">
								<h:outputText value="#{rowVar.customer.customerName}" />
							</p:column>

							<p:column headerText="#{lang['enquiry.description']}" width="30%">
								<h:outputText value="#{rowVar.details}" />
							</p:column>

							<p:column headerText="#{lang['create.date']}" width="15%">
								<h:outputText value="#{rowVar.createDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>

							<p:column headerText="#{lang['status']}" width="15%">
								<h:outputText value="#{rowVar.contractStatus.friendlyName}" />
							</p:column>

							<p:column width="10%">
								<p:commandButton id="viewQuote" icon="fa fa-neuter" title="#{lang['generate.quote.for.enquiry']}" update="@form">
									<f:setPropertyActionListener value="#{rowVar}" target="#{awaitingQuotationsUI}" />
								</p:commandButton>
								<p:spacer width="5" />
								<p:commandButton id="downloadQuote" icon="fa fa-arrow-circle-o-down" ajax="false" action="#{contractOverviewUI.projectsFromToDateDownload}" title="#{lang['generate.quote.for.enquiry']}" update="@form">
									<f:setPropertyActionListener value="#{rowVar}" target="#{awaitingQuotationsUI}" />
								</p:commandButton>
								<p:tooltip for="downloadQuote" position="" value="#{lang['generate.quote.for.enquiry']}" />
								<p:tooltip for="viewQuote" position="" value="#{lang['generate.quote.for.enquiry']}" />
							</p:column>
						</p:dataTable>
					</p:tab>
				</p:tabView>
			</p:outputPanel>

		</h:form>
	</ui:define>

</ui:composition>
