<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml" xmlns:pe="http://primefaces.org/ui/extensions">
	<ui:define name="head">
		<style type="text/css">
</style>
	</ui:define>
	<ui:define name="content">
		<ui:include src="/pages/includes/detailDialogCustomerContract.xhtml" />
		<div class="card ui-g">
			<div class="ui-g-12">
				<h:form id="contractOverviewForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>