<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<style>
.ui-autocomplete-panel {
	width: 30% !important;
}
</style>
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum" var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum" var="contractMaterialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />
		<p:growl id="contractDetailGrwl" sticky="false" ><p:autoUpdate/></p:growl>

		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>

		<h:form id="enquiryDetailsForm">
			<ui:include src="/pages/includes/enquiryDetails.xhtml" />
		</h:form>

		<h:form id="mainContractDetailForm" rendered="#{sessionUI.contract.contractStatus ne contractStatusEnum.QuoteInProgress}">
			<ui:include src="/pages/includes/contractDetailInput.xhtml" />
		</h:form>

		<h:form id="contractDetailTypeTablesForm">
			<p:outputPanel rendered="#{contractInputUI.contractDetailDataGridList.size() gt 0}">
				<div class="card">
					<p:dataGrid var="contractDetails" value="#{contractInputUI.contractDetailDataGridList}" columns="2" layout="grid" rows="8" paginator="true" id="cars" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
						rowsPerPageTemplate="6,12,16">
						<p:panel header="#{contractDetails.quoteDetailType.friendlyName}" style="text-align:center;">
							<p:outputPanel styleClass="ui-g">
								<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Resource}">
									<div class="ui-g-12">
										<h:outputText value="Resource: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Resource Date Allocation: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Days Resource Allocated: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Description: " />
									</div>
								</p:outputPanel>

								<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Resource}">

									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.resource.description}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.resourceAllocationDate}">
											<f:convertDateTime pattern="dd MMM yyyy" />
										</h:outputText>
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.days}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.description.length() gt 50 ? contractDetails.description.substring(0,65).concat('...') : contractDetails.description}" />
									</div>
								</p:outputPanel>

								<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Material}">

									<div class="ui-g-12">
										<h:outputText value="Purchase/Provided: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Amount of Material: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Price of Material: " rendered="#{contractDetails.quoteMaterialType eq contractMaterialTypeEnum.Purchased}" />
										<h:outputText value="Provided By Client " rendered="#{contractDetails.quoteMaterialType eq contractMaterialTypeEnum.CustomerProvided}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Description: " />
									</div>
								</p:outputPanel>

								<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Material}">
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.quoteMaterialType.friendlyName}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.amountMaterials}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.materialPrice}" rendered="#{contractDetails.quoteMaterialType eq contractMaterialTypeEnum.Purchased}">
											<f:convertNumber pattern="###,##0.00" />
										</h:outputText>
										<br rendered="#{contractDetails.quoteMaterialType eq contractMaterialTypeEnum.CustomerProvided}" />
									</div>
									<div class="ui-g-12">
										<h:outputText value="#{contractDetails.description.length() gt 50 ? contractDetails.description.substring(0,75).concat('...') : contractDetails.description}" />
									</div>
								</p:outputPanel>
								<br />
								<div class="ui-g-12 ui-lg-12">
									<p:commandLink update=":mainContractDetailForm @form" title="Update" rendered="#{sessionUI.contract.contractStatus ne contractStatusEnum.QuoteInProgress}">
										<h:outputText styleClass="ui-icon ui-icon-pencil" style="margin:0 auto;" />
										<f:setPropertyActionListener value="#{contractDetails}" target="#{contractInputUI.contractdetail}" />
									</p:commandLink>
									<p:commandLink update=":mainContractDetailForm @form" title="Update" oncomplete="PF('confirmation').show()" rendered="#{sessionUI.contract.contractStatus ne contractStatusEnum.QuoteInProgress}">
										<h:outputText styleClass="ui-icon ui-icon-trash" style="margin:0 auto;" />
										<f:setPropertyActionListener value="#{contractDetails}" target="#{contractInputUI.contractdetail}" />
									</p:commandLink>
								</div>
							</p:outputPanel>
						</p:panel>
					</p:dataGrid>
				</div>
			</p:outputPanel>
		</h:form>


		<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form id="confirmDelete">
				<center>
					<p:commandButton value="#{lang['yes']}" update=":mainContractDetailForm :contractDetailTypeTablesForm" actionListener="#{contractInputUI.deleteContractDetails}" oncomplete="PF('confirmation').hide()" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
				</center>
			</h:form>
		</p:confirmDialog>

	</ui:define>
</ui:composition>