<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />
		<p:growl id="contractEnquiryGrwl" sticky="false" ><p:autoUpdate/></p:growl>
		<h:form id="contractEnquiryForm">
			<div class="ui-g card">
			
			</div>
		</h:form>
		<ui:include src="/pages/includes/sessionUploadDoc.xhtml" />
	</ui:define>

</ui:composition>