<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">


			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h1>Customer Details</h1>
				<div class="EmptyBox10" />
				<h:form id="customerInsForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:outputPanel style="width:100%" id="customerInsGrid" styleClass="ui-g">

						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="customerName" value="#{customerUI.customer.customerName}" style="width:95%" />
								<p:outputLabel value="#{lang['customer']} #{lang['name']}#{lang['colon']}" for="customerName" />
							</h:panelGroup>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="email" value="#{customerUI.customer.companyEmail}" style="width:95%" />
								<p:outputLabel value="#{lang['email']}#{lang['colon']}" for="email" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="vatNumber" value="#{customerUI.customer.vatNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['vat']} #{lang['number']}#{lang['colon']}" for="vatNumber" />
							</h:panelGroup>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="companyNumber" value="#{customerUI.customer.companyNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['company']} #{lang['number']}#{lang['colon']}" for="companyNumber" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="phoneNumber" value="#{customerUI.customer.phoneNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['phone']} #{lang['number']}#{lang['colon']}" for="phoneNumber" />
							</h:panelGroup>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="faxNumber" value="#{customerUI.customer.faxNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['fax']} #{lang['number']}#{lang['colon']}" for="faxNumber" />
							</h:panelGroup>
						</div>
						<div class="EmptyBox10" />
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<h:panelGroup styleClass="md-inputfield">
								<p:calendar id="createDate" value="#{customerUI.customer.createDate}" size="19" showOn="button" pattern="dd-MM-yyyy" mask="true" />
								<p:outputLabel value="#{lang['create']} #{lang['date']}#{lang['colon']}" for="createDate" />
							</h:panelGroup>
						</div>

						<div class="EmptyBox20" />
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:outputLabel value="#{lang['customer']} #{lang['address']}#{lang['colon']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine1}" styleClass="Fleft" placeholder="#{lang['address']} #{lang['line']} #{lang['one.n']}" style="width: 47%" autocomplete="off" id="customerAddress" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine2}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['two.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine3}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['three.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine4}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['four.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 25%" autocomplete="off" />
						</div>


					<!-- 	<div class="EmptyBox20" />
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:outputLabel value="#{lang['customer']} #{lang['delivery']} #{lang['address']}#{lang['colon']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine1}" styleClass="Fleft" placeholder="#{lang['address']} #{lang['line']} #{lang['one.n']}" style="width: 47%" autocomplete="off" id="customerDeliveryAddress" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine2}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['two.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine3}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['three.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine4}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['four.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 25%" autocomplete="off" />
						</div>
						
						<div class="EmptyBox20" />
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:outputLabel value="#{lang['customer']} #{lang['billing']} #{lang['address']}#{lang['colon']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine1}" styleClass="Fleft" placeholder="#{lang['address']} #{lang['line']} #{lang['one.n']}" style="width: 47%" autocomplete="off" id="customerBillingAddress" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine2}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['two.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine3}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['three.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.addressLine4}" styleClass="Fleft" style="width: 47%" autocomplete="off" placeholder="#{lang['address']} #{lang['line']} #{lang['four.n']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:inputText value="#{customerUI.address.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 25%" autocomplete="off" />
						</div>  -->


						<div class="EmptyBox20" />
						<div class="ui-g-6 ui-md-6 ui-lg-6">
							<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:customerList :customerInsForm:customerInsGrid" action="#{customerUI.customerInsert}" />
							<p:spacer width="5" />
							<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="customerInsGrid" process="@this" action="#{customerUI.prepareNew}">
								<p:resetInput target="customerInsGrid" />
							</p:commandButton>
						</div>
					</p:outputPanel>
				</h:form>
			</p:outputPanel>


			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h:form id="mainForm">

					<p:dataTable var="rowVar" value="#{customerUI.dataModel}" filteredValue="#{customerUI.customerfilteredList}" id="customerList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

						<p:column headerText="#{lang['email']}">
							<h:outputText value="#{rowVar.companyEmail}" />
						</p:column>
						<p:column headerText="#{lang['vat']} #{lang['number']}">
							<h:outputText value="#{rowVar.vatNumber}" />
						</p:column>
						<p:column headerText="#{lang['company']} #{lang['number']}">
							<h:outputText value="#{rowVar.companyNumber}" />
						</p:column>
						<p:column headerText="#{lang['customer']} #{lang['name']}">
							<h:outputText value="#{rowVar.customerName}" />
						</p:column>
						<p:column headerText="#{lang['phone']} #{lang['number']}">
							<h:outputText value="#{rowVar.phoneNumber}" />
						</p:column>
						<p:column headerText="#{lang['fax']} #{lang['number']}">
							<h:outputText value="#{rowVar.faxNumber}" />
						</p:column>
						<p:column headerText="#{lang['create']} #{lang['date']}">
							<h:outputText value="#{rowVar.createDate}" />
						</p:column>


						<p:column width="80">
							<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":customerInsForm:customerInsGrid">
								<f:setPropertyActionListener value="#{rowVar}" target="#{customerUI.customer}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:customerList" action="#{customerUI.customerDelete}">
								<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVar}" target="#{customerUI.customer}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
						<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
					</p:confirmDialog>

				</h:form>
			</p:outputPanel>

		</div>
	</ui:define>
	<!-- 
email = email
vatNumber = vatNumber
companyNumber = companyNumber
customerName = customerName
phoneNumber = phoneNumber
faxNumber = faxNumber
createDate = createDate

-->
</ui:composition>
