<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<style>
			.ui-autocomplete-panel {
				width: 30% !important;
			}
		</style>


		<p:outputPanel styleClass="card ui-g">
			<h:form id="contractInsForm">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h1>#{lang['select.customer']}</h1>
				</div>
				<div class="EmptyBox10" />
				<p:growl sticky="false" ><p:autoUpdate/></p:growl>

				<p:outputPanel styleClass="ui-g-12" id="contractInsGrid">
					<h:panelGroup styleClass="md-inputfield">

						<p:autoComplete id="customer" value="#{customerQuotesUI.customer}" completeMethod="#{customerQuotesUI.complete}" var="rv" size="40" itemLabel="#{rv.customerName}" inputStyle="width: 95%" itemValue="#{rv}" forceSelection="true" converter="CustomerConvertor" dropdown="true" minQueryLength="2"
							maxResults="20" style="width: 90%">
							<p:ajax event="itemSelect" listener="#{customerQuotesUI.onItemSelect}" update=":mainForm" />

							<f:facet name="itemtip">
								<h:panelGrid columns="2" cellpadding="5" width="100%">
									<f:facet name="header">
										<h:outputText value="#{rv.customerName}" styleClass="Fs18 FontLight" />
										<c:if test="#{rv.id ne -1}">
											<hr />
										</c:if>

									</f:facet>

									<h:outputText value="#{lang['phone']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.phoneNumber}" rendered="#{rv.id ne -1}" />

									<h:outputText value="#{lang['email']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.companyEmail}" rendered="#{rv.id ne -1}" />

									<h:outputText value="#{lang['company']} #{lang['number']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.companyNumber}" rendered="#{rv.id ne -1}" />
								</h:panelGrid>
							</f:facet>

						</p:autoComplete>
						<p:outputLabel value="#{lang['customer']}:" for="customer" styleClass="FontLight" />
					</h:panelGroup>

				</p:outputPanel>

			</h:form>
		</p:outputPanel>
		
		

		<h:form id="mainForm">
			<p:outputPanel id="contractInsFormTwo" rendered="#{customerQuotesUI.customer.id ne null}" styleClass="card ui-g">
				<div class="ui-g-12">
					<h1>#{lang['customer']}</h1>
				</div>
				<p:outputPanel styleClass="ui-g-12" id="customerInsGrid">
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="customerName" value="#{customerQuotesUI.customer.customerName}" style="width:95%" required="true" requiredMessage="#{lang['enter.cust.name']}" />
							<p:outputLabel value="#{lang['customer']} #{lang['name']}#{lang['colon']}" for="customerName" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="email" value="#{customerQuotesUI.customer.companyEmail}" style="width:95%" required="true" requiredMessage="#{lang['please.enter.a.email.address']}"/>
							<p:outputLabel value="#{lang['email']}#{lang['colon']}" for="email" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12  ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="phoneNumber" value="#{customerQuotesUI.customer.phoneNumber}" style="width:95%" required="true" requiredMessage="#{lang['please.enter.a.phone.number']}"/>
							<p:outputLabel value="#{lang['phone']} #{lang['number']}#{lang['colon']}" for="phoneNumber" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="faxNumber" value="#{customerQuotesUI.customer.faxNumber}" style="width:95%" />
							<p:outputLabel value="#{lang['fax.number']}:" for="faxNumber" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">

							<p:inputText id="vatNumber" value="#{customerQuotesUI.customer.vatNumber}" style="width:95%" />
							<p:outputLabel value="#{lang['vat.number']}:" for="vatNumber" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="companyNumber" value="#{customerQuotesUI.customer.companyNumber}" style="width:95%" />
							<p:outputLabel value="#{lang['company.number']}:" for="companyNumber" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="pointOfContactName" value="#{customerQuotesUI.customer.pointOfContactName}" style="width:95%" />
							<p:outputLabel value="#{lang['point.of.contact.full.name']}:" for="pointOfContactName" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="pointOfContactPhoneNumber" value="#{customerQuotesUI.customer.pointOfContactPhoneNumber}" style="width:95%" />
							<p:outputLabel value="#{lang['point.of.contact.phone.number']}:" for="pointOfContactPhoneNumber" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12 ui-lg-6">
						<br />
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="pointOfContactEmail" value="#{customerQuotesUI.customer.pointOfContactEmail}" style="width:95%" />
							<p:outputLabel value="#{lang['point.of.contact.email.address']}:" for="pointOfContactEmail" />
						</h:panelGroup>
					</div>
				</p:outputPanel>
				<br />
				<br />
				<p:outputPanel styleClass="ui-g-12">
					<div class="ui-g-12 ui-lg-4">
						<p:panel>
							<p:panelGrid columns="1" style="width: 100%" layout="grid" styleClass="ui-panelgrid-blank" id="addr">
								<h4>#{lang['address']}</h4>
								<h:panelGrid columns="4" id="addrSub" style="width: 100%">
									<p:inputText value="#{customerQuotesUI.customer.address.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
									<p:commandButton icon="ui-icon-search" action="#{customerQuotesUI.findByPostcode(1)}" update="addr addrSub" />
									<p:outputLabel value="#{lang['copy']}" rendered="#{customerQuotesUI.customer.address.addressLine4.length() gt 0}" />
									<p:selectBooleanCheckbox value="#{customerQuotesUI.copyAddress}" rendered="#{customerQuotesUI.customer.address.addressLine4.length() gt 0}">
										<p:ajax listener="#{customerQuotesUI.cpyAddresses}" update="daddr baddr" />
									</p:selectBooleanCheckbox>
								</h:panelGrid>
								<p:inputText value="#{customerQuotesUI.customer.address.addressLine1}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.address.addressLine2}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.address.addressLine3}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.address.addressLine4}" style="width: 100%" />
							</p:panelGrid>
						</p:panel>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p:panel>
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid" id="daddr">
								<h4>#{lang['delivery.address']}</h4>
								<h:panelGrid columns="2">
									<p:inputText value="#{customerQuotesUI.customer.deliveryAddress.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
									<p:commandButton icon="ui-icon-search" action="#{customerQuotesUI.findByPostcode(2)}" update="daddr" />
								</h:panelGrid>
								<p:inputText value="#{customerQuotesUI.customer.deliveryAddress.addressLine1}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.deliveryAddress.addressLine2}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.deliveryAddress.addressLine3}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.deliveryAddress.addressLine4}" style="width: 100%" />
							</p:panelGrid>
						</p:panel>
					</div>
					<div class="ui-g-12 ui-lg-4">
						<p:panel>
							<p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid" id="baddr">
								<h4>#{lang['billing.address']}</h4>

								<h:panelGrid columns="2">
									<p:inputText value="#{customerQuotesUI.customer.billingAddress.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
									<p:commandButton icon="ui-icon-search" action="#{customerQuotesUI.findByPostcode(3)}" update="baddr" />
								</h:panelGrid>
								<p:inputText value="#{customerQuotesUI.customer.billingAddress.addressLine1}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.billingAddress.addressLine2}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.billingAddress.addressLine3}" style="width: 100%" />
								<p:inputText value="#{customerQuotesUI.customer.billingAddress.addressLine4}" style="width: 100%" />
							</p:panelGrid>
						</p:panel>
					</div>
				</p:outputPanel>
				<div class="ui-g-12 ">
					<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update="@form" action="#{customerQuotesUI.submit}" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="customerInsGrid :mainForm" process="@this" action="#{customerQuotesUI.prepareNew}">
						<p:resetInput target="customerInsGrid" />
					</p:commandButton>
				</div>
			</p:outputPanel>
		</h:form>



	</ui:define>

</ui:composition>
