<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">
			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h1>Management</h1>
			</p:outputPanel>
			<ui:include src="/pages/includes/resources.xhtml" />
		</div>
	</ui:define>
</ui:composition>