<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum" var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum" var="contractMaterialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />
		<p:growl id="detailsGrowl" sticky="false" ><p:autoUpdate/></p:growl>
		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>

		<ui:include src="/pages/includes/enquiryDetails.xhtml" />


		<h:form id="mainDetailsForm">
			<div class="card ui-g">
				<div class="ui-g-12">
					<h2 class="BigTopic TexAlCenter">#{lang['contract.details']}</h2>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-12">
					<p:outputLabel for="contractDetailTypeEnumRadio" value="#{lang['contract.type']}:" />
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-12">
					<p:selectOneRadio id="contractDetailTypeEnumRadio" value="#{detailInputUI.detail.detailType}" layout="grid" columns="2" required="true" requiredMessage="Provided Contract Type">
						<p:ajax process="@this" event="change" update="mainDetailsForm:resourcePnl mainDetailsForm:materialPnl" partialSubmit="true" />
						<f:selectItems value="#{detailInputUI.quoteDetailTypeDD}" />
					</p:selectOneRadio>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-12">
					<br />
					<p:outputLabel for="description" value="#{lang['enter.a.description']}:" />
					<div class="card">
						<p:inputTextarea id="description" style="width:95%" value="#{detailInputUI.detail.description}" rows="6" cols="50" required="true" requiredMessage="Provide Details" />
					</div>
				</div>
				<p:outputPanel id="resourcePnl">
					<c:if test="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Resource}">
						<div class="ui-g-12 ui-md-12 ui-lg-12">
							<p:button href="/pages/resources.jsf" target="_blank" icon="fa fa-calendar" value="#{lang['click.to.view.allocation']}"></p:button>
						</div>

						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:calendar required="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Resource}" placeholder="#{lang['resource.date']}" requiredMessage="Provide Date" id="calenderRes" value="#{detailInputUI.detail.resourceAllocationDate}" showOn="both" pattern="dd-MMMM-yyyy" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:autoComplete id="resourceAutoComplete" value="#{detailInputUI.detail.resource}" completeMethod="#{detailInputUI.completeResource}" var="resourceAuto" itemLabel="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}"
								itemValue="#{resourceAuto}" forceSelection="true" converter="ResourceConvertor" dropdown="true" minQueryLength="1" maxResults="10" required="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Resource}" requiredMessage="Provide a resource" placeholder="#{lang['select.a.resource']}">
								<p:column headerText="#{lang['resource']}" style="white-space: nowrap">
									<p:outputLabel value="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}" escape="false" />
								</p:column>
								<p:column headerText="#{lang['resourceType']}" style="white-space: nowrap">
									<p:outputLabel value="#{resourceAuto.resourceType.description.length() gt 50 ? resourceAuto.resourceType.description.substring(0,47).concat('...') : resourceAuto.resourceType.description}" escape="false" />
								</p:column>
							</p:autoComplete>
						</div>

						<p:outputPanel styleClass="ui-g-12">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="numberdays" value="#{detailInputUI.detail.days}" required="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Resource}" requiredMessage="Provide number of days" />
								<p:outputLabel for="numberdays" value="#{lang['number.of.days']}:" />
							</h:panelGroup>
						</p:outputPanel>

					</c:if>
				</p:outputPanel>
				<p:outputPanel id="materialPnl">
					<c:if test="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Material}">
						<div class="ui-g-12">
							<p:outputLabel for="qmTypeEnum" value="#{lang['quotation.material.type']}:" />
						</div>
						<div class="ui-g-12">
							<p:selectOneRadio required="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Material}" requiredMessage="Provided or Need to Purchase" id="qmTypeEnum" value="#{detailInputUI.detail.materialType}" layout="grid" columns="2">
								<p:ajax process="@this" event="change" update=":mainDetailsForm:pricePnl" partialSubmit="true" />
								<f:selectItems value="#{detailInputUI.quoteMaterialTypeDD}" />
							</p:selectOneRadio>
						</div>
						<div class="ui-g-12">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputNumber id="amountInput" value="#{detailInputUI.detail.amountMaterials}" decimalPlaces="0" decimalSeparator="." thousandSeparator="," required="#{detailInputUI.detail.detailType eq contractDetailTypeEnum.Material}" requiredMessage="Provid Quantity" />
								<p:outputLabel for="amountInput" value="#{lang['quantity.materials']}" />
							</h:panelGroup>
						</div>
					</c:if>
				</p:outputPanel>
				<p:outputPanel id="pricePnl" styleClass="ui-g-12">
					<br />
					<h:panelGroup styleClass="md-inputfield" rendered="#{detailInputUI.detail.materialType ne contractMaterialTypeEnum.CustomerProvided}">
						<p:inputNumber id="priceInput" value="#{detailInputUI.detail.detailPrice}" symbol="&#163;" symbolPosition="p" decimalSeparator="." thousandSeparator="," />
						<p:outputLabel for="priceInput" value="#{lang['price']}" />
					</h:panelGroup>
				</p:outputPanel>
				<div class="ui-g-12">
					<p:commandButton value="#{lang['submit']}" immediate="false" icon="ui-icon-save" actionListener="#{detailInputUI.saveDetails}" update="@parent" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" immediate="false" icon="ui-icon-clear-all" update="@form" action="#{detailInputUI.prepareNewDetails}" process="@this">
						<p:resetInput target="@form" />
					</p:commandButton>
					<p:spacer width="5" />
					<p:commandButton rendered="#{detailInputUI.detailsList.size() gt 0 and sessionUI.contract.contractStatus ne contractStatusEnum.QuoteInProgress}" immediate="true" value="#{lang['send.for.review']}" icon="fa fa-mail-forward" actionListener="#{detailInputUI.sendForReview}" />
					<p:spacer width="5" />
					<p:commandButton rendered="#{detailInputUI.detailsList.size() gt 0 and sessionUI.contract.contractStatus eq contractStatusEnum.QuoteInProgress}" immediate="true" value="#{lang['go.quote']}" icon="fa fa-mail-forward" actionListener="#{detailInputUI.redirectToQuote}" />
				</div>
			</div>
		</h:form>

		<h:form id="detailsTablesForm">
			<p:outputPanel styleClass="card" rendered="#{detailInputUI.detailsList.size() gt 0}">
				<p:dataGrid var="contractDetails" value="#{detailInputUI.detailsList}" columns="2" layout="grid" rows="4" paginator="true" id="cars" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="6,12,16" paginatorPosition="top" styleClass="ui-datagrid-no-border">
					<p:panel header="#{contractDetails.detailType.friendlyName}">
						<p:outputPanel styleClass="ui-g">
							<p:outputPanel styleClass="ui-g-6" rendered="#{contractDetails.detailType eq contractDetailTypeEnum.Resource}">
								<div align="right">
									<div class="ui-g-12">
										<h:outputText value="Resource: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Resource Date Allocation: " />
									</div>
									<div class="ui-g-12">
										<h:outputText value="Days Resource Allocated: " />
									</div>
								</div>
							</p:outputPanel>
							<p:outputPanel styleClass="ui-g-6" rendered="#{contractDetails.detailType eq contractDetailTypeEnum.Resource}">
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.resource.description}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.resourceAllocationDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.days}" />
								</div>
							</p:outputPanel>
							<p:outputPanel styleClass="ui-g-6" rendered="#{contractDetails.detailType eq contractDetailTypeEnum.Material}">
								<div class="ui-g-12">
									<div align="right">
										<h:outputText value="Purchase/Provided: " />
									</div>
								</div>
								<div class="ui-g-12">
									<div align="right">
										<h:outputText value="Amount of Material: " />
									</div>
								</div>
							</p:outputPanel>
							<p:outputPanel styleClass="ui-g-6" rendered="#{contractDetails.detailType eq contractDetailTypeEnum.Material}">
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.materialType.friendlyName}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.amountMaterials}" />
								</div>
							</p:outputPanel>
							<div class="ui-g-6">
								<div align="right">
									<h:outputText value="Price: " rendered="#{contractDetails.materialType ne contractMaterialTypeEnum.CustomerProvided}" />
									<h:outputText value="Provided By Client " rendered="#{contractDetails.materialType ne contractMaterialTypeEnum.Purchased and contractDetails.detailType ne contractDetailTypeEnum.Resource}" />
								</div>
							</div>
							<div class="ui-g-6">
								<h:outputText value="#{contractDetails.detailPrice}" rendered="#{contractDetails.materialType ne contractMaterialTypeEnum.CustomerProvided}">
									<f:convertNumber pattern="###,##0.00" />
								</h:outputText>
								<br rendered="#{contractDetails.materialType ne contractMaterialTypeEnum.Purchased}" />
							</div>
							<div class="ui-g-6">
								<div align="right">
									<h:outputText value="Description: " />
								</div>
							</div>
							<div class="ui-g-6">
								<h:outputText value="#{contractDetails.description.length() gt 50 ? contractDetails.description.substring(0,50).concat('...') : contractDetails.description}" />
							</div>
							<br />
							<div class="ui-g-12 ui-lg-12">
								<center>
									<p:commandLink action="#{detailInputUI.scrollToTop}" update=":mainDetailsForm @form" title="Update">
										<i class="fa fa-pencil fa-2x" style="color: #000000 !important;" />
										<f:setPropertyActionListener value="#{contractDetails}" target="#{detailInputUI.detail}" />
									</p:commandLink>
									<p:spacer width="10" />
									<p:commandLink update=":mainDetailsForm @form" title="Delete" oncomplete="PF('confirmation').show()">
										<i class="fa fa-trash fa-2x" style="color: #000000 !important;" />
										<f:setPropertyActionListener value="#{contractDetails}" target="#{detailInputUI.detail}" />
									</p:commandLink>
								</center>
							</div>
						</p:outputPanel>
					</p:panel>
				</p:dataGrid>
			</p:outputPanel>
			<div class="EmptyBox20" />
		</h:form>


		<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form id="confirmDelete">
				<center>
					<p:commandButton value="#{lang['yes']}" actionListener="#{detailInputUI.deleteDetails}" oncomplete="PF('confirmation').hide()" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
				</center>
			</h:form>
		</p:confirmDialog>



	</ui:define>

</ui:composition>