<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<style>
.ui-autocomplete-panel {
	width: 30% !important;
}
</style>


		<p:outputPanel styleClass="card ui-g">
			<h:form id="contractInsForm">
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h1>#{lang['new.enquiry']}</h1>
				</div>
				<div class="EmptyBox10" />
				<p:growl sticky="false" ><p:autoUpdate/></p:growl>

				<p:outputPanel styleClass="ui-g-12" id="contractInsGrid">
					<h:panelGroup styleClass="md-inputfield">

						<p:autoComplete id="customer" value="#{enquiryUI.selectedCustomer}" completeMethod="#{enquiryUI.complete}" var="rv" size="40" itemLabel="#{rv.customerName}" inputStyle="width: 95%" itemValue="#{rv}" forceSelection="true" converter="CustomerConvertor" dropdown="true" minQueryLength="2"
							maxResults="20" style="width: 90%">
							<p:ajax event="itemSelect" listener="#{enquiryUI.onItemSelect}" update=":mainForm :quoteForm" />

							<f:facet name="itemtip">
								<h:panelGrid columns="2" cellpadding="5" width="100%">
									<f:facet name="header">
										<h:outputText value="#{rv.customerName}" styleClass="Fs18 FontLight" />
										<c:if test="#{rv.id ne -1}">
											<hr />
										</c:if>

									</f:facet>

									<h:outputText value="#{lang['phone']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.phoneNumber}" rendered="#{rv.id ne -1}" />

									<h:outputText value="#{lang['email']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.companyEmail}" rendered="#{rv.id ne -1}" />

									<h:outputText value="#{lang['company']} #{lang['number']}:" rendered="#{rv.id ne -1}" styleClass="Fright FontBold" />
									<h:outputText value="#{rv.companyNumber}" rendered="#{rv.id ne -1}" />
								</h:panelGrid>
							</f:facet>

						</p:autoComplete>
						<p:outputLabel value="#{lang['customer']}:" for="customer" styleClass="FontLight" />
					</h:panelGroup>

				</p:outputPanel>

			</h:form>
		</p:outputPanel>
		<h:form id="mainForm">
			<p:outputPanel id="contractInsFormTwo" rendered="#{enquiryUI.displayClientInformation eq true}" styleClass=" card ui-g">
				<ui:include src="/pages/includes/customer.xhtml" />
			</p:outputPanel>
		</h:form>

		<h:form id="quoteForm">
			<p:outputPanel rendered="#{enquiryUI.displayEnquiries eq true}" styleClass=" card ui-g">
				<ui:include src="/pages/includes/enquiryDetailsOld.xhtml" />
			</p:outputPanel>
		</h:form>

		<p:dialog header="#{lang['drawings.upload']}" widgetVar="uploadDialogDrawings" resizable="false" hideEffect="clip" showEffect="clip" id="uploadDialogDrawings" modal="true" position="top" minWidth="500" width="70%">
			<h:form id="docUploadDrawing">
				<p:fileUpload fileUploadListener="#{enquiryUI.saveFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false" fileLimit="1" immediate="false" auto="true"
					oncomplete="PF('uploadDialog').hide();" update=":quoteForm" />
				<p:dataTable var="rVar" value="#{enquiryUI.docList}" id="uploadDrawList" rowKey="#{rVar.id}" paginator="true" rows="10" filteredValue="#{enquiryUI.docfilteredList}" paginatorPosition="bottom" rendered="#{enquiryUI.contract ne null}"
					paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

					<f:facet name="header">#{lang['documents']}</f:facet>

					<p:column headerText="File Name">
						<h:outputText value="#{rVar.originalFname}" />
					</p:column>

					<p:column headerText="Date Uploaded">
						<h:outputText value="#{rVar.addDate}">
							<f:convertDateTime pattern="dd MMM yyyy" />
						</h:outputText>
					</p:column>

					<p:column headerText="User Uploaded">
						<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
					</p:column>

					<p:column headerText="Version Number">
						<h:outputText value="#{rVar.versionNo}" />
					</p:column>

					<p:column width="6%">
						<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{enquiryUI.uploadDocUI.download}" id="download" ajax="false">
							<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:spacer width="5" />
					</p:column>
				</p:dataTable>
				<br />
				<p:commandButton value="Close" icon="fa fa-times" oncomplete="PF('uploadDialog').hide()" />
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['upload']}" widgetVar="uploadDialogDocument" resizable="false" hideEffect="clip" showEffect="clip" id="uploadDialogDocument" position="top" modal="true" minWidth="500" width="70%">
			<h:form id="docUpload">
				<p:outputPanel styleClass="ui-g">
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<p:fileUpload fileUploadListener="#{enquiryUI.saveFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false" fileLimit="1" immediate="false" auto="true" update=":docUpload" />
					</div>
					<div class="ui-g-12 ui-md-12 ui-lg-12">
						<p:dataTable var="rVar" value="#{enquiryUI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="10" filteredValue="#{enquiryUI.docfilteredList}" paginatorPosition="bottom" rendered="#{enquiryUI.contract ne null}"
							paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true" selectionMode="single">

							<f:facet name="header">#{lang['documents']}</f:facet>

							<p:column headerText="Version Number" width="10%">
								<h:outputText value="#{rVar.versionNo}" />
							</p:column>

							<p:column headerText="Original File Name">
								<h:outputText value="#{rVar.originalFname}" />
							</p:column>

							<p:column headerText="Date Uploaded">
								<h:outputText value="#{rVar.addDate}">
									<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
								</h:outputText>
							</p:column>

							<p:column headerText="Owner">
								<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
							</p:column>

							<p:column width="6%">
								<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
									<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:spacer width="5" />
								<!-- 	For Future Developement
								<p:commandButton icon="fa fa-bars " id="dhist"  oncomplete="PF('histDialog').show()" update=":documenttrackeForm:documenttrackeList">
									<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
								</p:commandButton> -->
								<!-- 	<p:spacer width="5" />
								<p:commandButton icon="fa fa-cloud-upload " id="newver" oncomplete="PF('newVerDlg').show()" update=":newVersion" title="Upload a new Version" action="#{finPromoUI.prepareNewVer}" rendered="#{rvx.approveDoc ne true}">
									<f:setPropertyActionListener value="#{rv}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								
								<p:spacer width="5" rendered="#{rVar.docVerions.size()>0}"/>
								<p:commandButton icon="fa fa-tasks " id="viewver" oncomplete="PF('viewVerDlg').show()" update=":viewVersion" title="View Older Versions" rendered="#{rVar.docVerions.size()>0}">
									<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
								</p:commandButton>
								<p:tooltip for="download" value="#{lang['download']}" />
								<p:tooltip for="newver" value="New Version " />
								<p:tooltip for="viewver" value="View Versions " /> -->
							</p:column>
						</p:dataTable>
						<br />

						<p:commandButton value="Close" icon="fa fa-times" oncomplete="PF('uploadDialogDocument').hide()" />
					</div>
				</p:outputPanel>
			</h:form>
		</p:dialog>

		<p:dialog header="Upload a new version" widgetVar="newVerDlg" width="40%" modal="true">
			<h:form id="newVersion">
				<p:fileUpload onstart="uploadStart()" oncomplete="uploadDone()" fileUploadListener="#{uploadDocUI.saveFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="Select file to upload" fileLimitMessage="File to big to upload" update=":docUpload" multiple="false" fileLimit="1"
					immediate="false" auto="true" />
			</h:form>
		</p:dialog>

		<p:dialog header="View version" widgetVar="viewVerDlg" width="800" modal="true">
			<h:form id="viewVersion">

				<p:dataTable var="rv1" value="#{uploadDocUI.doc.docVerions}">
					<p:column>
						<f:facet name="header">Original File name</f:facet>
						<h:outputText value="#{rv1.originalFname}" />
					</p:column>

					<p:column>
						<f:facet name="header">Version</f:facet>
						<h:outputText value="#{rv1.versionNo}" />
					</p:column>

					<p:column>
						<f:facet name="header">Owner</f:facet>
						<h:outputText value="#{rv1.user.firstName} #{rv1.user.lastName}" />
					</p:column>


					<p:column>
						<f:facet name="header">Date added</f:facet>
						<h:outputText value="#{rv1.addDate}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>



					<p:column>

						<p:commandButton ajax="false" icon="fa fa-download " action="#{uploadDocUI.download}" id="dlb1" title="Download version">
							<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:tooltip for="dlb1" value="Download version  " />

						<h:panelGroup rendered="#{rv1.note ne null}">
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-comment-o " id="dnote1" oncomplete="PF('noteDialog').show()" update=":noteForm:notePanel" title="View Note">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="dnote1" value="View Note  " />
						</h:panelGroup>

						<h:panelGroup rendered="#{rv1.extension.toLowerCase() eq 'pdf'}">
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-eye " id="viewerButton" oncomplete="PF('viewDialog').show()" update=":viewForm:viewer" action="#{uploadDocUI.buildStreamContent}" title="View Document">
								<f:setPropertyActionListener value="#{rv1}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:tooltip for="viewerButton" value="View Document  " />
						</h:panelGroup>

					</p:column>

				</p:dataTable>


			</h:form>


		</p:dialog>



	</ui:define>

</ui:composition>
