<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractTypeEnum" var="contracttype" />

		<h:form id="customerDetailsForm">
			<p:growl id="enquiryGrwl" sticky="false" ><p:autoUpdate/></p:growl>
			<div class="card">
				<ui:include src="/pages/includes/customerDetails.xhtml" />
			</div>
		</h:form>
		<h:form id="enquiryInputForm">
			<p:growl id="enquiryInputFormGrwl" life="5000" sticky="false" ><p:autoUpdate/></p:growl>
			<div class="ui-g-12">
				<div class="card">
					<ui:include src="/pages/includes/enquiryInputs.xhtml" />
				</div>
			</div>
		</h:form>

		<h:form id="enquiryForm">

			<p:outputPanel id="existingEnquiryPnl" rendered="#{enquiryUI.contractList.size() gt 0}" styleClass="ui-g card">
				<h2>#{lang['enquiries']}</h2>
				<p:dataTable var="rowVar" value="#{enquiryUI.contractList}" id="quotationList" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="false">
					<p:column headerText="#{lang['enqNumber']}" sortBy="#{rowVar.enquiryNumber}" width="15%">
						<h:outputText value="#{rowVar.enquiryNumber eq null ?'[Not Saved]' :(rowVar.contractType eq contracttype.Order ?rowVar.contractNumber :rowVar.enquiryNumber)}" />
					</p:column>
					<p:column headerText="Revision Number" width="15%">
						<h:outputText value="#{rowVar.revisionNumber}" />
					</p:column>
					<p:column headerText="#{lang['title.of.enquiry']}" width="15%">
						<h:outputText value="#{rowVar.title}" />
					</p:column>
					<p:column headerText="#{lang['enquiry']}" width="15%">
						<h:outputText value="#{rowVar.contractType.friendlyName}" />
					</p:column>
					<p:column headerText="#{lang['create.date']}" width="15%">
						<h:outputText value="#{rowVar.createDate}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{lang['enqDetails']}" width="15%">
						<h:outputText value="#{rowVar.details}" />
					</p:column>
					<p:column headerText="#{lang['contract.status']}" width="15%">
						<h:outputText value="#{rowVar.contractStatus.friendlyName}" />
					</p:column>
					<p:column width="12%">
						<p:commandButton icon="fa fa-database" title="Update" id="updBtn" update=" :enquiryInputForm">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiryUI.contract}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="uplDocBtn" action="#{uploadDocUI.runInit}" icon="fa fa-cloud-upload" oncomplete="PF('sessionUploadDlg').show()" update=":sessionUploadForm">
							<f:setPropertyActionListener value="#{rowVar}" target="#{sessionUI.contract}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="sendContractBtn" ajax="true" icon="fa fa-mail-forward" action="#{enquiryUI.contractSubmit}" rendered="#{rowVar.contractStatus eq contractStatusEnum.NewEnquiry}" update=":enquiryInputForm :enquiryForm">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiryUI.contract}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="deleteContractBtn" oncomplete="PF('confirmation').show()" ajax="true" icon="fa fa-remove" rendered="#{rowVar.contractStatus eq contractStatusEnum.NewEnquiry}">
							<f:setPropertyActionListener value="#{rowVar}" target="#{enquiryUI.contract}" />
						</p:commandButton>
						<p:tooltip for="deleteContractBtn" value="#{lang['delete']}" position="left" />
						<p:tooltip for="sendContractBtn" value="#{lang['send.contract']}" position="left" />
						<p:tooltip for="updBtn" value="#{lang['update.entry']}" position="" />
						<p:tooltip for="uplDocBtn" value="#{lang['upload.view.documents']}" position="" />
					</p:column>
				</p:dataTable>
			</p:outputPanel>
		</h:form>

		<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
			<h:form id="confirmDelete">
				<center>
					<p:commandButton value="#{lang['yes']}" update=":enquiryInputForm :enquiryForm" actionListener="#{enquiryUI.deleteContract}" oncomplete="PF('confirmation').hide()" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
				</center>
			</h:form>
		</p:confirmDialog>


		<ui:include src="/pages/includes/sessionUploadDoc.xhtml" />

	</ui:define>
</ui:composition>