<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<p:growl id="irGrwl" sticky="false" ><p:autoUpdate/></p:growl>

		<ui:include src="/pages/includes/detailDialogCustomerContract.xhtml" />
		<div class="EmptyBox10" />
		<div class="ui-g card">
			<h:form id="inspectionReportInputForm">
				<p:ajaxStatus oncomplete="cleanupTooltips();" />
				
				<p:fieldset legend="#{lang['strip.and.inspection.report']}" id="fieldset1">
				
					<p:panelGrid layout="grid" columns="3" styleClass="ui-panelgrid-blank">
						<h:panelGroup>
							<h:panelGroup class="Fleft">
								<p:outputLabel value="#{lang['form.no']}" style="font-weight:bold !important;" />
								<p:spacer width="5" />
								<p:outputLabel value="#{inspectionReportFormUI.inspectionReport.formNumber}" rendered="#{inspectionReportFormUI.inspectionReport.formNumber.length() gt 0}" />
								<c:if test="#{inspectionReportFormUI.inspectionReport.formNumber eq null}">
									<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['auto.generated']}</span>
								</c:if>
							</h:panelGroup>
							<h:panelGroup class="Fright">
								<p:outputLabel style="font-weight:bold !important;" value="Rev No. #{inspectionReportFormUI.inspectionReport.revisionNumber}" />
							</h:panelGroup>
						</h:panelGroup>					
						
						<h:panelGroup>
							<span class="Fright"> <p:outputLabel value="#{lang['repair']}" style="font-weight:bold !important;" /> <p:spacer width="5px" /> <p:selectBooleanCheckbox value="#{sessionUI.contract.contractType.ordinal() eq 0}" disabled="true" /> <p:outputLabel value="#{lang['new']}"
									style="font-weight:bold !important;" /> <p:spacer width="5px" /> <p:selectBooleanCheckbox value="#{sessionUI.contract.contractType.ordinal() eq 1}" disabled="true" />
							</span>
						</h:panelGroup>
					</p:panelGrid>
					
					<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['note.all.relevant.fields.must.be.completed']}</span>
					
					<p:panelGrid layout="grid" columns="4" styleClass="ui-panelgrid-blank">
						<p:outputLabel value="#{lang['am.contract.number']}" style="font-weight:bold !important;" />
						<p:outputLabel value="#{lang['date']}" style="font-weight:bold !important;" />
						<p:outputLabel value="#{lang['fitter']}" style="font-weight:bold !important;" />
						<p:outputLabel value="#{lang['signed']}" style="font-weight:bold !important;" />
						<p:outputLabel value="#{inspectionReportFormUI.inspectionReport.contract.contractNumber ne null ?inspectionReportFormUI.inspectionReport.contract.contractNumber :inspectionReportFormUI.inspectionReport.contract.enquiryNumber}" />
						<p:outputLabel value="#{inspectionReportFormUI.inspectionReport.createDate}">
							<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
						</p:outputLabel>
						<p:outputLabel value="#{inspectionReportFormUI.inspectionReport.fitter.firstName} #{inspectionReportFormUI.inspectionReport.fitter.lastName}" />
						<p:outputLabel value="#{sessionUI.user.firstName} #{sessionUI.user.lastName}" />
						<p:outputLabel value="#{lang['customer.name']}:" style="font-weight:bold !important;" />
						<p:outputLabel value="#{sessionUI.customer.customerName}" />
						<p:outputLabel for="cOrderNumInput" value="#{lang['customer.order.no.']}:" style="font-weight:bold !important;" />
						<p:inputText id="cOrderNumInput" required="true" requiredMessage="Please Provide Customer Order Number" value="#{inspectionReportFormUI.inspectionReport.customerOrderNumber}" placeholder="#{lang['customer.order.no.']}" />
						<p:outputLabel value="#{lang['stock.number']}:" style="font-weight:bold !important;">
						</p:outputLabel>
						<p:outputLabel value=" #{sessionUI.contract.stockNumber}" />
						<p:outputLabel for="drawNumberInput" value="#{lang['drawing.number']}:" style="font-weight:bold !important;"/>
			
						
						<p:inputText id="drawNumberInput" value="#{inspectionReportFormUI.inspectionReport.drawingNumber}" placeholder="#{lang['drawing.number']}" />
						<p:outputLabel for="cylinderTypeInput" value="#{lang['cylinder.type']}:" style="font-weight:bold !important;" />
						<p:inputText id="cylinderTypeInput" value="#{inspectionReportFormUI.inspectionReport.cylinderType}" placeholder="#{lang['e.g.air']}" />
						<p:outputLabel for="constructionTypeInput" value="#{lang['contruction.type']}:" style="font-weight:bold !important;" />
						<p:inputText id="constructionTypeInput" value="#{inspectionReportFormUI.inspectionReport.constructionType}" placeholder="#{lang['e.g.tie.bar']}" />
					
					
						<p:outputLabel for="mountInput" value="#{lang['mounting']}:" style="font-weight:bold !important;" />
						<p:inputText id="mountInput" value="#{inspectionReportFormUI.inspectionReport.mounting}" placeholder="#{lang['e.g.fixed.clevis']}" />
						<p:outputLabel for="actualBoreSizeInput" value="#{lang['actual.bore.size']}:" style="font-weight:bold !important;" />
						<p:inputText id="actualBoreSizeInput" value="#{inspectionReportFormUI.inspectionReport.actualBoreSize}" placeholder="#{lang['e.g.8x8x22']}" />
						<p:outputLabel for="actualRodSizeInput" value="#{lang['actual.rod.size']}:" style="font-weight:bold !important;" />
						<p:inputText id="actualRodSizeInput" value="#{inspectionReportFormUI.inspectionReport.actualRodSize}" placeholder="#{lang['e.g.5x24']}" />
						<p:outputLabel for="boreSizeInput" value="#{lang['bore.size']}:" style="font-weight:bold !important;" />
						<p:inputText id="boreSizeInput" value="#{inspectionReportFormUI.inspectionReport.boreSize}" placeholder="#{lang['e.g.8x8x22']}" />
						<p:outputLabel for="rodSizeInput" value="#{lang['rod.size']}:" style="font-weight:bold !important;" />
						<p:inputText id="rodSizeInput" value="#{inspectionReportFormUI.inspectionReport.rodSize}" placeholder="#{lang['e.g.5x25']}" />
						<p:outputLabel for="strokeInput" value="#{lang['stroke']}:" style="font-weight:bold !important;" />
						<p:inputText id="strokeInput" value="#{inspectionReportFormUI.inspectionReport.stroke}" placeholder="#{lang['e.g.765mm']}" />
						<p:outputLabel for="mediumInput" value="#{lang['medium']}:" style="font-weight:bold !important;" />
						<p:inputText id="mediumInput" value="#{inspectionReportFormUI.inspectionReport.medium}" placeholder="#{lang['e.g.Air,Oil']}" />
					</p:panelGrid>
					
					
				</p:fieldset>
				
				<div class="EmptyBox5" />
				<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['note.sketches.to.be.made.of.cylinder.assembly.and.attached.to.this.report']} </span>

				<div class="EmptyBox5" />
				<p:dataTable value="#{inspectionReportFormUI.inspectionReportItemList}" var="temp" editable="true">
					<p:ajax event="rowEdit" listener="#{inspectionReportFormUI.onRowEdit}" update="irGrwl" />
					<p:ajax event="rowEditCancel" listener="#{inspectionReportFormUI.onRowCancel}" update="irGrwl" />
					<p:column headerText="#{lang['component.description']}">
						<p:outputLabel value="#{temp.componentDescription}" />
					</p:column>
					<p:column headerText="#{lang['condition.and.work.required']}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{temp.conditionWorkRequired}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{temp.conditionWorkRequired}" style="width:100%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="#{lang['material.description']}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{temp.materialDescription}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText value="#{temp.materialDescription}" style="width:100%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="#{lang['material.cost']}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{temp.materialCost}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText type="number" value="#{temp.materialCost}" style="width:100%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column headerText="#{lang['labour.cost']}">
						<p:cellEditor>
							<f:facet name="output">
								<h:outputText value="#{temp.labourCost}" />
							</f:facet>
							<f:facet name="input">
								<p:inputText type="number" value="#{temp.labourCost}" style="width:100%;" />
							</f:facet>
						</p:cellEditor>
					</p:column>
					<p:column style="width:32px" rendered="#{(!inspectionReportFormUI.inspectionReport.completedReport) and (!inspectionReportFormUI.inspectionReport.closeReport)}">
						<p:rowEditor />
					</p:column>
				</p:dataTable>
				
				<p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank">
						<h:panelGroup class="ui-g-12">
							<p:commandButton id="saveSIBtn" value="Save" icon="fa fa-save" action="#{inspectionReportFormUI.saveInspectionReport}" update=":inspectionReportInputForm" rendered="#{(!inspectionReportFormUI.inspectionReport.completedReport) and (!inspectionReportFormUI.inspectionReport.closeReport)}" />
							<p:spacer width="5" />
							<p:commandButton id="completeSIBtn" value="Complete" icon="fa fa-check" action="#{inspectionReportFormUI.completeInspectionReport}" update=":inspectionReportInputForm"
								rendered="#{(!inspectionReportFormUI.inspectionReport.completedReport) and (!inspectionReportFormUI.inspectionReport.closeReport) and inspectionReportFormUI.inspectionReport.id ne null}" />
							<p:spacer width="5" />
							<p:commandButton id="newSIBtn" value="Close" icon="fa fa-times" action="#{inspectionReportFormUI.closeInspectionReport}" update=":inspectionReportInputForm"
								rendered="#{(!inspectionReportFormUI.inspectionReport.completedReport) and (!inspectionReportFormUI.inspectionReport.closeReport) and inspectionReportFormUI.inspectionReport.id ne null}" />
							<p:spacer width="5" />
							<p:commandButton value="Download PDF" id="dwnBtn" icon="fa fa-download" ajax="false" process="@this" action="#{inspectionReportFormUI.downloadPDF}" />
							<p:outputLabel style="background-color: #ff0000 !important;" value="Closed" rendered="#{inspectionReportFormUI.inspectionReport.closeReport}" />
							<p:outputLabel style="background-color: #00ff00 !important;" value="Completed" rendered="#{inspectionReportFormUI.inspectionReport.completedReport}" />
						</h:panelGroup>
					</p:panelGrid>
			</h:form>
		</div>
	</ui:define>

</ui:composition>