<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="poTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>#{lang['strip.and.inspection.report']}</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-plus" value="Create" oncomplete="PF('createSIDlg').show()" />
				<p:spacer width="5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}" action="#{inspectionReportTableUI.clearSearch}" update=":searchForm" oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />Below is all Strip and Inspection Reports</span>
				</div>
				<div class="EmptyBox5" />
				<c:if test="#{inspectionReportTableUI.inspectionReportList.size() le 0}">
					<h3>#{lang['no.strip.inspec']}</h3>
				</c:if>
				<p:dataTable id="purchaseOrderTable" var="ir" value="#{inspectionReportTableUI.inspectionReportList}" rendered="#{inspectionReportTableUI.inspectionReportList.size() gt 0}">
					<p:column headerText="#{lang['contract/enquiry.number']}" groupRow="true">
						<h:outputText value="#{ir.contract.contractNumber ne null ? ir.contract.contractNumber : ir.contract.enquiryNumber}" />
					</p:column>
					<p:column headerText="#{lang['form.number']}">
						<h:outputText value="#{ir.formNumber}" />
					</p:column>
					<p:column headerText="Revision Number">
						<h:outputText value="#{ir.revisionNumber}" />
					</p:column>
					<p:column headerText="#{lang['customer.order.no.']}">
						<h:outputText value="#{ir.customerOrderNumber}" />
					</p:column>
					<p:column headerText="Complete/Closed">
						<h:outputText rendered="#{ir.completedReport}" value="Completed" />
						<h:outputText rendered="#{ir.closeReport}" value="Closed" />
						<h:outputText rendered="#{!(ir.closeReport or ir.completedReport)}" value="Started" />
					</p:column>
					<p:column>
						<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" ajax="false" process="@this" action="#{inspectionReportTableUI.zoomTo}">
							<f:setPropertyActionListener value="#{ir}" target="#{inspectionReportTableUI.inspectionReport}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="dwnBtn" icon="fa fa-download" ajax="false" process="@this" action="#{inspectionReportTableUI.downloadPDF}">
							<f:setPropertyActionListener value="#{ir}" target="#{inspectionReportTableUI.inspectionReport}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="deleteBtn" icon="fa fa-trash" process="@this" update="@form" oncomplete="PF('deleteDlg').show()">
							<f:setPropertyActionListener value="#{ir}" target="#{inspectionReportTableUI.inspectionReport}" />
						</p:commandButton>

						<p:tooltip for="zoomToBtn" value="View  " />
						<p:tooltip for="dwnBtn" value="Download  " />
						<p:tooltip for="deleteBtn" value="Delete " />
					</p:column>
				</p:dataTable>
				<p:confirmDialog widgetVar="deleteDlg" header="#{lang['delete']} #{inspectionReportTableUI.inspectionReport.formNumber}" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{lang['yes']}" oncomplete="PF('deleteDlg').hide()" action="#{inspectionReportTableUI.deleteInspectionReport}" update="@form" icon="ui-icon-check" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>

		<p:dialog header="#{lang['search.criteria']}" widgetVar="searchDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="searchDlg" position="center" modal="true" minWidth="500" width="60%" closeOnEscape="true">
			<h:form id="searchForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['everything.is.optional']}</span>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{inspectionReportTableUI.contractNumber}" placeholder="#{lang['e.g.A0004310.or.E00089021']}" style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['form.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{inspectionReportTableUI.formNumber}" placeholder="#{lang['e.g.SI000786']}" style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['customer.order.no.']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{inspectionReportTableUI.customerOrderNum}" placeholder="#{lang['any.text']}" style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['completed']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:triStateCheckbox value="#{inspectionReportTableUI.triStateValue}" stateOneIcon="" stateTwoIcon="ui-icon-check" stateThreeIcon="ui-icon-closethick">
							<p:ajax event="change" listener="#{inspectionReportTableUI.triStateCheckAroo}" />
						</p:triStateCheckbox>
					</div>
					<div class="EmptyBox5" />
					<p:commandButton value="#{lang['search']}" update=":poTableForm" action="#{inspectionReportTableUI.searchFor}" oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" action="#{inspectionReportTableUI.clearSearch}" update="@form" icon="ui-icon-refresh" />
				</div>
			</h:form>
		</p:dialog>

		<p:dialog header="#{lang['create.inspection.report.for.contract']}" widgetVar="createSIDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="createRouteDlg" position="center" modal="true" minWidth="500" width="30vw" closeOnEscape="true">
			<h:form id="siCreateForm">
				<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['search.by.status.or.Contract/Enquiry.number']} </span>
				<div class="EmptyBox5" />
				<p:outputLabel value="#{lang['contract.look-up']}" />
				<div class="EmptyBox5" />
				<p:autoComplete required="true" requiredMessage="Select a contract" id="contracteAutoComplete" value="#{inspectionReportTableUI.contract}" completeMethod="#{inspectionReportTableUI.completeContract}" var="contractAuto" itemLabel="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}"
					itemValue="#{contractAuto}" forceSelection="true" converter="ContractConvertor" dropdown="true" minQueryLength="1" maxResults="10" placeholder="Contract">
					<p:column headerText="#{lang['contract.number']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}" escape="false" />
					</p:column>
					<p:column headerText="#{lang['contract.title']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.title}" escape="false" />
					</p:column>
				</p:autoComplete>
				<div class="EmptyBox20" />
				<p:commandButton value="#{lang['create']}" ajax="false" action="#{inspectionReportTableUI.createRouteCardWithContract}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['cancel']}" action="#{inspectionReportTableUI.clearContract}" update="@form" oncomplete="PF('createSIDlg').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>