<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="subheader">
	#{lang['my.profile']}
	</ui:define>


	<ui:define name="content">
		<p:growl sticky="false" ><p:autoUpdate/></p:growl>
		<div class="ui-g">
			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<H1>#{lang['details']}</H1>
				<h:form>
					<p:outputPanel styleClass="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="#{lang['first.name']}#{lang['colon']}" for="firstName" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<!-- <p:inputText readonly="true" id="firstName" value="#{profileUI.user.firstName}" label="firstName" required="true" style="width: 90%" requiredMessage="Enter first name" /> -->
							<p:outputLabel id="firstName" value="#{profileUI.user.firstName}" style="width: 90%" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="#{lang['last.name']}#{lang['colon']}" for="lastName" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<!-- <p:inputText readonly="true" id="lastName" value="#{profileUI.user.lastName}" style="width: 90%" label="lastName" required="true" requiredMessage="Enter surname" /> -->
							<p:outputLabel id="lastName" value="#{profileUI.user.lastName}" style="width: 90%" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="#{lang['email']}#{lang['colon']}" for="email" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<!-- <p:inputText readonly="true" id="email" value="#{profileUI.user.email}" style="width: 90%" label="email" required="true" requiredMessage="Enter email address" /> -->
							<p:outputLabel id="email" value="#{profileUI.user.email}" style="width: 90%" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="#{lang['mobile.number']}#{lang['colon']}" for="cellNumber" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText id="cellNumber" value="#{profileUI.user.cellNumber}" style="width: 90%" label="cellNumber" required="false" requiredMessage="Enter mobile number" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel value="#{lang['tel.number']}#{lang['colon']}" for="telNumber" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:inputText id="telNumber" value="#{profileUI.user.telNumber}" style="width: 90%" label="telNumber" />
						</div>
						<div class="EmptyBox20" />
						<div class="ui-g-12">
							<p:commandButton value="#{lang['update']}" action="#{profileUI.usersUpdate}" icon="fa fa-database" update="@form" />
						</div>
					</p:outputPanel>
				</h:form>
			</p:outputPanel>
		</div>
		<div class="ui-g">
			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h1 class="BigTopic">#{lang['change.your.password']}</h1>
				<h:form id="usersUpdPwdForm">
					<p:outputPanel styleClass="ui-g">
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel for="pwd1" value="#{lang['existing.password']}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:password style="width: 90%" id="pwd1" value="#{profileUI.password}" required="true" requiredMessage="Please enter existing Password" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel for="pwd2" value="#{lang['new.password']}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:password style="width: 90%" id="pwd2" value="#{profileUI.newPassword}" match="pwd3" required="true" requiredMessage="Please enter new Password" validatorMessage="Passwords do not match" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:outputLabel for="pwd3" value="#{lang['confirm.password']}" />
						</div>
						<div class="ui-g-12 ui-md-6 ui-lg-6">
							<p:password style="width: 90%" id="pwd3" value="#{profileUI.newPassword}" required="true" requiredMessage="Please enter confirm Password" />
						</div>
						<div class="EmptyBox20" />
						<div class="ui-g-12">
							<p:commandButton value="#{lang['change.password']}" icon="fa fa-key" action="#{profileUI.usersChgOwnPwdUpdate}" update="@form" />
						</div>
					</p:outputPanel>
				</h:form>
			</p:outputPanel>
		</div>






	</ui:define>

</ui:composition>