<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<div class="card ui-g">
			<div class="ui-g-12">
				<h:form id="quoteForm2">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:fieldset
						legend="#{lang['purchase.order']} #{purchaseOrderFormUI.purchaseOrder.purchaseOrderNumber} REV No. #{purchaseOrderFormUI.purchaseOrder.revisionNumber}"
						id="quoteItem">
						<div class="EmptyBox10" />
						<p:outputLabel value="P.O. Number: " />
						<p:spacer width="5px" />
						<p:inputText id="poNumber"
							value="#{purchaseOrderFormUI.purchaseOrder.purchaseOrderNumber}"
							placeholder="P.O. Reference" required="false"
							requiredMessage="Provide P.O. Number" />
						<div class="EmptyBox10" />
						<p:outputLabel value="#{lang['contract']}: " />
						<p:spacer width="5px" />
						<p:autoComplete required="false"
							requiredMessage=" Please Enter company number"
							id="resourceAutoComplete"
							value="#{purchaseOrderFormUI.purchaseOrder.contract}"
							completeMethod="#{purchaseOrderFormUI.completeContract}"
							var="contractAuto"
							itemLabel="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}"
							itemValue="#{contractAuto}" forceSelection="true"
							converter="ContractConvertor" dropdown="true" minQueryLength="1"
							maxResults="10"
							placeholder="Find a Contract">
							<p:ajax />
							<p:column headerText="#{lang['contract.number']}"
								style="white-space: nowrap">
								<p:outputLabel
									value="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}"
									escape="false" />
							</p:column>
							<p:column headerText="#{lang['contract.title']}"
								style="white-space: nowrap">
								<p:outputLabel value="#{contractAuto.title}" escape="false" />
							</p:column>
						</p:autoComplete>
						<div class="EmptyBox10" />
						<p:outputLabel value="#{lang['name']}: " />
						<p:spacer width="5px" />
						<p:inputText id="name"
							value="#{purchaseOrderFormUI.purchaseOrder.nameOf}"
							placeholder="#{lang['supplier/subcontractor']}" required="false"
							requiredMessage="Please Provide Name of Supplier/Subcontractor" />
						<div class="EmptyBox10" />
						<p:outputLabel value="Purchase Order for: " />
						<p:selectOneRadio id="pofSelectRadio"
							value="#{purchaseOrderFormUI.purchaseOrder.purchaseOrderForEnum}"
							layout="responsive" columns="1" required="false"
							requiredMessage="Please Select Supplier/Subcontractor">
							<f:selectItems
								value="#{purchaseOrderFormUI.purchasesOrderForEnum}" var="pof"
								itemLabel="#{pof.friendlyName}" itemValue="#{pof}" />
						</p:selectOneRadio>
						<div class="EmptyBox10" />
						<p:outputLabel value="#{lang['status']}: " />

						<p:spacer width="5px" />

						<p:selectOneMenu id="poSelectMenu"
							value="#{purchaseOrderFormUI.purchaseOrder.purchaseOrderEnum}">
							<f:selectItems value="#{purchaseOrderFormUI.purchasesOrderEnum}"
								var="po" itemLabel="#{po.friendlyName}" itemValue="#{po}" />
						</p:selectOneMenu>
					</p:fieldset>
					<div class="EmptyBox10" />
					<p:fieldset legend="#{lang['line.items']}" id="addLineItems"
						rendered="#{purchaseOrderFormUI.purchaseOrder.purchaseOrderNumber ne null}">

						<p:outputLabel for="description" value="#{lang['description']}:" />
						<p:inputText id="description" required="false"
							requiredMessage="Provide description" style="width:75%"
							value="#{purchaseOrderFormUI.purchaseOrderItem.description}"
							placeholder="#{lang['description']}" rows="6" cols="50">
							<p:ajax />
						</p:inputText>

						<div class="EmptyBox10" />
						<p:outputLabel value="#{lang['quantity']}:  " />
						<p:inputText id="qty" required="false"
							requiredMessage="Provide quantity"
							value="#{purchaseOrderFormUI.purchaseOrderItem.quantity}"
							placeholder="#{lang['quantity']}">
							<p:ajax />
						</p:inputText>
						<div class="EmptyBox10" />
						<p:outputLabel value="#{lang['price']}: " />
						<p:inputNumber id="price" required="false"
							requiredMessage="Provide price"
							value="#{purchaseOrderFormUI.purchaseOrderItem.price}"
							placeholder="#{lang['price']}" symbol="&#163;" symbolPosition="p"
							decimalSeparator="." thousandSeparator=",">
							<p:ajax />
						</p:inputNumber>
						<div class="EmptyBox10" />
						<p:selectBooleanCheckbox id="selectPriceInl"
							value="#{purchaseOrderFormUI.purchaseOrderItem.excludePriceB}"
							style="width: 100%" itemLabel="Exclude Price" />

						<h:panelGroup class="ui-g-12">
							<p:commandButton title="Save Item" icon="fa fa-floppy-o"
								action="#{purchaseOrderFormUI.addItemsToPOlist}"
								process="@this description qty price selectPriceInl quoteItemTbl"
								update="@form quoteItemTbl"
								rendered="#{purchaseOrderFormUI.purchaseOrder.id ne null}" />
							<p:spacer width="5px" />
							<p:commandButton icon="fa fa-refresh" update="@form"
								title="Clear Item" action="#{purchaseOrderFormUI.newPOItem}"
								rendered="#{purchaseOrderFormUI.purchaseOrder.id ne null}" />
						</h:panelGroup>

					</p:fieldset>

					<div class="EmptyBox10" />
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer
							width="5px" />#{lang['as.you.add.line.items.they.shall.appear.here']}</span>
					<div class="ui-g">
						<div class="ui-g-12">
							<p:dataTable id="quoteItemTbl"
								rendered="#{purchaseOrderFormUI.purchaseOrderItemList.size() gt 0}"
								var="quoteItemV"
								value="#{purchaseOrderFormUI.purchaseOrderItemList}"
								rows="#{purchaseOrderFormUI.purchaseOrderItemList.size()}"
								sortBy="#{quoteItemV.purchaseOrder.id}">
								<p:column headerText="#{lang['line.no']}" width="9%">
									<p:outputLabel value="#{quoteItemV.lineNumber}" />
								</p:column>
								<p:column headerText="Exclude Price" width="9%">
									<p:selectBooleanCheckbox disabled="true"
										value="#{quoteItemV.excludePriceB}" />
								</p:column>
								<p:column headerText="#{lang['description']}" width="35%">
									<p:outputLabel value="#{quoteItemV.description}" />
								</p:column>
								<p:column headerText="#{lang['quantity']}" width="15%">
									<p:outputLabel value="#{quoteItemV.quantity}" />
								</p:column>
								<p:column headerText="Price per unit" width="15%">
									<p:outputLabel value="#{quoteItemV.price}">
										<f:convertNumber type="currency" currencySymbol="&#163;" />
									</p:outputLabel>
								</p:column>
								<p:column headerText="Total" width="15%">
									<p:outputLabel
										value="#{quoteItemV.price * quoteItemV.quantity}">
										<f:convertNumber type="currency" currencySymbol="&#163;" />
									</p:outputLabel>
								</p:column>
								<p:column width="12%" rendered="true">
									<p:commandButton icon="fa fa-database" update="@form"
										title="#{lang['update.line.item']}" process="@this"
										rendered="false">
										<f:setPropertyActionListener value="#{quoteItemV}"
											target="#{purchaseOrderFormUI.purchaseOrderItem}" />
									</p:commandButton>
									<p:commandButton icon="fa fa-trash" process="@this"
										update="@form" oncomplete="PF('deleteQuoteItem').show()"
										title="#{lang['remove.line.item']}">
										<f:setPropertyActionListener value="#{quoteItemV}"
											target="#{purchaseOrderFormUI.purchaseOrderItem}" />
									</p:commandButton>
								</p:column>

								<f:facet name="footer">

									<p:column colspan="4" style="text-align:right !important;">

									</p:column>

									<p:column colspan="3" style="text-align:right !important;">
										<h:outputText value="#{lang['total.price']}:" />
										<p:spacer width="10" />
									</p:column>

									<p:column colspan="3" styleClass="NoRedBackgroundBlackText">
										<h:outputText
											value="#{purchaseOrderFormUI.purchaseOrder.totalPrice}">
											<f:convertNumber type="currency" currencySymbol="&#163;" />
										</h:outputText>
									</p:column>

								</f:facet>
							</p:dataTable>

						</div>
					</div>

					<p:confirmDialog widgetVar="deleteQuoteItem"
						header="#{lang['delete.quote']}?" message="Are you sure?"
						showEffect="fade" hideEffect="fade">
						<p:commandButton value="#{lang['yes']}"
							oncomplete="PF('deleteQuoteItem').hide()"
							action="#{purchaseOrderFormUI.deletePurchaseOrderItem}"
							update="@form" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" icon="ui-icon-close"
							oncomplete="PF('deleteQuoteItem').hide()" />
					</p:confirmDialog>

					<div class="EmptyBox10" />

					<div class="ui-g-12">
						<p:commandButton value="Save" icon="fa fa-floppy-o"
							title="#{lang['save.purchase.order']}"
							action="#{purchaseOrderFormUI.savePurchaseOrder}" update="@form"
							process="@this quoteForm2:resourceAutoComplete quoteForm2:name quoteForm2:pofSelectRadio quoteForm2:poSelectMenu quoteForm2:poNumber" />
						<p:spacer width="5" />
						<p:commandButton value="Clear" icon="fa fa-refresh"
							title="#{lang['clear.main.purchase.order']}"
							action="#{purchaseOrderFormUI.newPurchaseOrder}"
							process="@this resourceAutoComplete name pofSelectRadio poSelectMenu quoteItemTbl"
							update="@form" />
						<p:spacer width="5" />
						<p:commandButton immediate="true" process="@this"
							value="Download PDF" icon="fa fa-download" ajax="false"
							title="#{lang['download.document']}"
							action="#{purchaseOrderFormUI.downloadPurchaseOrder}"
							rendered="#{purchaseOrderFormUI.purchaseOrder.id ne null}" />
					</div>
				</h:form>
			</div>
		</div>
	</ui:define>
</ui:composition>