<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="poTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>#{lang['purchase.orders']}</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-plus" value="#{lang['create.purchase.order']}" action="#{purchaseOrderTableUI.zoomTo}" />
				<p:spacer width="5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}" action="#{purchaseOrderTableUI.clearSearch}" update=":searchForm" oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['below.is.all.purchase.orders']}</span>
				</div>
				<div class="EmptyBox5" />
				<c:if test="#{purchaseOrderTableUI.purchaseOrderList.size() le 0}">
					<h3>#{lang['no.purchase.orders']}</h3>
				</c:if>
				<p:dataTable id="purchaseOrderTable" var="po" value="#{purchaseOrderTableUI.purchaseOrderList}" rendered="#{purchaseOrderTableUI.purchaseOrderList.size() gt 0}" rowStyleClass="#{(po.purchaseOrderEnum.ordinal() eq 1 or po.purchaseOrderEnum.ordinal() eq 1) ?'yellowCD' :(po.purchaseOrderEnum.ordinal() eq 3 or po.purchaseOrderEnum.ordinal() eq 2) ?'greenCD' :(po.purchaseOrderEnum.ordinal() eq 0) ?'redCD' :null}" >
					<p:column headerText="#{lang['p.o.number']}" groupRow="true">
						<h:outputText value="#{po.purchaseOrderNumber}" />
					</p:column>
					<p:column headerText="Rev No.">
						<h:outputText value="#{po.revisionNumber}" />
					</p:column>
					<p:column headerText="#{lang['p.o.to']}">
						<h:outputText value="#{po.nameOf}" />
					</p:column>
					<p:column headerText="#{lang['supplier/contractor']}">
						<h:outputText value="#{po.purchaseOrderForEnum.friendlyName}" />
					</p:column>
					<p:column headerText="#{lang['contract.number']}">
						<h:outputText value="#{po.contract.contractNumber eq null ?'NA' :po.contract.contractNumber}" />
					</p:column>
					<p:column headerText="#{lang['status']}">
						<h:outputText value="#{po.purchaseOrderEnum.friendlyName}" />
					</p:column>
					<p:column>
						<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" ajax="false" process="@this" action="#{purchaseOrderTableUI.zoomTo}">
							<f:setPropertyActionListener value="#{po}" target="#{purchaseOrderTableUI.purchaseOrder}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="deleteBtn" icon="fa fa-trash" process="@this" update="@form" oncomplete="PF('deleteDlg').show()">
							<f:setPropertyActionListener value="#{po}" target="#{purchaseOrderTableUI.purchaseOrder}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton title="#{lang['print.purchase.order']}" ajax="false" icon="fa fa-download" action="#{purchaseOrderTableUI.downloadPurchaseOrder}" update="@form">
							<f:setPropertyActionListener value="#{po}" target="#{purchaseOrderTableUI.purchaseOrder}" />
						</p:commandButton>
					</p:column>
				</p:dataTable>
				<p:confirmDialog widgetVar="deleteDlg" header="#{lang['delete']} #{purchaseOrderTableUI.purchaseOrder.purchaseOrderNumber}" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{lang['yes']}" oncomplete="PF('deleteDlg').hide()" action="#{purchaseOrderTableUI.deletePurchaseOrder}" update="@form" icon="ui-icon-check" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>

		<p:dialog styleClass="ui-g-12" header="#{lang['search.criteria']}" widgetVar="searchDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="searchDlg" position="center" modal="true" minWidth="500" width="60%" closeOnEscape="true">
			<h:form id="searchForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['everything.is.optional']}</span>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{purchaseOrderTableUI.ceNumber}" placeholder="#{lang['e.g.A0004310.or.E00089021']}" style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['p.o.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{purchaseOrderTableUI.poNumber}" placeholder="#{lang['e.g.PN000786']}" style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-12 ui-md-12 ui-lg-6">
						<p:selectOneRadio id="pofSelectRadio" value="#{purchaseOrderTableUI.poForEnum}" layout="responsive" columns="2">
							<f:selectItems value="#{purchaseOrderTableUI.purchasesOrderForEnum}" var="pof" itemLabel="#{pof.friendlyName}" itemValue="#{pof}" />
						</p:selectOneRadio>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['status']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:selectOneMenu id="poSelectMenu" value="#{purchaseOrderTableUI.poEnum}">
							<f:selectItem itemLabel=" #{lang['status.optional']} " noSelectionOption="true" />
							<f:selectItems value="#{purchaseOrderTableUI.purchasesOrderEnum}" var="po" itemLabel="#{po.friendlyName}" itemValue="#{po}" />
						</p:selectOneMenu>
					</div>
					<div class="EmptyBox5" />
					<p:commandButton value="#{lang['search']}" update=":poTableForm" action="#{purchaseOrderTableUI.searchFor}" oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" action="#{purchaseOrderTableUI.clearSearch}" update="@form" icon="ui-icon-refresh" />
				</div>
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>