<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="quoteTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>#{lang['quotations']}</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-plus" value="#{lang['create']}" action="#{quoteTableUI.clearContract}" update=":quoteCreateForm" oncomplete="PF('createQuoteDlg').show()" />
				<p:spacer width="5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}" action="#{quoteTableUI.clearSearch}" update=":searchForm" oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['below.is.all.quote']}</span>
				</div>
				<div class="EmptyBox5" />
				<c:if test="#{quoteTableUI.quoteList.size() le 0}">
					<h3>#{lang['no.quotations']}</h3>
				</c:if>
				<p:dataTable id="purchaseOrderTable" var="quoteV" value="#{quoteTableUI.quoteList}" rendered="#{quoteTableUI.quoteList.size() gt 0}">
					<p:column headerText="#{lang['quote.number']}">
						<h:outputText value="#{quoteV.quoteNumber}" />
					</p:column>
					<p:column headerText="Rev No.">
						<h:outputText value="#{quoteV.revisionNumber}" />
					</p:column>
					<p:column headerText="#{lang['quote.to']}">
						<h:outputText value="#{quoteV.contract.customer.customerName}" />
					</p:column>
					<p:column headerText="#{lang['status']}">
						<h:outputText value="#{quoteV.quoteStatusEnum.friendlyName}" />
					</p:column>
					<p:column headerText="#{lang['contract.number']}">
						<h:outputText value="#{quoteV.contract.contractNumber ne null ? quoteV.contract.contractNumber : quoteV.contract.enquiryNumber}" />
					</p:column>
					<p:column headerText="#{lang['subject']}">
						<h:outputText value="#{quoteV.forAttentionOf}" />
					</p:column>
					<p:column>
						<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" ajax="false" process="@this" action="#{quoteTableUI.zoomTo}">
							<f:setPropertyActionListener value="#{quoteV}" target="#{quoteTableUI.quote}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="deleteBtn" icon="fa fa-trash" process="@this" update="@form" oncomplete="PF('deleteDlg').show()">
							<f:setPropertyActionListener value="#{quoteV}" target="#{quoteTableUI.quote}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton icon="fa fa-download" ajax="false" action="#{quoteTableUI.downloadQuote}" title="#{lang['download.quote']}" >
							<f:setPropertyActionListener value="#{quoteV}" target="#{quoteTableUI.quote}" />
						</p:commandButton>
						<p:tooltip for="zoomToBtn" value="#{lang['go.to.quotation']}" />
						<p:tooltip for="deleteBtn" value="#{lang['delete.quotation']}" />
					</p:column>
				</p:dataTable>

				<p:confirmDialog widgetVar="deleteDlg" header="#{lang['delete']} #{quoteTableUI.quote.quoteNumber}" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{lang['yes']}" oncomplete="PF('deleteDlg').hide()" action="#{quoteTableUI.deleteQuote}" update="@form" icon="ui-icon-check" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>

		<p:dialog  header="#{lang['search.criteria']}" widgetVar="searchDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="searchDlg" position="center" modal="true" minWidth="500" width="60vw" closeOnEscape="true">
			<h:form id="searchForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['everything.is.optional']} </span>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{quoteTableUI.ceNumber}" placeholder="#{lang['e.g.A0004310.or.E00089021']}" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['quote.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{quoteTableUI.quoteNumber}" placeholder="e.g. QN000786" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-1">
						<p:outputLabel value="#{lang['status']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-2">
						<p:selectOneMenu id="poSelectMenu" value="#{quoteTableUI.qsEnum}">
							<f:selectItem itemLabel=" #{lang['status.optional']} " noSelectionOption="true" />
							<f:selectItems value="#{quoteTableUI.quoteStatusEnum}" var="quoteV" itemLabel="#{quoteV.friendlyName}" itemValue="#{quoteV}" />
						</p:selectOneMenu>
					</div>
					<div class="EmptyBox5" />
					<p:commandButton value="#{lang['search']}" update=":quoteTableForm" action="#{quoteTableUI.searchFor}" oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" action="#{quoteTableUI.clearSearch}" update="@form" icon="ui-icon-refresh" />
				</div>
			</h:form>
		</p:dialog>

		<p:dialog  header="#{lang['create.quote.for.contract']}" widgetVar="createQuoteDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="createQuoteDlg" position="center" modal="true" minWidth="500" width="30vw" closeOnEscape="true">
			<h:form id="quoteCreateForm">
				<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['search.by.title,.escription.or.contract/enquiry.number']}</span>
				<div class="EmptyBox5" />
				<p:outputLabel value="#{lang['contract.look-up']}" />
				<div class="EmptyBox5" />
				<p:autoComplete required="true" requiredMessage="Select a contract" id="resourceAutoComplete" value="#{quoteTableUI.contract}" completeMethod="#{quoteTableUI.completeContract}" var="contractAuto" itemLabel="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}" itemValue="#{contractAuto}"
					forceSelection="true" converter="ContractConvertor" dropdown="true" minQueryLength="1" maxResults="10" placeholder="#{lang['contract']}">
					<p:column headerText="#{lang['contract.number']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}" escape="false" />
					</p:column>
					<p:column headerText="#{lang['contract.title']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.title}" escape="false" />
					</p:column>
				</p:autoComplete>
				<div class="EmptyBox20" />
				<p:commandButton value="#{lang['create']}" ajax="false" action="#{quoteTableUI.createQuoteWithContract}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['cancel']}" action="#{quoteTableUI.clearContract}" oncomplete="PF('createQuoteDlg').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>