<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum"
			var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum"
			var="materialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum"
			var="contractStatusEnum" />
		<o:importConstants type="haj.com.entity.enums.QuoteStatusEnum"
			var="quoteStatusEnum" />

		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum"
			var="contractStatusEnum" />
		<p:growl id="quoteGrowl" sticky="false" ><p:autoUpdate/></p:growl>

		<ui:include src="/pages/includes/detailDialogQuoteForm.xhtml" />
		<div class="EmptyBox10" />
		<div class="card ui-g">
			<div class="ui-g-12">
				<h:form id="quoteV2Form">

					<div class="ui-g-12">
						<h:panelGroup id="quoteItemPnlG">
							<p:fieldset legend="#{lang['quote']}" id="quote1">
								<p:growl sticky="false" ><p:autoUpdate/></p:growl>
								<div class="ui-g-6">



									<p:outputLabel
										value="Form No. #{quoteFormUI.quote.quoteNumber} Rev No. #{quoteFormUI.quote.revisionNumber}"
										style="font-weight:bold !important;" />
									<div class="EmptyBox10" />
									<h:panelGroup>
										<p:outputLabel value="#{lang['quote.date']}: "
											style="font-weight:bold !important;" />
										<p:outputLabel value="#{quoteFormUI.quoteDate}">
											<f:convertDateTime pattern="dd MMMM yyyy" />
										</p:outputLabel>
										<p:spacer width="10" />
										<p:outputLabel value="#{lang['our.ref']} : "
											style="font-weight:bold !important;" />
										<p:outputLabel value="#{quoteFormUI.contract.contractNumber}"
											rendered="#{quoteFormUI.contract.contractNumber ne null}" />
										<p:outputLabel value="#{quoteFormUI.contract.enquiryNumber}"
											rendered="#{quoteFormUI.contract.contractNumber eq null}" />
									</h:panelGroup>
									<div class="EmptyBox10" />
									<h:panelGroup>
										<p:outputLabel for="yourrefText" value="#{lang['your.ref']}: "
											style="font-weight:bold !important;" />
										<p:inputText id="yourrefText"
											value="#{quoteFormUI.quote.customerReference}"
											placeholder="#{lang['order.no.and.stock.no.']} " size="60" />
									</h:panelGroup>
									<div class="EmptyBox10" />
									<h:panelGroup>
										<p:outputLabel for="attenOf" value="For the attention of: "
											style="font-weight:bold !important;" />
										<p:inputText id="attenOf"
											value="#{quoteFormUI.quote.forAttentionOf}" size="60">
											<p:ajax />
										</p:inputText>
									</h:panelGroup>
									<div class="EmptyBox10" />
									<p:textEditor id="descrpL" widgetVar="descrpL"
										value="#{quoteFormUI.quote.description}" height="100"
										style="margin-bottom:10px" placeholder="Enter your content">
										<f:facet name="toolbar">
											<span class="ql-formats">
												<button class="ql-bold"></button>
												<button class="ql-italic"></button>
												<button class="ql-underline"></button>
												<button class="ql-strike"></button>
											</span>
										</f:facet>
										<p:ajax partialSubmit="true" />
									</p:textEditor>
									<h:panelGroup>
										<p:outputLabel for="toin" value="To: "
											style="font-weight:bold !important;" />
										<p:inputText id="toin" value="#{quoteFormUI.quote.toDo}"
											size="80">
											<p:ajax />
										</p:inputText>
									</h:panelGroup>
								</div>
								<div class="ui-g-6">
									<p:fieldset styleClass="Fright" legend="Customer Address"
										style="margin-top: 20px">
										<p:outputLabel value="#{sessionUI.customer.customerName}" />
										<div class="EmptyBox5" />
										<p:outputLabel value="#{quoteFormUI.address.addressLine1}" />
										<div class="EmptyBox5" />
										<p:outputLabel value="#{quoteFormUI.address.addressLine2}" />
										<div class="EmptyBox5" />
										<p:outputLabel value="#{quoteFormUI.address.addressLine3}" />
										<div class="EmptyBox5" />
										<p:outputLabel value="#{quoteFormUI.address.addressLine4}" />
										<div class="EmptyBox5" />
										<p:outputLabel value="#{quoteFormUI.address.postcode}" />
									</p:fieldset>
								</div>
							</p:fieldset>
						</h:panelGroup>
					</div>

					<div class="ui-g-12">
						<h:panelGroup id="quoteItemPnl">
							<p:fieldset legend="Add quote items" id="addQuoteItems">

								<p:outputLabel for="linedescript"
									value="#{lang['description']}: "
									style="font-weight:bold !important;" />
								<p:inputText id="linedescript" style="width:90% !important"
									value="#{quoteFormUI.quoteItem.description}" required="true"
									requiredMessage="Enter description" />
								<div class="EmptyBox10" />
								<p:outputLabel for="linePriceInput" value="#{lang['price']}: "
									style="font-weight:bold !important;" />
								<p:inputNumber id="linePriceInput"
									value="#{quoteFormUI.quoteItem.price}"
									style="width:75% !important;" decimalPlaces="2"
									placeholder="&#163; x, xxx.xx" symbol="&#163;"
									symbolPosition="p" decimalSeparator="." thousandSeparator=","
									required="false" requiredMessage="Enter price" />
								<div class="EmptyBox10" />
								<p:outputLabel for="qtyInput" value="QTY: "
									style="font-weight:bold !important;" />
								<p:inputNumber id="qtyInput"
									value="#{quoteFormUI.quoteItem.quantity}"
									style="width:75% !important;" decimalPlaces="0"
									thousandSeparator="," required="false"
									requiredMessage="Enter quantity" />
								<div class="EmptyBox10" />


								<p:commandButton value="Add Item" icon="fa fa-plus"
									title="#{lang['save.main.quote']}"
									action="#{quoteFormUI.addQuotToList}"
									rendered="#{quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteCustomer and quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteAccept}"
									update="quoteItemPnl"
									process="@this yourrefText linedescript linePriceInput qtyInput" />
								<p:spacer width="5" />
								<p:commandButton value="Clear Item" icon="fa fa-eraser"
									title="#{lang['clear.main.quote']}"
									action="#{quoteFormUI.prepareNewQuoteItem}" rendered="true"
									update="@form" process="@this" />

							</p:fieldset>

							<div class="EmptyBox10" />

							<p:dataTable rendered="#{quoteFormUI.quoteItemList.size() gt 0}"
								var="quoteItemV" value="#{quoteFormUI.quoteItemList}"
								type="ordered">
								<p:column headerText="QTY">
									<h:outputText value="#{quoteItemV.quantity}" />
								</p:column>
								<p:column headerText="description">
									<h:outputText value="#{quoteItemV.description}" />
								</p:column>
								<p:column headerText="Price">
									<p:outputLabel value="#{quoteItemV.price}">
										<f:convertNumber type="currency" currencySymbol="&#163;" />
									</p:outputLabel>
								</p:column>

								<p:column headerText="Total">
									<p:outputLabel
										value="#{quoteItemV.price * quoteItemV.quantity}">
										<f:convertNumber type="currency" currencySymbol="&#163;" />
									</p:outputLabel>
								</p:column>

								<p:column width="9%"
									rendered="#{quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteAccept and quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteCustomer}">
									<p:commandButton action="#{quoteFormUI.removeQuoteItem}"
										icon="fa fa-trash" process="@this" id="removeBtn"
										update="quoteV2Form:quoteItemPnl">
										<f:setPropertyActionListener value="#{quoteItemV}"
											target="#{quoteFormUI.quoteItem}" />
											<p:confirm header="Confirmation" message="Are you sure?" icon="ui-icon-alert" />
									</p:commandButton>
									<p:tooltip for="removeBtn" value="Remove" />
								</p:column>
							</p:dataTable>
						</h:panelGroup>
					</div>
					<div class="ui-g-12">
						<p:textEditor id="addNo" widgetVar="addNo"
							value="#{quoteFormUI.quote.additonalNotes}" height="300"
							style="margin-bottom:10px" placeholder="Enter your content">
							<f:facet name="toolbar">
								<span class="ql-formats">
									<button class="ql-bold"></button>
									<button class="ql-italic"></button>
									<button class="ql-underline"></button>
									<button class="ql-strike"></button>
								</span>
							</f:facet>
						</p:textEditor>
					</div>
					<c:if
						test="#{quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteAccept}">
						<div class="ui-g-12">
							<p:commandButton value="Save" icon="fa fa-floppy-o"
								title="#{lang['save.main.quote']}"
								action="#{quoteFormUI.saveQuote}"
								rendered="#{quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteCustomer and quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteAccept}"
								update="@form"
								process="@this yourrefText toin attenOf descrpL addNo" />
							<p:spacer width="5" />
							<p:commandButton value="Clear" icon="fa fa-refresh"
								title="#{lang['clear.main.quote']}"
								action="#{quoteFormUI.prepareNewQuote}" rendered="true"
								update="@form" process="@this" />
							<p:spacer width="5" />
							<p:commandButton value="Download PDF" icon="fa fa-download"
								ajax="false" immediate="true" process="@this"
								action="#{quoteFormUI.downloadQuote}"
								title="#{lang['download.quote']}" />
							<p:spacer width="5" />
							<p:commandButton value="Sent To Customer"
								rendered="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuotePrep or quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteDecline}"
								update="@form" icon="fa fa-envelope" process="@this"
								action="#{quoteFormUI.markSent}"
								title="#{lang['download.quote']}" />
							<p:spacer width="5" />
							<c:if
								test="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteCustomer}">
								<p:commandButton value="Accepted" process="@this"
									icon="fa fa-check-square-o" action="#{quoteFormUI.acceptQuote}"
									update="@form"
									rendered="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteCustomer}"
									title="#{lang['accept.quote']}" />
								<p:spacer width="5" />
								<p:commandButton value="Rejected" process="@this"
									icon="fa fa-thumbs-o-down "
									rendered="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteCustomer}"
									action="#{quoteFormUI.clearRejection}"
									oncomplete="PF('rejectionDlg').show()" update=":rejectionForm"
									title="#{lang['reject.quote']}" />
								<p:commandButton value="View Rejection Reason" process="@this"
									icon="fa fa-eye "
									rendered="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteDecline}"
									action="#{quoteFormUI.clearRejection}"
									oncomplete="PF('rejectionDlg').show()" update=":rejectionForm"
									title="#{lang['reject.quote']}" />
							</c:if>
						</div>
					</c:if>
				</h:form>
				
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
			        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
    			</p:confirmDialog>
			</div>
		</div>

		<p:dialog id="rejectionDlg" widgetVar="rejectionDlg"
			header="#{lang['reason.for.rejection']}" modal="true"
			draggable="false" resizable="false" width="60%">
			<h:form id="rejectionForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<p:inputTextarea required="true"
							requiredMessage="Need rejection note"
							value="#{quoteFormUI.quote.rejectReason}"
							readonly="#{quoteFormUI.quote.quoteStatusEnum eq quoteStatusEnum.QuoteDecline}"
							style="width:100%" />
					</div>
					<div class="EmptyBox5" />
					<p:commandButton icon="fa fa-times-circle-o"
						value="#{lang['reject']}" action="#{quoteFormUI.rejectQuote}"
						rendered="#{quoteFormUI.quote.quoteStatusEnum ne quoteStatusEnum.QuoteDecline}"
						update="quoteV2Form" oncomplete="PF('rejectionDlg').hide()" />
				</div>
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>