<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="cssForm">
			<style>
#{
resourceAllocationUI


.css


}
</style>

		</h:form>



		<div class="ui-g">
			<div class="ui-g-12">
				<div class="card">
					<h1>#{lang['resource.alloc']}</h1>
					<h:form>

						<p:growl id="messages" />
						<p:schedule aspectRatio="2.1" id="schedule" value="#{resourceAllocationUI.eventModel}" styleClass="custom" columnFormat="month:'ddd', week:'ddd: DD/MM', day:'dddd'" widgetVar="resourceSchedule" timeZone="#{resourceAllocationUI.timeZoneString}" resizable="true"
							initialDate="#{resourceAllocationUI.initialDate}" tooltip="true">
							<p:ajax event="dateSelect" listener="#{resourceAllocationUI.onDateSelect}" update=":eventForm:eventDetails" oncomplete="PF('eventDialog').show();" />
							<p:ajax event="eventSelect" listener="#{resourceAllocationUI.onEventSelect}" update=":eventForm:eventDetails" oncomplete="PF('eventDialog').show();" />
							<p:ajax event="eventMove" listener="#{resourceAllocationUI.onEventMove}" update="messages" />
							<p:ajax event="eventResize" listener="#{resourceAllocationUI.onEventResize}" update="messages" />
						</p:schedule>
						<p:poll interval="1" update=":cssForm @form" autoStart="true" stop="#{resourceAllocationUI.poll}" />
					</h:form>
				</div>
			</div>
		</div>

		<p:dialog widgetVar="eventDialog" header="#{lang['resource.alloc']}" showEffect="clip" hideEffect="clip" modal="true" responsive="true" width="40%">
			<h:form id="eventForm">
				<p:panelGrid id="eventDetails" columns="2" styleClass="ui-panelgrid-blank" style="width:98%">
					<p:outputPanel styleClass="ui-g">
						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:outputLabel for="desc" value="#{lang['description']}:" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:inputTextarea id="desc" value="#{resourceAllocationUI.resourceAllocation.description}" style="width: 95%" />
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:outputLabel for="resourceId" value="#{lang['resource']}" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:selectOneMenu id="resourceId" value="#{resourceAllocationUI.resourceAllocation.resource}" converter="ResourceConvertor" style="width:95%">
								<f:selectItems value="#{resourceUI.resourceList}" var="rv" itemLabel="#{rv.description}" itemValue="#{rv}" />
							</p:selectOneMenu>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:outputLabel value="#{lang['contract']}" for="contractID" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:autoComplete id="contractID" value="#{resourceAllocationUI.resourceAllocation.contract}" completeMethod="#{contractSelectUI.complete}" style="width:95%" placeholder="#{lang['enter.contract.number']}" var="rv" itemLabel="#{rv.id}" itemValue="#{rv}" forceSelection="true"
								converter="ContractConvertor" minQueryLength="1" maxResults="10">
								<p:column headerText="#{lang['contract.no']}" style="white-space: nowrap">#{rv.id}</p:column>
								<p:column headerText="#{lang['customer.name']}" style="white-space: nowrap">#{rv.customer.customerName}</p:column>
							</p:autoComplete>
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:outputLabel for="from" value="#{lang['from']}:" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:calendar id="from" value="#{resourceAllocationUI.resourceAllocation.fromDateTime}" timeZone="#{resourceAllocationUI.timeZoneString}" pattern="dd MMM yyyy HH:mm" showOn="button" readonlyInput="true" />
						</div>

						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:outputLabel for="to" value="#{lang['to']}:" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:calendar id="to" value="#{resourceAllocationUI.resourceAllocation.toDateTime}" timeZone="#{resourceAllocationUI.timeZoneString}" pattern="dd MMM yyyy HH:mm" showOn="button" readonlyInput="true" />
						</div>


						<div class="ui-g-12 ui-md-12 ui-lg-4">
							<p:commandButton id="addButton" value="#{lang['save']}" actionListener="#{resourceAllocationUI.addEvent}" oncomplete="PF('resourceSchedule').update();PF('eventDialog').hide();" />
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-8">
							<p:commandButton value="#{lang['delete']}" rendered="#{resourceAllocationUI.resourceAllocation.id ne null}" action="#{resourceAllocationUI.deleteRA}" oncomplete="PF('resourceSchedule').update();PF('eventDialog').hide();" />
						</div>
					</p:outputPanel>
				</p:panelGrid>
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>