<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="routeTableForm">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			<p:outputPanel styleClass="card ui-g">
				<h2>#{lang['route.card']}</h2>
				<div class="EmptyBox5" />
				<p:commandButton icon="fa fa-plus" value="#{lang['create']}" action="#{routeCardTableUI.clearContract}" update=":routeCreateForm" oncomplete="PF('createRouteDlg').show()" />
				<p:spacer width="5" />
				<p:commandButton icon="fa fa-search" value="#{lang['search']}" action="#{routeCardTableUI.clearSearch}" update=":searchForm" oncomplete="PF('searchDlg').show()" />
				<div class="EmptyBox10" />
				<div class="ui-g-12">
					<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['below.is.all.route.cards']}</span>
				</div>
				<div class="EmptyBox5" />
				<c:if test="#{routeCardTableUI.routeCardList.size() le 0}">
					<h3>#{lang['no.route.card']}</h3>
				</c:if>
				<p:dataTable id="routeCardTable" var="routeV" value="#{routeCardTableUI.routeCardList}" rendered="#{routeCardTableUI.routeCardList.size() gt 0}">
				<p:column headerText="#{lang['contract.number']}" groupRow="true">
						<h:outputText value="#{routeV.contract.id}" />
					</p:column>
					<p:column headerText="#{lang['contract.number']}" groupRow="true">
						<h:outputText value="#{routeV.contract.contractNumber ne null ? routeV.contract.contractNumber : routeV.contract.enquiryNumber}" />
					</p:column>
					<p:column headerText="Rev No.">
						<h:outputText value="#{routeV.revisionNumber}" />
					</p:column>
					<p:column headerText="#{lang['customer']}">
						<h:outputText value="#{routeV.contract.customer.customerName}" />
					</p:column>
					<p:column headerText="#{lang['status']}">
						<h:outputText value="#{routeV.routeStatus.friendlyName}" />
					</p:column>
					<p:column headerText="#{lang['delivery.date']} ">
						<h:outputText value="#{routeV.deliveryDate}">
							<f:convertDateTime pattern="dd MMMM yyyy" />
						</h:outputText>
					</p:column>
					<p:column>
						<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" ajax="false" process="@this" action="#{routeCardTableUI.zoomTo}">
							<f:setPropertyActionListener value="#{routeV}" target="#{routeCardTableUI.routeCard}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton id="dwnlj" icon="fa fa-download" ajax="false" immediate="true" process="@this" action="#{routeCardTableUI.downloadDoc}">
							<f:setPropertyActionListener value="#{routeV}" target="#{routeCardTableUI.routeCard}" />
						</p:commandButton>
						<p:tooltip for="zoomToBtn" value="#{lang['go.to.route.card']}" />
						<p:tooltip for="dwnlj" value="Download" />
					</p:column>
				</p:dataTable>
				<p:confirmDialog widgetVar="deleteDlg" header="#{lang['delete.route.card']}" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
					<p:commandButton value="#{lang['yes']}" oncomplete="PF('deleteDlg').hide()" action="#{routeCardTableUI.deleteRouteCard}" update="@form" icon="ui-icon-check" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['no']}" oncomplete="PF('deleteDlg').hide()" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:outputPanel>
		</h:form>

		<p:dialog styleClass="ui-g-12" header="#{lang['search.criteria']}" widgetVar="searchDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="searchDlg" position="center" modal="true" minWidth="500" width="60vw" closeOnEscape="true">
			<h:form id="searchForm">
				<div class="ui-g">
					<div class="ui-g-12">
						<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['everything.is.optional']}</span>
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:outputLabel value="#{lang['contract/enquiry.number']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-3">
						<p:inputText value="#{routeCardTableUI.ceNumber}" placeholder="#{lang['e.g.A0004310.or.E00089021']}" />
					</div>
					<div class="EmptyBox5" />
					<div class="ui-g-6 ui-md-3 ui-lg-1">
						<p:outputLabel value="#{lang['status']}: " />
					</div>
					<div class="ui-g-6 ui-md-3 ui-lg-2">
						<p:selectOneMenu id="rcSelectMenu" value="#{routeCardTableUI.rsEnum}">
							<f:selectItem itemLabel=" #{lang['status.optional']}  " noSelectionOption="true" />
							<f:selectItems value="#{routeCardTableUI.routeCardStatusEnum}" var="routeV" itemLabel="#{routeV.friendlyName}" itemValue="#{routeV}" />
						</p:selectOneMenu>
					</div>
					<div class="EmptyBox5" />
					<p:commandButton value="#{lang['search']}" update=":routeTableForm" action="#{routeCardTableUI.searchFor}" oncomplete="PF('searchDlg').hide()" icon="ui-icon-search" />
					<p:spacer width="5" />
					<p:commandButton value="#{lang['clear']}" action="#{routeCardTableUI.clearSearch}" update="@form" icon="ui-icon-refresh" />
				</div>
			</h:form>
		</p:dialog>

		<p:dialog styleClass="ui-g-12" header="#{lang['create.route.card.for.contract']}" widgetVar="createRouteDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="createRouteDlg" position="center" modal="true" minWidth="500" width="30vw" closeOnEscape="true">
			<h:form id="routeCreateForm">
				<span class="gray Fs13"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />#{lang['search.by.status.or.Contract/Enquiry.number']} </span>
				<div class="EmptyBox5" />
				<p:outputLabel value="#{lang['contract.look-up']}" />
				<div class="EmptyBox5" />
				<p:autoComplete required="true" requiredMessage="Select a contract" id="resourceAutoComplete" value="#{routeCardTableUI.contract}" completeMethod="#{routeCardTableUI.completeContract}" var="contractAuto" itemLabel="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}" itemValue="#{contractAuto}"
					forceSelection="true" converter="ContractConvertor" dropdown="true" minQueryLength="1" maxResults="10" placeholder="Contract">
					<p:column headerText="#{lang['contract.number']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.contractNumber ne null ? contractAuto.contractNumber : contractAuto.enquiryNumber}" escape="false" />
					</p:column>
					<p:column headerText="#{lang['contract.title']}" style="white-space: nowrap">
						<p:outputLabel value="#{contractAuto.title}" escape="false" />
					</p:column>
				</p:autoComplete>
				<div class="EmptyBox20" />
				<p:commandButton value="#{lang['create']}" ajax="false" action="#{routeCardTableUI.createRouteCardWithContract}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['cancel']}" action="#{routeCardTableUI.clearContract}" oncomplete="PF('createRouteDlg').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>

</ui:composition>