<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	template="/WEB-INF/template.xhtml">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum"
			var="contractDetailTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.MaterialTypeEnum"
			var="contractMaterialTypeEnum" />
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum"
			var="contractStatusEnum" />
		<o:importConstants type="haj.com.entity.enums.RouteStatusEnum"
			var="routeStatusEnum" />


		<ui:include src="/pages/includes/detailDialogRCForm.xhtml" />
		<div class="EmptyBox10" />
		<div class="ui-g card">
			<div class="ui-g-12">
				<h:form id="mainRCardForm">
					<p:growl id="routeCardGrwl" sticky="false">
						<p:autoUpdate />
					</p:growl>

					<p:fieldset id="mainFieldSet"
						legend="#{lang['route.card']} #{rcUI.rc.routeStatus.friendlyName} Rev No. #{rcUI.rc.revisionNumber}">
						<p:panelGrid columns="1" style="width:100%" id="rcPnlGrid"
							layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:calendar disabled="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									value="#{rcUI.rc.deliveryDate}" showOn="both"
									pattern="dd MMMM yyyy" required="true"
									requiredMessage="Provide Delivery Date for Route Card">
									<p:ajax  event="dateSelect" />
								</p:calendar>
								<p:outputLabel value="#{lang['delivery.date']}" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea
									readonly="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									id="materialspec" style="width:95%"
									value="#{rcUI.rc.materialSpec}" rows="2" cols="50"
									required="true" requiredMessage="Provide Material Spec">
									<p:ajax />
								</p:inputTextarea>
								<p:outputLabel value="Provide Material Spec" />
							</h:panelGroup>
						</p:panelGrid>
					</p:fieldset>

					<div class="EmptyBox10" />

					<p:fieldset legend="#{lang['rout.items']}">
						<p:panelGrid columns="1" style="width:100%" id="rciPnlGrid"
							layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText readonly="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									value="#{rcUI.rci.opNumber}" required="true"
									requiredMessage="Provide OP Number" />
								<p:outputLabel value="OP Number" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea
									readonly="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									id="processDescription" style="width:95%"
									value="#{rcUI.rci.processDescription}" rows="2" cols="50" />
								<p:outputLabel value="Provide Process Description" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputNumber readonly="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									value="#{rcUI.rci.estimatedTime}" decimalPlaces="0"
									decimalSeparator=" " symbol=" Hours" symbolPosition="s" />
								<p:outputLabel value="Estimated Time" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputNumber readonly="#{rcUI.rc.routeStatus.ordinal() eq 1}"
									value="#{rcUI.rci.actualTime}" decimalPlaces="0"
									decimalSeparator=" " symbol=" Hours" symbolPosition="s" />
								<p:outputLabel value="Actual Time" />
							</h:panelGroup>
							<p:autoComplete disabled="#{rcUI.rc.routeStatus.ordinal() eq 1}"
								id="resourceAutoComplete" value="#{rcUI.rci.resource}"
								completeMethod="#{rcUI.completeResource}" var="resourceAuto"
								itemLabel="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}"
								itemValue="#{resourceAuto}" forceSelection="true"
								converter="ResourceConvertor" dropdown="true" minQueryLength="1"
								required="false" requiredMessage="#{lang['provide.a.resource']}"
								placeholder="#{lang['select.a.resource']}">
								<p:column headerText="#{lang['resource']}"
									style="white-space: nowrap">
									<p:outputLabel
										value="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}"
										escape="false" />
								</p:column>
								<p:column headerText="#{lang['resourceType']}"
									style="white-space: nowrap">
									<p:outputLabel
										value="#{resourceAuto.resourceType.description.length() gt 50 ? resourceAuto.resourceType.description.substring(0,47).concat('...') : resourceAuto.resourceType.description}"
										escape="false" />
								</p:column>
							</p:autoComplete>
						</p:panelGrid>
						<div class="EmptyBox10" />
						<c:if test="#{rcUI.rc.routeStatus.ordinal() ne 1}">
							<p:commandButton icon="fa fa-plus" value="Save Line Item"
								action="#{rcUI.addRCI}" update="@form" />
							<p:spacer width="5" />
							<p:commandButton process="@this" value="Clear Line Item"
								icon="fa fa fa-minus" update="@form" action="#{rcUI.clearRCI}" />
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-save" value="Save Form"
								immediate="true" action="#{rcUI.saveRCAndRCIList}"
								update="@form" />
							<p:spacer width="5" />
							<p:commandButton process="@this" value="Clear Form"
								icon="fa fa fa-refresh" update="@form" action="#{rcUI.clearRC}" />
							<p:spacer width="5" />
						</c:if>
						<p:commandButton rendered="#{rcUI.rc.id ne null}"
							value="Download Form" icon="fa fa-download" ajax="false"
							immediate="true" process="@this" action="#{rcUI.downloadDoc}" />
						<p:spacer width="5" rendered="#{rcUI.rc.id ne null}" />
					</p:fieldset>
					<div class="EmptyBox10" />
					<c:if test="#{rcUI.rciList.size() eq 0}">
						<p:outputLabel styleClass="Fs18" value="No Items Added" />
					</c:if>
					<p:dataTable id="quoteItemTbl"
						rendered="#{rcUI.rciList.size() gt 0}" var="rciV"
						value="#{rcUI.rciList}" rows="#{rcUI.rciList.size()}"
						sortBy="#{rciV.id}">
						<p:column headerText="OP Number" width="9%">
							<p:outputLabel value="#{rciV.opNumber}" />
						</p:column>
						<p:column headerText="Resource" width="15%">
							<p:outputLabel
								value="#{rciV.resource.resourceType.description} #{rciV.resource.description}" />
						</p:column>
						<p:column headerText="Process Description" width="45%">
							<p:outputLabel value="#{rciV.processDescription}" />
						</p:column>
						<p:column headerText="Estimated Time" width="10%">
							<p:outputLabel value="#{rciV.estimatedTime} Hours" />
						</p:column>
						<p:column headerText="Actual Time" width="10%">
							<p:outputLabel value="#{rciV.actualTime} Hours" />
						</p:column>
						<p:column headerText="Status" width="10%" rendered="false">
							<p:outputLabel value="#{rciV.completed ?'Completed' :'Awaiting'}" />
						</p:column>
						<p:column width="6%">
							<c:if test="#{rcUI.rc.routeStatus.ordinal() ne 1}">

								<p:commandButton icon="fa fa-database" process="@this"
									update="@form" title="#{lang['update.line.item']}"
									action="#{rcUI.updateFromList}" rendered="false">
									<f:setPropertyActionListener value="#{rciV}"
										target="#{rcUI.rci}" />
								</p:commandButton>
								<p:commandButton icon="fa fa-trash" process="@this"
									oncomplete="PF('deleteRCIDlg').show()"
									title="#{lang['remove.line.item']}">
									<f:setPropertyActionListener value="#{rciV}"
										target="#{rcUI.rci}" />
								</p:commandButton>
							</c:if>
						</p:column>
					</p:dataTable>
					<p:confirmDialog widgetVar="deleteRCIDlg"
						header="Remove Route Card Item?" message="Are you sure?"
						showEffect="fade" hideEffect="fade">
						<p:commandButton value="#{lang['yes']}" process="@this"
							oncomplete="PF('deleteRCIDlg').hide()" action="#{rcUI.removeRCI}"
							update="@form" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" process="@this"
							icon="ui-icon-close" oncomplete="PF('deleteRCIDlg').hide()" />
					</p:confirmDialog>
					<div class="EmptyBox10" />

				</h:form>
			</div>
		</div>

	</ui:define>
</ui:composition>