<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<p:outputPanel styleClass=" card ui-g">
			<h:form id="mainForm">
				<h1 class="BigTopic TexAlCenter">#{lang['users.task']}</h1>
				<p:growl sticky="false" ><p:autoUpdate/></p:growl>
				<p:commandButton id="taskHelpbtn" icon="fa fa-info-circle" oncomplete="PF('taskInfoDlg').show()" value="#{lang['additional.information']}" />
				<div class="EmptyBox10" />
				<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> #{lang['below.is.a.table.containing.all.open.tasks.assigned.to.you']}</span>
				<div class="EmptyBox20" />
				<h2>#{lang['open.tasks']}</h2>
				<p:dataTable reflow="true" var="rowVar" value="#{userTaskUI.taskList}" rowKey="#{rowVar.id}" paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15,20,25"
					paginatorTemplate=" {CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
					<p:column headerText="#{lang['task.id']}" width="12%" filterBy="#{rowVar.id}">
						<p:outputLabel value="#{rowVar.id}" />
					</p:column>
					<p:column headerText="#{lang['description']}" width="30%">
						<p:outputLabel value="#{rowVar.taskDescription}" escape="false" styleClass="breakWord" />
					</p:column>
					<p:column headerText="#{lang['target.id']}" width="12%" filterBy="#{rowVar.targetKey}">
						<p:outputLabel value="#{rowVar.targetKey}" />
					</p:column>
					<p:column headerText="#{lang['task.status']}" width="12%">
						<p:outputLabel value="#{rowVar.taskStatus.friendlyName}" escape="false" />
					</p:column>
					<p:column headerText="#{lang['date.created']}" priority="6" width="12%">
						<p:outputLabel value="#{rowVar.createDate}">
							<f:convertDateTime pattern="dd MMMM yyyy" />
						</p:outputLabel>
					</p:column>
					<p:column headerText="#{lang['due.date']}" width="12%">
						<p:outputLabel value="#{rowVar.dueDate}">
							<f:convertDateTime pattern="dd MMMM yyyy" />
						</p:outputLabel>
					</p:column>
					<p:column exportable="false" width="10%">
						<p:commandButton id="directTask" ajax="false" icon="fa fa-arrow-right" action="#{userTaskUI.taskRedirect}">
							<f:setPropertyActionListener value="#{rowVar}" target="#{userTaskUI.task}" />
						</p:commandButton>
						<p:commandButton id="closeTask" icon="fa fa-close" process="@this" update="@form" action="#{userTaskUI.closeTask}">
							<p:confirm header="Close task" message="Are you sure?" icon="ui-icon-warning" />
							<f:setPropertyActionListener value="#{rowVar}" target="#{userTaskUI.task}" />
						</p:commandButton>
						<p:tooltip for="closeTask" value="Close task" position="" />
						<p:tooltip for="directTask" value="#{lang['go.to.task']}" position="" />
					</p:column>
				</p:dataTable>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
					<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
					<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
				</p:confirmDialog>
			</h:form>
		</p:outputPanel>
		<p:outputPanel styleClass=" card ui-g">
			<h:form id="previewTaskForm">
				<h1 class="BigTopic TexAlCenter">#{lang['users.previous.tasks']}</h1>
				<p:commandButton icon="fa fa-database" value="#{lang['view.previous.tasks']}" update="previewTaskForm :previewTaskForm:panelResults:" action="#{userTaskUI.displayPreviousTasksSection}" rendered="#{!userTaskUI.displayPreviousTasks}" />
				<p:commandButton icon="fa fa-database" value="#{lang['hide.previous.tasks']}" update="previewTaskForm :previewTaskForm:panelResults:" action="#{userTaskUI.hidePreviousTasksSection}" rendered="#{userTaskUI.displayPreviousTasks}" />
				<div class="EmptyBox10" />
				<p:panel id="panelResults" style="border: none; width: 100%" rendered="#{userTaskUI.displayPreviousTasks}">
					<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> #{lang['click.on.a.status.to.view.corresponding.tasks']}</span>
					<div class="EmptyBox5" />
					<p:selectOneRadio id="taskByStatus" value="#{userTaskUI.taskStatusSelected}" style="width: 100%" columns="3" layout="responsive">
						<f:selectItems value="#{enumUI.taskStatusOrderedReportEnumDD}" />
						<p:ajax event="change" update="@form" listener="#{userTaskUI.onStatusSelect}" />
					</p:selectOneRadio>
					<div class="EmptyBox20" />
					<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> #{lang['below.is.a.table.that.contains.the.task.results.by.status']}</span>
					<div class="EmptyBox5" />


					<h2>#{userTaskUI.taskStatusSelected.friendlyName} #{lang['tasks']}</h2>
					<p:dataTable reflow="true" var="rowVarStatus" id="taskStatusTable" value="#{userTaskUI.taskByStatusList}" rowKey="#{rowVarStatus.id}" paginator="true" rows="5" paginatorPosition="bottom" rowsPerPageTemplate="5,10,15,20,25"
						paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" emptyMessage="No Tasks Found">

						<p:column headerText="#{lang['task.id']}" width="12%" style="text-align: center !important" filterBy="#{rowVar.id}">
							<p:outputLabel value="#{rowVarStatus.id}" />
						</p:column>
						<p:column headerText="#{lang['description']}" width="30%">
							<p:outputLabel value="#{rowVarStatus.taskDescription}" escape="false" styleClass="breakWord" />
						</p:column>

						<p:column headerText="#{lang['target.id']}" priority="6" width="12%" style="text-align: center !important" filterBy="#{rowVar.targetKey}">
							<p:outputLabel value="#{rowVarStatus.targetKey}" />
						</p:column>

						<p:column headerText="#{lang['task.status']}" priority="6" width="12%">
							<p:outputLabel value="#{rowVarStatus.taskStatus.friendlyName}" escape="false" />
						</p:column>

						<p:column headerText="#{lang['date.created']}" priority="6" width="12%">
							<p:outputLabel value="#{rowVarStatus.createDate}" escape="false">
								<f:convertDateTime pattern="dd MMMM yyyy" />
							</p:outputLabel>
						</p:column>

						<p:column headerText="#{lang['due.date']}" width="12%">
							<p:outputLabel value="#{rowVarStatus.dueDate}" escape="false">
								<f:convertDateTime pattern="dd MMMM yyyy" />
							</p:outputLabel>
						</p:column>

						<p:column headerText="#{lang['date.completed']}" width="10%">
							<p:outputLabel value="#{rowVarStatus.completionDate}" escape="false" rendered="#{rowVarStatus.completionDate ne null}">
								<f:convertDateTime pattern="dd MMMM yyyy" />
							</p:outputLabel>
							<p:outputLabel value="N/A" rendered="#{rowVarStatus.completionDate eq null}" />
						</p:column>

						<p:column headerText="Open task" width="12%">
							<p:commandButton id="openTask" icon="fa fa-recycle" process="@this" update=":mainForm @form" action="#{userTaskUI.reopenTask}" rendered="#{rowVarStatus.taskStatus.ordinal() eq 2 or rowVarStatus.taskStatus.ordinal() eq 3}">
								<p:confirm header="Open Task" message="Are you sure?" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVarStatus}" target="#{userTaskUI.task}" />
							</p:commandButton>
							<p:tooltip for="openTask" value="Open task" position="" />
						</p:column>

					</p:dataTable>
				</p:panel>
			</h:form>

		</p:outputPanel>

		<p:dialog modal="true" header="#{lang['tasks.additional.information']}" widgetVar="taskInfoDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="taskInfoPopUp" width="60%">
			<h:form id="taskInfoForm">
				<h:panelGroup id="taskInfoGrid">
					<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> #{lang['information.is.scrollable']}</span>
					<p:scrollPanel mode="native" id="scrollPanel" style="width:100%;height:400px; border: none;">
						<div class="ui-g">
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false">#{lang['the.table.called']}: <font color="red">#{lang['open.tasks']}</font> #{lang['contains.tasks.that.currently.are.assigned.to.you.(the.user).on.the.portal.that.are.in-complete']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false">#{lang['below.contains.additional.information.on.the.table']}:</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red">#{lang['task.id']}</font>: #{lang['contains.the.unique.ID.for.the.task.Users.can.filter.by.this.ID']} .</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red"> #{lang['description']}</font>: #{lang['contains.the.description.of.the.task']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red"> #{lang['enquiry.id']}</font>: #{lang['contains.an.Enquirys.unique.ID.that.the.task.is.forlinked.to']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red">#{lang['task.status']}</font>: #{lang['displays.the.status.of.the.task.If.the.task.is.completed.or.closed.the.task.will.no.longer.appear.on.the.open.tasks.table']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red">#{lang['date.created']}</font>: #{lang['contains.the.date.the.task.was.created']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<font color="red">#{lang['due.date']}</font>: #{lang['contains.the.date.when.the.task.is.due.or.must.be.completed.by']}.</p:outputLabel>
							</div>
							<div class="ui-g-12">
								<p:outputLabel styleClass="breakWord" escape="false"> - 
									<p:commandButton icon="fa fa-arrow-right" disabled="true" />: #{lang['clicking.this.button.will.direct.you.to.the.page.where.you.can.complete.the.task']}.</p:outputLabel>
							</div>

						</div>
					</p:scrollPanel>
					<div style="text-align: center !important">
						<p:commandButton id="closeAddInfoDlg" icon="fa fa-times" oncomplete="PF('taskInfoDlg').hide()" value="#{lang['close']}" />
						<p:tooltip for="closeAddInfoDlg" position="" value="#{lang['close.pop.up']}" />
					</div>
				</h:panelGroup>
			</h:form>
		</p:dialog>



	</ui:define>

</ui:composition>
