<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<div class="ui-g">


			<p:outputPanel styleClass="card card-w-title ui-g-12">

				<h1>Contract</h1>
				<h:form id="contractInsForm">
					<p:growl sticky="false" ><p:autoUpdate/></p:growl>
					<p:outputPanel styleClass="ui-g" id="contractInsGrid">
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="user" value="#{contractUI.contract.user}" style="width:95%" />
								<p:outputLabel value="#{lang['user']}" for="user" />
							</h:panelGroup>
						</div>
						
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="customer" value="#{contractUI.contract.customer}" style="width:95%" />
								<p:outputLabel value="#{lang['customer']}" for="customer" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="enqNumber" value="#{contractUI.contract.enqNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['enqNumber']}" for="enqNumber" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="orderNumber" value="#{contractUI.contract.orderNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['orderNumber']}" for="orderNumber" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="contractNumber" value="#{contractUI.contract.contractNumber}" style="width:95%" />
								<p:outputLabel value="#{lang['contractNumber']}" for="contractNumber" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="enqRecieveDate" value="#{contractUI.contract.enqRecieveDate}" style="width:95%" />
								<p:outputLabel value="#{lang['enqRecieveDate']}" for="enqRecieveDate" />
							</h:panelGroup>
						</div>
						
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="workflow" value="#{contractUI.contract.workflow}" style="width:95%" />
								<p:outputLabel value="#{lang['workflow']}" for="workflow" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="repairNew" value="#{contractUI.contract.repairNew}" style="width:95%" />
								<p:outputLabel value="#{lang['repairNew']}" for="repairNew" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="enqDetails" value="#{contractUI.contract.enqDetails}" style="width:95%" />
								<p:outputLabel value="#{lang['enqDetails']}" for="enqDetails" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
							<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="workDescription" value="#{contractUI.contract.workDescription}" style="width:95%" />
								<p:outputLabel value="#{lang['workDescription']}" for="workDescription" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-6">
						<br />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="description" value="#{contractUI.contract.description}" style="width:95%" />
								<p:outputLabel value="#{lang['description']}" for="description" />
							</h:panelGroup>
						</div>
						<div class="ui-g-12 ui-md-12 ui-lg-12">
	<br />	<br />

							<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm:contractList :contractInsForm:contractInsGrid" action="#{contractUI.contractInsert}" />
							<p:spacer width="5" />
							<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="contractInsGrid" process="@this" action="#{contractUI.prepareNew}">
								<p:resetInput target="contractInsGrid" />
							</p:commandButton>
						</div>
					</p:outputPanel>
				</h:form>
			</p:outputPanel>


			<p:outputPanel styleClass="card card-w-title ui-g-12">
				<h:form id="mainForm">

					<p:dataTable var="rowVar" value="#{contractUI.dataModel}" filteredValue="#{contractUI.contractfilteredList}" id="contractList" rowKey="#{rowVar.id}" paginator="true" rows="6" paginatorPosition="bottom"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">

						<p:column headerText="#{lang['user']}">
							<h:outputText value="#{rowVar.user}" />
						</p:column>
						<p:column headerText="#{lang['enqNumber']}">
							<h:outputText value="#{rowVar.enqNumber}" />
						</p:column>
						<p:column headerText="#{lang['orderNumber']}">
							<h:outputText value="#{rowVar.orderNumber}" />
						</p:column>
						<p:column headerText="#{lang['contractNumber']}">
							<h:outputText value="#{rowVar.contractNumber}" />
						</p:column>
						<p:column headerText="#{lang['enqRecieveDate']}">
							<h:outputText value="#{rowVar.enqRecieveDate}" />
						</p:column>
						<p:column headerText="#{lang['customer']}">
							<h:outputText value="#{rowVar.customer}" />
						</p:column>
						<p:column headerText="#{lang['workflow']}">
							<h:outputText value="#{rowVar.workflow}" />
						</p:column>
						<p:column headerText="#{lang['repairNew']}">
							<h:outputText value="#{rowVar.repairNew}" />
						</p:column>
						<p:column headerText="#{lang['enqDetails']}">
							<h:outputText value="#{rowVar.enqDetails}" />
						</p:column>
						<p:column headerText="#{lang['workDescription']}">
							<h:outputText value="#{rowVar.workDescription}" />
						</p:column>
						<p:column headerText="#{lang['description']}">
							<h:outputText value="#{rowVar.description}" />
						</p:column>


						<p:column width="80">
							<p:commandButton icon="fa fa-database" title="#{lang['update']}" update=":contractInsForm:contractInsGrid">
								<f:setPropertyActionListener value="#{rowVar}" target="#{contractUI.contract}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-trash-o" title="{lang['delete']}" update=":mainForm:contractList" action="#{contractUI.contractDelete}">
								<p:confirm header="#{lang['confirmation']}" message="#{lang['are.you.sure']}" icon="ui-icon-warning" />
								<f:setPropertyActionListener value="#{rowVar}" target="#{contractUI.contract}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

					<p:confirmDialog global="true" showEffect="fade" hideEffect="fade" width="250">
						<p:commandButton value="#{lang['yes']}" styleClass="ui-confirmdialog-yes GreenButton" icon="ui-icon-check" />
						<p:commandButton value="#{lang['no']}" type="button" styleClass="ui-confirmdialog-no RedButton" icon="ui-icon-close" />
					</p:confirmDialog>

				</h:form>
			</p:outputPanel>
		</div>
	</ui:define>
	<!-- 
user = user
enqNumber = enqNumber
orderNumber = orderNumber
contractNumber = contractNumber
enqRecieveDate = enqRecieveDate
customer = customer
workflow = workflow
repairNew = repairNew
enqDetails = enqDetails
workDescription = workDescription
description = description

-->
</ui:composition>
