<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">



	<ui:define name="content">
		<div class="ui-g-12">
			<h1>Enquiries</h1>
		</div>
		<div class="ui-g-12">
			<p:dataTable var="rowVar" value="#{enquiryUI.contractList}" id="quotationList" rowKey="#{rowVar.id}" paginator="true" rows="10" filteredValue="#{enquiryUI.contractfilteredList}" paginatorPosition="bottom"
				paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" selectionMode="single" selection="#{enquiryUI.contract}">
				<f:facet name="header">#{lang['enquiries']}</f:facet>
				<p:ajax event="rowSelect" listener="#{enquiryUI.showRowSelect}" update="quotationList" />


				<p:column headerText="#{lang['enqNumber']}" sortBy="#{rowVar.enqNumber}" width="15%">
					<h:outputText value="#{rowVar.enqNumber}" />
				</p:column>

				<p:column headerText="#{lang['title.of.enquiry']}" width="15%">
					<h:outputText value="#{rowVar.description}" />
				</p:column>

				<p:column headerText="#{lang['enquiry']}" width="15%">
					<h:outputText value="#{rowVar.repairNew.friendlyName}" />
				</p:column>

				<p:column headerText="#{lang['create.date']}" width="15%">
					<h:outputText value="#{rowVar.enqRecieveDate}" />
				</p:column>

				<p:column headerText="#{lang['enqDetails']}" width="30%">
					<h:outputText value="#{rowVar.enqDetails}" />
				</p:column>
				
				<p:column width="10%">
					<p:commandButton icon="ui-icon-cloud-upload" value="#{lang['upload']}" action="#{enquiryUI.prepDoc}" update=":docUpload" id="uploadDoc" oncomplete="PF('uploadDialogDocument').show();">
						<f:setPropertyActionListener value="#{rowVar}" target="#{enquiryUI.contract}" />
					</p:commandButton>
					<p:spacer width="5" />
					<p:commandButton icon="ui-icon-cloud-upload" value="#{lang['drawings.upload']}" action="#{enquiryUI.prepDocDrawing}" update=":docUploadDrawing" id="uploadDocDrawing" oncomplete="PF('uploadDialogDrawings').show();">
						<f:setPropertyActionListener value="#{rowVar}" target="#{enquiryUI.contract}" />
					</p:commandButton>
				</p:column>

			</p:dataTable>
		</div>
	</ui:define>

</ui:composition>
