<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">



	<p:outputPanel styleClass="ui-g card">
		<div class="ui-g-12">
			<h1 name="header">#{lang['awaiting.dispatch']}</h1>

			<div class="ui-g-12 ui-lg-12">
				<br />
				<p:outputLabel value="#{lang['select.if.product.will.be']}:" for="instructions" />
			</div>
			<div class="ui-g-12 ui-lg-12">
				<p:selectOneRadio id="instructions" layout="grid" columns="2" value="#{awaitingDispatchUI.awaitingDispatch.awaitingDispatch}">
					<f:selectItems value="#{awaitingDispatchUI.awaitingDispatchEnumDD}" />
				</p:selectOneRadio>
			</div>
		</div>
	</p:outputPanel>

	<!-- <c:if test="#{awaitingDispatchUI.awaitingDispatch.awaitingDispatch eq awaitingDispatchEnum.Delivery}"> -->
	<p:outputPanel styleClass="ui-g card">
		<div class="ui-g-12 ui-lg-12">
			<h3 name="header">#{lang['delivery.details']}</h3>

			<div class="ui-g-12 ui-lg-3">
				<br />
				<p:outputLabel value="#{lang['delivery.date']}:" for="ddeliveryDate" />
			</div>
			<div class="ui-g-12 ui-lg-3">
				<p:calendar id="ddeliveryDate" value="#{awaitingDispatchUI.awaitingDispatch.deliveryDate}" showOn="both" pattern="dd-MMMM-yyyy" />
			</div>

			<div class="ui-g-12">
				<div class="ui-g-12 ui-lg-3">
					<p:outputLabel styleClass="Fleft" value="#{lang['confirm.if.item.is.on.route.for.delivery']}?" for="product" />
				</div>
				<div class="ui-g-12 ui-lg-2">
					<p:selectOneRadio styleClass="Fright" id="product" value="#{awaitingDispatchUI.awaitingDispatch.onRouteForDelivery}">
						<f:selectItems value="#{enumUI.yesNoEnumDD}" />
					</p:selectOneRadio>
				</div>
			</div>


			<div class="ui-g-12 ui-lg-12">
				<div class="ui-g-12 ui-lg-5">
					<p:panel>
						<p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid" id="daddr">
							<h4>#{lang['delivery.address']}</h4>
							<h:panelGrid columns="2">
								<p:inputText value="#{customerEnquiryUI.customer.deliveryAddress.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
								<p:commandButton icon="ui-icon-search" action="#{customerEnquiryUI.findByPostcode(2)}" update="daddr" />
							</h:panelGrid>
							<p:inputText value="#{customerEnquiryUI.customer.deliveryAddress.addressLine1}" style="width: 100%" />
							<p:inputText value="#{customerEnquiryUI.customer.deliveryAddress.addressLine2}" style="width: 100%" />
							<p:inputText value="#{customerEnquiryUI.customer.deliveryAddress.addressLine3}" style="width: 100%" />
							<p:inputText value="#{customerEnquiryUI.customer.deliveryAddress.addressLine4}" style="width: 100%" />
						</p:panelGrid>
					</p:panel>
				</div>
			</div>

			<div class="ui-g-12">
				<br />
				<p:outputLabel styleClass="Fleft" value="#{lang['additional.notes']}:" for="deliveryNote" />
			</div>
			<p:outputPanel styleClass="card ui-g-12 ">
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:inputTextarea value="#{awaitingDispatchUI.awaitingDispatch.deliveryNote}" style="width: 100%" id="deliveryNote">
							<p:ajax />
						</p:inputTextarea>
						<p:outputLabel styleClass="Fleft" value="#{lang['enter.additional.notes']}:" for="deliveryNote" />
					</h:panelGroup>
				</div>

			</p:outputPanel>
			<div class="ui-g-12">
				<p:commandButton value="#{lang['submit']}" update="@form" action="#{awaitingDispatchUI.insertDispatch}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{awaitingDispatchUI.prepDispatch}">
					<p:resetInput target="@form" />
				</p:commandButton>
				<p:spacer width="5" />
				<p:commandButton id="deliveryNotes" icon="fa fa-sticky-note-o " oncomplete="PF('deliveryInfoDlg').show()" value="#{lang['view.delivery.notes']}" />
			</div>
			<p:spacer width="5" />
			<div class="ui-g-12">
				<p:commandButton value="#{lang['upload.signed.delivery.document']}" id="deliveryDocUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>
		</div>
	</p:outputPanel>
	<!-- </c:if> -->

	<!-- <c:if test="#{awaitingDispatchUI.awaitingDispatch.awaitingDispatch eq awaitingDispatchEnum.Collected}"> -->
	<p:outputPanel styleClass="ui-g card">
		<div class="ui-g-12 ui-lg-12">
			<h3 name="header">#{lang['collection.details']}</h3>

			<div class="ui-g-12 ui-lg-3">
				<br />
				<p:outputLabel value="#{lang['collection.date']}:" for="collectionDate" />
			</div>
			<div class="ui-g-12 ui-lg-3">
				<p:calendar id="collectionDate" value="#{awaitingDispatchUI.awaitingDispatch.collectionDate}" showOn="both" pattern="dd-MMMM-yyyy" />
			</div>

			<div class="ui-g-12">
				<div class="ui-g-12 ui-lg-3">
					<p:outputLabel styleClass="Fleft" value="#{lang['confirm.if.item.has.been.collected']}?" for="collected" />
				</div>
				<div class="ui-g-12 ui-lg-2">
					<p:selectOneRadio styleClass="Fright" id="collected" value="#{awaitingDispatchUI.awaitingDispatch.itemCollected}">
						<f:selectItems value="#{enumUI.yesNoEnumDD}" />
					</p:selectOneRadio>
				</div>
			</div>

			<div class="ui-g-12">
				<br />
				<p:outputLabel styleClass="Fleft" value="#{lang['additional.notes']}:" for="collectionNote" />
			</div>
			<p:outputPanel styleClass="card ui-g-12 ">
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:inputTextarea style="width: 100%" id="collectionNote" value="#{awaitingDispatchUI.awaitingDispatch.collectionNote}">
							<p:ajax />
						</p:inputTextarea>
						<p:outputLabel styleClass="Fleft" value="#{lang['enter.additional.notes']}:" for="collectionNote" />
					</h:panelGroup>
				</div>
			</p:outputPanel>
			<div class="ui-g-12">
				<p:commandButton value="#{lang['submit']}" update="@form" action="#{awaitingDispatchUI.insertDispatch}" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="@form" process="@this" action="#{awaitingDispatchUI.prepDispatch}">
					<p:resetInput target="@form" />
				</p:commandButton>
				<p:spacer width="5" />
				<p:commandButton id="collectNotes" icon="fa fa-sticky-note-o " oncomplete="PF('deliveryInfoDlg').show()" value="#{lang['view.delivery.notes']}" />
			</div>
			<p:spacer width="5" />
			<div class="ui-g-12">
				<p:commandButton value="#{lang['upload.signed.collection.document']}" id="collectionDocUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>


		</div>
	</p:outputPanel>
	<!-- </c:if> -->

	<p:dialog header="#{lang['upload']}" widgetVar="uploadDialogDocument" resizable="false" hideEffect="clip" showEffect="clip" id="uploadDialogDocument" position="top" modal="true" minWidth="500" width="70%">
		<h:form id="docUpload">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-12 ui-md-3 ">
					<p:outputLabel value="#{lang['document.upload.type']}" for="configDocType" />
				</div>
				<div class="ui-g-12 ui-md-9 ">
					<p:selectOneMenu converter="ConfigDocConvertor" requiredMessage="#{lang['select.document.upload.type']}" placeholder="Select Document Type" value="#{enquiry1UI.configDoc}" id="configDocType" style="width: 100%">
						<f:selectItems value="#{enquiry1UI.docTypeList}" var="rv" itemValue="#{rv}" itemLabel="#{rv.name}" />
						<p:ajax />
					</p:selectOneMenu>
				</div>
				<div class="EmptyBox10" />
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<p:fileUpload fileUploadListener="#{enquiry1UI.saveFile}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false" fileLimit="1" immediate="false" auto="true" update="@form" />
				</div>
				<div class="ui-g-12 ui-md-12 ui-lg-12">
					<h2>#{lang['documents']}</h2>
					<p:dataTable var="rVar" value="#{enquiry1UI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="5" filteredValue="#{enquiry1UI.docfilteredList}" paginatorPosition="bottom" rendered="#{enquiry1UI.contract ne null}"
						paginatorTemplate="Page {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="true">


						<p:column headerText="#{lang['original.file.name']}">
							<h:outputText value="#{rVar.originalFname}" />
						</p:column>

						<p:column headerText="#{lang['date.uploaded']}">
							<h:outputText value="#{rVar.addDate}">
								<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
							</h:outputText>
						</p:column>

						<p:column headerText="#{lang['owner']}">
							<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
						</p:column>

						<p:column headerText="#{lang['document.type']}">
							<h:outputText value="#{rVar.configDoc.name}" />
						</p:column>

						<p:column width="6%">
							<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
								<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
							</p:commandButton>
							<p:spacer width="5" />
							<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{uploadDocUI.showHistory}" update=":documenttrackeForm:documenttrackeList">
								<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
							</p:commandButton>

							<p:tooltip for="download" position="" value="#{lang['download.document']}" />
							<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
						</p:column>
					</p:dataTable>
					<br />
					<p:commandButton value="#{lang['close']}" icon="fa fa-times" oncomplete="PF('uploadDialogDocument').hide()" />
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<p:dialog draggable="false" header="#{lang['document.tracker']}" widgetVar="histDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialog" modal="true" width="40%">
		<h:form id="documenttrackeForm">
			<h:panelGrid>
				<p:dataTable value="#{uploadDocUI.documentTrackers}" var="rv" id="documenttrackeList" paginator="true" rows="6" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column id="columnEight" headerText="#{lang['date.time']}" sortBy="#{rv.date}">
						<h:outputText value="#{rv.date}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>

					<p:column headerText="#{lang['user']}">
        #{rv.user.firstName} #{rv.user.lastName} 
      </p:column>

					<p:column headerText="#{lang['action']}">
         #{rv.documentTrackerEnum.friendlyName}
       </p:column>

				</p:dataTable>
				<div class="EmptyBox10" />

			</h:panelGrid>
		</h:form>
	</p:dialog>



	<p:dialog modal="true" header="#{lang['notes']}" widgetVar="collectInfoDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="collectInfoPopUp" width="60%">
		<h:form id="collectInfoForm">
			<h:panelGroup id="collectNote">
				<div class="EmptyBox5" />
				<p:outputLabel value="No notes have been uploaded." id="collectEmptyNote" />
				<p:dataTable value="#{auditsUI.auditRequiredActions.notes}" var="rv" rowKey="#{rv.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column headerText="Note" style="width:66%">
						<h:outputText escape="false" value="#{rv.note}" styleClass="breakWord" />
					</p:column>
					<p:column headerText="Creator">
						<h:outputText value="#{rv.user.firstName} #{rv.user.lastName}" styleClass="breakWord" />
					</p:column>
					<p:column headerText="Created">
						<h:outputText value="#{rv.createDate}">
							<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
						</h:outputText>
					</p:column>
				</p:dataTable>

			</h:panelGroup>

			<div class="ui-g-12">
				<p:commandButton id="closeAddInfoDlg" icon="fa fa-times" oncomplete="PF('collectInfoDlg').hide()" value="#{lang['close']}" />
				<p:tooltip for="closeAddInfoDlg" position="" value="#{lang['close.pop.up']}" />
			</div>
		</h:form>
	</p:dialog>



	<p:dialog modal="true" header="#{lang['notes']}" widgetVar="deliveryInfoDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="deliveryInfoPopUp" width="60%">
		<h:form id="deliveryInfoForm">
			<h:panelGroup id="collectNote">
				<div class="EmptyBox5" />
				<p:outputLabel value="No notes have been uploaded." id="deliveryEmptyNote" />
				<p:dataTable value="#{auditsUI.auditRequiredActions.notes}" var="rv" rowKey="#{rv.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,15,20,25" reflow="true">
					<p:column headerText="Note" style="width:66%">
						<h:outputText escape="false" value="#{rv.note}" styleClass="breakWord" />
					</p:column>
					<p:column headerText="Creator">
						<h:outputText value="#{rv.user.firstName} #{rv.user.lastName}" styleClass="breakWord" />
					</p:column>
					<p:column headerText="Created">
						<h:outputText value="#{rv.createDate}">
							<f:convertDateTime pattern="dd MMMM yyyy HH:mm" />
						</h:outputText>
					</p:column>
				</p:dataTable>

			</h:panelGroup>

			<div class="ui-g-12">
				<p:commandButton id="closeAddInfoDlg" icon="fa fa-times" oncomplete="PF('deliveryInfoDlg').hide()" value="#{lang['close']}" />
				<p:tooltip for="closeAddInfoDlg" position="" value="#{lang['close.pop.up']}" />
			</div>
		</h:form>
	</p:dialog>

</ui:composition>