<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="DetailsForm">
		<p:remoteCommand name="rcCust" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(1)}" />
		<p:remoteCommand name="rcCont" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(2)}" />
		<p:remoteCommand name="rcSI" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(3)}" />
		<p:remoteCommand name="rcQ" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(4)}" />
		<p:remoteCommand name="rcRC" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(5)}" />
		<p:remoteCommand name="rcPO" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(6)}" />
		<p:remoteCommand name="rcCD" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(7)}" />
		<p:remoteCommand name="rcCU" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(8)}" />
		<p:remoteCommand name="rcOT" update=":contractOverviewForm" actionListener="#{codUI.switchPanel(9)}" />
		<p:outputPanel id="iconRaiserPnl" styleClass="ui-g dashboard">
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcCust()">
					<div class="ui-g card colorbox colorbox-8">
						<div class="ui-g-4">
							<i class="material-icons">perm_identity</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Customer Details<br /> <br /> <p:outputLabel value="#{sessionUI.customer.customerName}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcCont()">
					<div class="ui-g card colorbox colorbox-1">
						<div class="ui-g-4">
							<i class="material-icons">library_books</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Contract Details<br /> <br /> <p:outputLabel value="#{sessionUI.contract.contractNumber ne null ? sessionUI.contract.contractNumber : sessionUI.contract.enquiryNumber}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcSI()">
					<div class="ui-g card colorbox colorbox-2">
						<div class="ui-g-4">
							<i class="material-icons">build</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Strip and Inspections<br /> <br /> <p:outputLabel value="#{codUI.siList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcQ()">
					<div class="ui-g card colorbox colorbox-3">
						<div class="ui-g-4">
							<i class="material-icons">local_atm</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Quotes<br /> <br /> <p:outputLabel value="#{codUI.qList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcRC()">
					<div class="ui-g card colorbox colorbox-5">
						<div class="ui-g-4">
							<i class="material-icons">style</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Route Card<br /> <br /> <p:outputLabel value="#{codUI.rcList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcPO()">
					<div class="ui-g card colorbox colorbox-6">
						<div class="ui-g-4">
							<i class="material-icons">shopping_cart</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Purchase Orders<br /> <br /> <p:outputLabel value="#{codUI.poList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcCD()">
					<div class="ui-g card colorbox colorbox-7">
						<div class="ui-g-4">
							<i class="material-icons">time_to_leave</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Collection/Delivery<br /> <br /> <p:outputLabel value="#{codUI.cdList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcCU()">
					<div class="ui-g card colorbox colorbox-4">
						<div class="ui-g-4">
							<i class="material-icons">cloud_queue</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Customer's Uploads<br /> <br /> <p:outputLabel value="#{codUI.cuList.size()}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="rcOT()">
					<div class="ui-g card colorbox colorbox-0">
						<div class="ui-g-4">
							<i class="material-icons">art_track</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Other Downloads<br /> <br /> <p:outputLabel value="#{(codUI.contract.conformityCertificateB or codUI.contract.testPressureCertificateB or codUI.contract.dimensionalReportB) ?'Yes' :'No'}" />
							</span>
						</div>
					</div>
				</a>
			</div>
		</p:outputPanel>
	</h:form>
</ui:composition>
