<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">



	<p:dialog header="#{lang['view.detail']}" widgetVar="viewDetailsDlg" resizable="false" hideEffect="clip" showEffect="clip" id="viewDetailsDlg" position="top" modal="true" width="35%">
		<h:form id="contractDetailViewForm">
			<p:outputPanel styleClass="ui-g">
				<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{quotationUI.contractDetail.quoteDetailType eq contractDetailTypeEnum.Resource}">
					<div class="ui-g-12">
						<h:outputText value="Resource: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Resource Date Allocation: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Days Resource Allocated: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Description: " />
					</div>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{quotationUI.contractDetail.quoteDetailType eq contractDetailTypeEnum.Resource}">

					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.resource.description}" />
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.resourceAllocationDate}">
							<f:convertDateTime pattern="dd MMM yyyy" />
						</h:outputText>
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.days}" />
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.description}" />
					</div>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{quotationUI.contractDetail.quoteDetailType eq contractDetailTypeEnum.Material}">
					<div class="ui-g-12">
						<h:outputText value="Purchase/Provided: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Amount of Material: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Price of Material: " />
					</div>
					<div class="ui-g-12">
						<h:outputText value="Description: " />
					</div>
				</p:outputPanel>
				<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{quotationUI.contractDetail.quoteDetailType eq contractDetailTypeEnum.Material}">
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.quoteMaterialType.friendlyName}" />
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.amountMaterials}" />
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.materialPrice}" rendered="#{quotationUI.contractDetail.quoteMaterialType eq contractMaterialTypeEnum.Purchased}">
							<f:convertNumber pattern="###,##0.00" />
						</h:outputText>
					</div>
					<div class="ui-g-12">
						<h:outputText value="#{quotationUI.contractDetail.description}" />
					</div>
				</p:outputPanel>
				<br />
				<div class="ui-g-12 ui-lg-12">
					<center>
						<p:commandButton update="@parent" title="View Details" icon="fa fa-close" oncomplete="PF('viewDetailsDlg').hide()" />
					</center>
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>



</ui:composition>
