<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel id="contractDetails" styleClass="ui-g card">
		<div class="ui-g-12">
			<h2 name="header">
				#{lang['material.table']}

				<p:inputSwitch style=" float:right;" offLabel="Hide" value="#{toggleUI.hideMaterialTable}" onLabel="Show" showLabels="true">
					<p:ajax update="@form" />
				</p:inputSwitch>

			</h2>
		</div>
		<c:if test="#{toggleUI.hideMaterialTable eq false}">
			<div class="ui-g-12">
				<p:dataGrid var="contractDetails" value="#{quotationUI.contractDetailList}" columns="2" layout="grid" rows="8" paginator="true" id="cars" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="6,12,16">
					<p:panel header="#{contractDetails.quoteDetailType.friendlyName}" style="text-align:center;">
						<p:outputPanel styleClass="ui-g">
							<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Resource}">
								<div class="ui-g-12">
									<h:outputText value="Resource: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Resource Date Allocation: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Days Resource Allocated: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Description: " />
								</div>
							</p:outputPanel>

							<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Resource}">

								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.resource.description}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.resourceAllocationDate}">
										<f:convertDateTime pattern="dd MMM yyyy" />
									</h:outputText>
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.days}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.description.length() gt 50 ? contractDetails.description.substring(0,65).concat('...') : contractDetails.description}" />
								</div>
							</p:outputPanel>

							<p:outputPanel styleClass="ui-g-6" style="text-align:right !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Material}">

								<div class="ui-g-12">
									<h:outputText value="Purchase/Provided: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Amount of Material: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Price of Material: " />
								</div>
								<div class="ui-g-12">
									<h:outputText value="Description: " />
								</div>
							</p:outputPanel>

							<p:outputPanel styleClass="ui-g-6" style="text-align:left !important;" rendered="#{contractDetails.quoteDetailType eq contractDetailTypeEnum.Material}">
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.quoteMaterialType.friendlyName}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.amountMaterials}" />
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.materialPrice}" rendered="#{contractDetails.quoteMaterialType eq contractMaterialTypeEnum.Purchased}">
										<f:convertNumber pattern="###,##0.00" />
									</h:outputText>
								</div>
								<div class="ui-g-12">
									<h:outputText value="#{contractDetails.description.length() gt 50 ? contractDetails.description.substring(0,75).concat('...') : contractDetails.description}" />
								</div>
							</p:outputPanel>
							<br />
							<div class="ui-g-12 ui-lg-12">
								<p:commandLink update="@form" title="View Details" action="#{quotationUI.showContractDetailsUpdate}" oncomplete="PF('viewDetailsDlg').show()">
									<h:outputText styleClass="ui-icon ui-icon-circle-zoomin" style="margin:0 auto;" />
									<f:setPropertyActionListener value="#{contractDetails}" target="#{quotationUI.contractDetail}" />
								</p:commandLink>
							</div>
						</p:outputPanel>
					</p:panel>
				</p:dataGrid>
			</div>
		</c:if>
	</p:outputPanel>

	<p:outputPanel id="quotePricePnl" styleClass="ui-g card">
		<div class="ui-g-12">
			<h2 name="header">#{lang['quotation.for.customer']}</h2>
			<div class="ui-g-12 ui-md-12 ui-lg-6">
				<h:panelGroup styleClass="md-inputfield">
					<p:inputNumber id="RRPInput" value="#{quotationUI.contract.recommendedRetailPrice}" symbol="&#163;" symbolPosition="p" decimalSeparator="." thousandSeparator="," />
					<p:outputLabel value="#{lang['recommended.retail.price']}:" for="RRPInput" />
				</h:panelGroup>
			</div>
			<div class="ui-g-12 ui-md-12 ui-lg-6">
				<h:panelGroup styleClass="md-inputfield">
					<p:inputNumber id="amendedPriceInput" value="#{quotationUI.contract.amendedCostPrice}" symbol="&#163;" symbolPosition="p" decimalSeparator="." thousandSeparator="," />
					<p:outputLabel value="#{lang['amended.cost.price']}:" for="amendedPriceInput" />
				</h:panelGroup>
			</div>
			<div class="ui-g-12 ui-md-12 ui-lg-12">
				<p:commandButton rendered="#{quotationUI.contract.contractStatus eq contractStatusEnum.QuoteSentCustomer and quotationUI.contract.contractStatus eq contractStatusEnum.QuoteReject and quotationUI.contract.contractStatus eq contractStatusEnum.QuoteAccept}" id="sendQuote"
					value="#{lang['send.quote']}" action="#{quotationUI.sendQuote}" icon="fa fa-mail-forward" disabled="false" update="@parent" />
				<p:commandButton rendered="#{quotationUI.contract.contractStatus eq contractStatusEnum.QuoteSentCustomer}" id="rejectQuote" value="#{lang['reject.quote']}" oncomplete="PF('rejectQuoteDlg').show()" icon="fa fa-times" disabled="false" update=":rejectionReasonForm" />
				<p:commandButton rendered="#{quotationUI.contract.contractStatus eq contractStatusEnum.QuoteSentCustomer}" id="acceptQuote" value="#{lang['accept.quote']}" action="#{quotationUI.acceptContract}" icon="fa fa-check-circle-o" disabled="false" update="@parent" />
			</div>
		</div>
	</p:outputPanel>

</ui:composition>
