<ui:composition xmlns="http://www.w3.org/1999/xhtml"  xmlns:o="http://omnifaces.org/ui"  xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="contractReviewForm">
		<o:importConstants type="haj.com.entity.enums.ContractDetailTypeEnum" var="contractDetailTypeEnum1" />
		
		<p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank">
			<p:outputLabel for="contractDetailTypeEnumRadio" value="#{lang['contract.type']}:" />
			<p:selectOneRadio id="contractDetailTypeEnumRadio" value="#{quoteFormUI.contractReviewItem.contractDetailType}" layout="grid" columns="2" required="true" requiredMessage="#{lang['provide.contract.type']}">
				<p:ajax process="@this" event="change" update="contractReviewForm:resourcePnl contractReviewForm:materialPnl" partialSubmit="true" />
				<f:selectItems value="#{quoteFormUI.contractReviewDetailTypeDD}" />
			</p:selectOneRadio>
			<p:outputLabel for="description" value="#{lang['enter.a.description']}:" />
			<h:panelGroup>
				<div class="card">
					<p:inputTextarea id="description" value="#{quoteFormUI.contractReviewItem.description}" style="width:95%" rows="6" cols="50" required="true" requiredMessage="#{lang['provide.description.details']}" />
				</div>
			</h:panelGroup>
			<p:outputPanel id="resourcePnl">
				<c:if test="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Resource}">
					<p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank">
						<p:button href="/pages/resources.jsf" target="_blank" icon="fa fa-calendar" value="#{lang['click.to.view.allocation']}"></p:button>
						<p:calendar required="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Resource}" placeholder="#{lang['resource.date']}" requiredMessage="#{lang['provide.date']}" id="calenderRes" value="#{quoteFormUI.contractReviewItem.resourceAllocationDate}"
							showOn="both" pattern="dd-MMMM-yyyy" />
						<p:autoComplete id="resourceAutoComplete" value="#{quoteFormUI.contractReviewItem.resource}" completeMethod="#{quoteFormUI.completeResource}" var="resourceAuto"
							itemLabel="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}" itemValue="#{resourceAuto}" forceSelection="true" converter="ResourceConvertor" dropdown="true" minQueryLength="1" maxResults="10"
							required="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Resource}" requiredMessage="#{lang['provide.a.resource']}" placeholder="#{lang['select.a.resource']}">
							<p:column headerText="#{lang['resource']}" style="white-space: nowrap">
								<p:outputLabel value="#{resourceAuto.description.length() gt 50 ? resourceAuto.description.substring(0,47).concat('...') : resourceAuto.description}" escape="false" />
							</p:column>
							<p:column headerText="#{lang['resourceType']}" style="white-space: nowrap">
								<p:outputLabel value="#{resourceAuto.resourceType.description.length() gt 50 ? resourceAuto.resourceType.description.substring(0,47).concat('...') : resourceAuto.resourceType.description}" escape="false" />
							</p:column>
						</p:autoComplete>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputText id="numberdays" value="#{quoteFormUI.contractReviewItem.days}" required="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Resource}" requiredMessage="#{lang['provide.no.days']}" />
							<p:outputLabel for="numberdays" value="#{lang['number.of.days']}:" />
						</h:panelGroup>
					</p:panelGrid>
				</c:if>
			</p:outputPanel>
			<p:outputPanel id="materialPnl">
				<c:if test="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Material}">
					<p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank">
						<p:outputLabel for="qmTypeEnum" value="#{lang['quotation.material.type']}:" />
						<p:selectOneRadio required="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Material}" requiredMessage="#{lang['provided.or.need.to.purchase']}" id="qmTypeEnum" value="#{quoteFormUI.contractReviewItem.materialType}" layout="grid" columns="2">
							<p:ajax process="@this" event="change" update="contractReviewForm:pricePnl" partialSubmit="true" />
							<f:selectItems value="#{quoteFormUI.materialTypeDD}" />
						</p:selectOneRadio>
						<h:panelGroup styleClass="md-inputfield">
							<p:inputNumber id="amountInput" value="#{quoteFormUI.contractReviewItem.amountMaterials}" decimalPlaces="0" decimalSeparator="." thousandSeparator="," required="#{quoteFormUI.contractReviewItem.contractDetailType eq contractDetailTypeEnum1.Material}"
								requiredMessage="#{lang['provid.quantity']}" />
							<p:outputLabel for="amountInput" value="#{lang['quantity.materials']}" />
						</h:panelGroup>
					</p:panelGrid>
				</c:if>
			</p:outputPanel>
			<p:outputPanel id="pricePnl">
				<p:panelGrid layout="grid" columns="1" styleClass="ui-panelgrid-blank">
					<h:panelGroup styleClass="md-inputfield" rendered="#{quoteFormUI.contractReviewItem.materialType ne materialTypeEnum.CustomerProvided}">
						<p:outputLabel for="priceInput" value="#{lang['price']}" />
						<p:inputNumber id="priceInput" value="#{quoteFormUI.contractReviewItem.price}" symbol="&#163;" symbolPosition="p" decimalSeparator="." thousandSeparator="," />
						
					</h:panelGroup>
				</p:panelGrid>
			</p:outputPanel>
			
			<h:panelGroup class="ui-g-12">
				<p:commandButton title="#{lang['save']}" value="Add" process="@form" actionListener="#{quoteFormUI.saveContractReviewItem}" icon="fa fa-plus" update=":contractReviewForm1 @form" />
				<p:spacer width="5" />
				<p:commandButton title="#{lang['clear']}" value="#{lang['clear']}" icon="ui-icon-clear-all" actionListener="#{quoteFormUI.prepareNewContractReviewItem}" update="@form" process="@this">
					<p:resetInput target="@form" />
				</p:commandButton>
			</h:panelGroup>
		</p:panelGrid>
		
		
	</h:form>
	<h:form id="contractReviewForm1">
		<p:outputPanel styleClass="ui-g">
			<p:outputPanel rendered="#{quoteFormUI.contractReviewItemList.size() gt 0}">
				<p:dataTable id="tbl" var="contractDetails" value="#{quoteFormUI.contractReviewItemList}" rows="#{quoteFormUI.contractReviewItemList.size()}" sortBy="#{contractDetails.contract.id}">
					<p:column width="10%">
						<p:commandButton icon="fa fa-pencil" update=":contractReviewForm">
							<f:setPropertyActionListener value="#{contractDetails}" target="#{quoteFormUI.contractReviewItem}" />
						</p:commandButton>
						<p:commandButton icon="fa fa-trash" update=":confirmDelete" oncomplete="PF('confirmation').show()">
							<f:setPropertyActionListener value="#{contractDetails}" target="#{quoteFormUI.contractReviewItem}" />
						</p:commandButton>
					</p:column>
					<p:column headerText="Description" width="30%">
						<p:outputLabel value="#{contractDetails.description}" />
					</p:column>
					<p:column headerText="Resource" width="15%">
						<p:outputLabel value="#{contractDetails.resource.description}" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Resource}" />
						<p:outputLabel value="N/A" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Material}" />
					</p:column>
					<p:column headerText="Date Allocated" width="15%">
						<p:outputLabel value="#{contractDetails.resourceAllocationDate}" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Resource}">
							<f:convertDateTime pattern="dd MMM yyyy" />
						</p:outputLabel>
						<p:outputLabel value="N/A" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Material}" />
					</p:column>
					<p:column headerText="Quantity" width="10%">
						<p:outputLabel value="#{contractDetails.amountMaterials}" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Material}" />
						<p:outputLabel value="N/A" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Resource}" />
					</p:column>
					<p:column headerText="Days" width="10%">
						<p:outputLabel value="N/A" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Material}" />
						<p:outputLabel value="#{contractDetails.days}" rendered="#{contractDetails.contractDetailType eq contractDetailTypeEnum1.Resource}" />
					</p:column>
					<p:column headerText="Price" width="10%">
						<h:outputText value="Provided By Client " rendered="#{contractDetails.materialType ne materialTypeEnum.Purchased and contractDetails.contractDetailType ne contractDetailTypeEnum1.Resource}" />
						<h:outputText value="#{contractDetails.price}" rendered="#{contractDetails.materialType ne materialTypeEnum.CustomerProvided or contractDetails.materialType eq null}">
							<f:convertNumber pattern="###,##0.00" />
						</h:outputText>
					</p:column>
					<p:summaryRow>
						<p:column colspan="6" style="text-align:right !important;" styleClass="NoRedBackgroundBlackText">
							<h:outputText value="Total Price: " />
						</p:column>
						<p:column styleClass="NoRedBackgroundBlackText">
							<h:outputText value="#{quoteFormUI.totalPriceContractReview}">
								<f:convertNumber type="currency" currencySymbol="&#163;" />
							</h:outputText>
						</p:column>
					</p:summaryRow>
				</p:dataTable>
			</p:outputPanel>
		</p:outputPanel>
	</h:form>

	<p:confirmDialog message="#{lang['are.you.sure']}" width="200" appendTo="@(body)" showEffect="clip" hideEffect="clip" header="Confirm" severity="alert" widgetVar="confirmation">
		<h:form id="confirmDelete">
			<center>
				<p:commandButton value="#{lang['yes']}" update="contractReviewForm1" actionListener="#{quoteFormUI.deleteContractReviewItem}" oncomplete="PF('confirmation').hide()" />
				<p:spacer width="5" />
				<p:commandButton value="#{lang['no']}" onclick="PF('confirmation').hide()" type="button" />
			</center>
		</h:form>
	</p:confirmDialog>


</ui:composition>
