<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">

	<p:dataTable var="criV" value="#{contractreviewTableUI.contractList}">
		<p:column headerText="Contract Details">
			<h:outputText
				value="#{(criV.contractStatus eq contractStatusEnum.NewEnquiry and (criV.contractType eq contractTypeEnum.New or criV.contractType eq contractTypeEnum.Repair)) ?criV.enquiryNumber :(criV.contractStatus ne contractStatusEnum.NewEnquiry and (criV.contractType eq contractTypeEnum.New or criV.contractType eq contractTypeEnum.Repair or criV.contractType eq contractTypeEnum.Order)) ?criV.contractNumber :(criV.contractType eq contractTypeEnum.Order) ?criV.contractNumber :'NA'}" />
		</p:column>
		<p:column headerText="Customer Name">
			<h:outputText value="#{criV.customer.customerName}" />
		</p:column>
		<p:column headerText="#{lang['status']}">
			<h:outputText value="#{criV.contractStatus.friendlyName}" />
		</p:column>
		<p:column headerText="#{lang['contract.type']}">
			<h:outputText value="#{criV.contractType.friendlyName}" />
		</p:column>
		<p:column headerText="#{lang['subject']}">
			<h:outputText value="#{criV.details}" />
		</p:column>
		<p:column>
			<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" ajax="false" process="@this" action="#{contractreviewTableUI.zoomTo}">
				<f:setPropertyActionListener value="#{criV}" target="#{contractreviewTableUI.contract}" />
			</p:commandButton>
			<p:commandButton rendered="false" update=":criDlg" id="viewBtn" icon="fa fa-eye" process="@this" action="#{contractreviewTableUI.findContractReviewItems}" oncomplete="PF('criDlg').show()">
				<f:setPropertyActionListener value="#{criV}" target="#{contractreviewTableUI.contract}" />
			</p:commandButton>
			<p:commandButton id="dlCon" icon="fa fa-download" ajax="false" process="@this" action="#{contractreviewTableUI.downloadDoc}">
				<f:setPropertyActionListener value="#{criV}" target="#{contractreviewTableUI.contract}" />
			</p:commandButton>
			<p:tooltip for="zoomToBtn" value="Go to Contract Review" />
			<p:tooltip for="dlCon" value="Download Contract Review" />
			<p:tooltip for="viewBtn" value="View Contract Review" />
		</p:column>
	</p:dataTable>
</ui:composition>
