<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:dataTable var="rowVar" value="#{customerEnquiryUI.contractList}" rowKey="#{rowVar.id}" paginator="true" rows="10" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
		rowsPerPageTemplate="5,10,15,20,25" reflow="true" lazy="false" rendered="#{customerEnquiryUI.contractList.size() gt 0}">
		<p:column headerText="#{lang['enqNumber']}" width="15%">
			<h:outputText value="#{rowVar.enquiryNumber}" />
		</p:column>
		<p:column headerText="Revision Number" width="15%">
			<h:outputText value="#{rowVar.revisionNumber}" />
		</p:column>
		<p:column headerText="#{lang['title.of.enquiry']}" width="15%">
			<h:outputText value="#{rowVar.title}" />
		</p:column>
		<p:column headerText="#{lang['enquiry']}" width="15%">
			<h:outputText value="#{rowVar.contractType.friendlyName}" />
		</p:column>
		<p:column headerText="#{lang['create.date']}" width="15%">
			<h:outputText value="#{rowVar.createDate}">
				<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
			</h:outputText>
		</p:column>
		<p:column headerText="#{lang['enqDetails']}" width="15%">
			<h:outputText value="#{rowVar.details}" />
		</p:column>
		<p:column headerText="#{lang['contract.status']}" width="15%">
			<h:outputText value="#{rowVar.contractStatus.friendlyName}" />
		</p:column>
		<p:column width="12%">
			<p:commandButton icon="fa fa-arrow-right" title="Update" ajax="false" process="@this" action="#{customerEnquiryUI.zoomToReview}">
				<f:setPropertyActionListener value="#{rowVar}" target="#{customerEnquiryUI.contract}" />
			</p:commandButton>
		</p:column>
	</p:dataTable>

</ui:composition>
