<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core" template="/WEB-INF/template.xhtml">

	<ui:define name="content">

		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>

		<h:form id="enquiryDetailsForm">
			<ui:include src="/pages/includes/enquiryDetails.xhtml" />
		</h:form>

		<h:form id="tableDetailsForm">
			<ui:include src="/pages/includes/table.xhtml" />
		</h:form>
		<ui:include src="/pages/includes/sessionUploadDoc.xhtml" />

	</ui:define>
</ui:composition>
