<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<p:outputPanel styleClass="ui-g">

		<c:if test="#{toggleUI.hideCustomerDetails eq false}">
			
			<p:panelGrid columns="4" style="width:90%" id="customerInfo" layout="grid" styleClass="ui-panelgrid-blank form-group">


				<p:outputLabel value="#{lang['customer.name']}:" for="customerName" />

				<p:outputLabel id="customerName" value="#{sessionUI.customer.customerName}" styleClass="breakWord"/>


				<p:outputLabel value="#{lang['company.number']}:" for="companyNumber" />

				<p:outputLabel id="companyNumber" value="#{sessionUI.customer.companyNumber}" styleClass="breakWord"/>


				<p:outputLabel value="#{lang['email']}:" for="email" />

				<p:outputLabel id="email" value="#{sessionUI.customer.companyEmail}" styleClass="breakWord"/>


				<p:outputLabel value="#{lang['phone.number']}:" for="phoneNumber" />

				<p:outputLabel id="phoneNumber" value="#{sessionUI.customer.phoneNumber}" styleClass="breakWord"/>


				<p:outputLabel value="#{lang['fax.number']}:" for="faxNumber" />

				<p:outputLabel id="faxNumber" value="#{sessionUI.customer.faxNumber}" styleClass="breakWord"/>

				<p:outputLabel value="#{lang['vat.number']}:" for="vatNumber" />

				<p:outputLabel id="vatNumber" value="#{sessionUI.customer.vatNumber}" styleClass="breakWord"/>

				<p:outputLabel value="#{lang['point.of.contact.full.name']}:" for="pointOfContactName" />

				<p:outputLabel id="pointOfContactName" value="#{sessionUI.customer.pointOfContactName}" styleClass="breakWord"/>

				<p:outputLabel value="#{lang['point.of.contact.phone.number']}:" for="pointOfContactPhoneNumber" />

				<p:outputLabel id="pointOfContactPhoneNumber" value="#{sessionUI.customer.pointOfContactPhoneNumber}" styleClass="breakWord"/>

				<p:outputLabel value="#{lang['point.of.contact.email.address']}:" for="pointOfContactEmail" />

				<p:outputLabel id="pointOfContactEmail" value="#{sessionUI.customer.pointOfContactEmail}" styleClass="breakWord"/>


			</p:panelGrid>

		</c:if>
	</p:outputPanel>

</ui:composition>
