<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:p="http://primefaces.org/ui">


	<div class="ui-g-12">
		<h1>Customer Details</h1>
	</div>
	<p:outputPanel styleClass="ui-g-12" id="customerInsGrid">
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="customerName" value="#{enquiryUI.contract.customer.customerName}" style="width:95%" required="true" requiredMessage="#{lang['enter.cust.name']}" />
				<p:outputLabel value="#{lang['customer']} #{lang['name']}#{lang['colon']}" for="customerName" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="email" value="#{enquiryUI.contract.customer.companyEmail}" style="width:95%" />
				<p:outputLabel value="#{lang['email']}#{lang['colon']}" for="email" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12  ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="phoneNumber" value="#{enquiryUI.contract.customer.phoneNumber}" style="width:95%" />
				<p:outputLabel value="#{lang['phone']} #{lang['number']}#{lang['colon']}" for="phoneNumber" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="faxNumber" value="#{enquiryUI.contract.customer.faxNumber}" style="width:95%" />
				<p:outputLabel value="#{lang['fax']} #{lang['number']}#{lang['colon']}" for="faxNumber" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">

				<p:inputText id="vatNumber" value="#{enquiryUI.contract.customer.vatNumber}" style="width:95%" />
				<p:outputLabel value="#{lang['vat']} #{lang['number']}#{lang['colon']}" for="vatNumber" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="companyNumber" value="#{enquiryUI.contract.customer.companyNumber}" style="width:95%" />
				<p:outputLabel value="#{lang['company']} #{lang['number']}#{lang['colon']}" for="companyNumber" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="pointOfContactName" value="#{enquiryUI.contract.customer.pointOfContactName}" style="width:95%" />
				<p:outputLabel value="Point of Contact Full Name:" for="pointOfContactName" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="pointOfContactPhoneNumber" value="#{enquiryUI.contract.customer.pointOfContactPhoneNumber}" style="width:95%" />
				<p:outputLabel value="Point of Contact Phone Number:" for="pointOfContactPhoneNumber" />
			</h:panelGroup>
		</div>
		<div class="ui-g-12 ui-lg-6">
			<br />
			<h:panelGroup styleClass="md-inputfield">
				<p:inputText id="pointOfContactEmail" value="#{enquiryUI.contract.customer.pointOfContactEmail}" style="width:95%" />
				<p:outputLabel value="Point of Contact Email Address:" for="pointOfContactEmail" />
			</h:panelGroup>
		</div>
	</p:outputPanel>
	<br /><br />
	<p:outputPanel styleClass="ui-g-12">
		<div class="ui-g-12 ui-lg-4">
			<p:panel>
				<p:panelGrid columns="1" style="width: 100%" layout="grid" styleClass="ui-panelgrid-blank" id="addr">
					<h4>#{lang['address']}</h4>
					<h:panelGrid columns="4" id="addrSub" style="width: 100%">
						<p:inputText value="#{enquiryUI.contract.customer.address.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
						<p:commandButton icon="ui-icon-search" action="#{enquiryUI.findByPostcode(1)}" update="addr addrSub" />
						<p:outputLabel value="#{lang['copy']}" rendered="#{enquiryUI.contract.customer.address.addressLine4.length() gt 0}" />
						<p:selectBooleanCheckbox value="#{enquiryUI.copyAddress}" rendered="#{enquiryUI.contract.customer.address.addressLine4.length() gt 0}">
							<p:ajax listener="#{enquiryUI.cpyAddresses}" update="daddr baddr" />
						</p:selectBooleanCheckbox>
					</h:panelGrid>
					<p:inputText value="#{enquiryUI.contract.customer.address.addressLine1}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.address.addressLine2}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.address.addressLine3}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.address.addressLine4}" style="width: 100%" />
				</p:panelGrid>
			</p:panel>
		</div>
		<div class="ui-g-12 ui-lg-4">
			<p:panel>
				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid" id="daddr">
					<h4>#{lang['delivery.address']}</h4>
					<h:panelGrid columns="2">
						<p:inputText value="#{enquiryUI.contract.customer.deliveryAddress.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
						<p:commandButton icon="ui-icon-search" action="#{enquiryUI.findByPostcode(2)}" update="daddr" />
					</h:panelGrid>
					<p:inputText value="#{enquiryUI.contract.customer.deliveryAddress.addressLine1}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.deliveryAddress.addressLine2}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.deliveryAddress.addressLine3}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.deliveryAddress.addressLine4}" style="width: 100%" />
				</p:panelGrid>
			</p:panel>
		</div>
		<div class="ui-g-12 ui-lg-4">
			<p:panel>
				<p:panelGrid columns="1" styleClass="ui-panelgrid-blank" layout="grid" id="baddr">
					<h4>#{lang['billing.address']}</h4>

					<h:panelGrid columns="2">
						<p:inputText value="#{enquiryUI.contract.customer.billingAddress.postcode}" styleClass="Fleft" placeholder="#{lang['post.code']}" style="width: 70%" />
						<p:commandButton icon="ui-icon-search" action="#{enquiryUI.findByPostcode(3)}" update="baddr" />
					</h:panelGrid>
					<p:inputText value="#{enquiryUI.contract.customer.billingAddress.addressLine1}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.billingAddress.addressLine2}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.billingAddress.addressLine3}" style="width: 100%" />
					<p:inputText value="#{enquiryUI.contract.customer.billingAddress.addressLine4}" style="width: 100%" />
				</p:panelGrid>
			</p:panel>
		</div>
	</p:outputPanel>
	<div class="ui-g-12 ">
		<p:commandButton value="#{lang['submit']}" icon="ui-icon-save" update=":mainForm :contractInsForm :quoteForm " action="#{enquiryUI.saveCustomer}" />
		<p:spacer width="5" />
		<p:commandButton value="#{lang['clear']}" icon="ui-icon-clear-all" update="customerInsGrid :mainForm" process="@this" action="#{enquiryUI.prepareNew}">
			<p:resetInput target="customerInsGrid" />
		</p:commandButton>
	</div>

</ui:composition>
