<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	<h:form id="DetailsForm">
		<p:outputPanel id="iconRaiserPnl" styleClass="ui-g dashboard">
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="PF('customerDetailDlg').show()">
					<div class="ui-g card colorbox colorbox-4" style="height: 85px !important;">
						<div class="ui-g-4">
							<i class="material-icons">perm_identity</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Customer Details <br /> <br /> <p:outputLabel value="#{sessionUI.customer.customerName}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="PF('enquiryDetailDlg').show()" >
					<div class="ui-g card colorbox colorbox-2" style="height: 85px !important;">
						<div class="ui-g-4">
							<i class="material-icons">library_books</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Contract Details <br /> <br /> <p:outputLabel value="#{sessionUI.contract.contractNumber ne null ? sessionUI.contract.contractNumber : sessionUI.contract.enquiryNumber}" />
							</span>
						</div>
					</div>
				</a>
			</div>
			<div class="ui-g-12 ui-md-6 ui-lg-4">
				<a style="cursor: pointer" onmouseup="PF('contractReviewDlg').show()">
					<div class="ui-g card colorbox colorbox-3" style="height: 85px !important;">
						<div class="ui-g-4">
							<i class="material-icons">assignment</i>
						</div>
						<div class="ui-g-8">
							<span class="colorbox-name" style="font-weight: bold !important;">Resource Planner <br /> <br /></span>
						</div>
					</div>
				</a>
			</div>
		</p:outputPanel>
	</h:form>
	<p:dialog id="enquiryDetailDlg" hideEffect="clip" showEffect="clip" responsive="true" widgetVar="enquiryDetailDlg" header="#{lang['enquiry.details']}" position="center" width="80%" modal="true" draggable="false" resizable="false" closeOnEscape="true" >
		<ui:include src="/pages/includes/enquiryDetails.xhtml" />
	</p:dialog>
	<p:dialog id="contractReviewDlg" hideEffect="clip" showEffect="clip" responsive="true" widgetVar="contractReviewDlg" header="Resource Planner" position="center" width="80%" modal="true" draggable="false" resizable="false" closeOnEscape="true">
		<p:scrollPanel  mode="native" style="width:auto;height:600px;border:0px">
			<ui:include src="/pages/includes/contractReviewView.xhtml" />
		</p:scrollPanel>
	</p:dialog>
	<p:dialog id="customerDetailDlg" hideEffect="clip" showEffect="clip" responsive="true" header="#{lang['customer.details']}" widgetVar="customerDetailDlg" position="center" width="80%" modal="true" draggable="false" resizable="false" closeOnEscape="true">
		<h:form id="customerDetailsForm">
			<ui:include src="/pages/includes/customerDetails.xhtml" />
		</h:form>
	</p:dialog>
	<ui:include src="/pages/includes/sessionUploadDoc.xhtml" />

</ui:composition>
