<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

	
	<h2>Enquiry Capture Form</h2>
	<div class="Fs15">
		<p:outputLabel value="#{enquiryUI.contract.enquiryNumber eq null ?'[Not Saved]' :(enquiryUI.contract.contractType eq contracttype.Order ?enquiryUI.contract.contractNumber :enquiryUI.contract.enquiryNumber)}" />
		<p:spacer width="10" />
		<p:outputLabel style="font-weight:bold !important;" value="Rev No. #{enquiryUI.contract.revisionNumber}" />
		<div class="EmptyBox5" />
		<p:outputLabel value="Status: #{enquiryUI.contract.contractStatus.friendlyName}" />
	</div>
	<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
		<p:selectOneRadio id="contractTypeSltOne" value="#{enquiryUI.contract.contractType}" styleClass="FontLight" required="true" requiredMessage="Provide contract type">
			<p:ajax />
			<f:selectItems value="#{enumUI.contractTypeDD}" />
		</p:selectOneRadio>
		<div class="EmptyBox5" />
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="enqTitle" style="width: 90%" value="#{enquiryUI.contract.title}" required="true" requiredMessage="Provide title" />
			<p:outputLabel value="#{lang['title.of.enquiry']}:" for="enqTitle" />
		</h:panelGroup>
		<h:panelGroup styleClass="md-inputfield">
			<p:inputTextarea style="width: 90%" value="#{enquiryUI.contract.details}" id="enqDetail" required="true" requiredMessage="Provide details">
				<p:ajax />
			</p:inputTextarea>
			<p:outputLabel styleClass="Fleft" value="#{lang['enqDetails']}:" for="enqDetail" />
		</h:panelGroup>
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="quantity" style="width: 90%" value="#{enquiryUI.contract.quantity}" required="true" requiredMessage="Provide quantity" />
			<p:outputLabel value="Quantity" for="quantity" />
		</h:panelGroup>
	</p:panelGrid>
	<div class="EmptyBox10" />
	<p:panelGrid columns="4" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="orderNumber" style="width: 90%" value="#{enquiryUI.contract.orderNumber}" />
			<p:outputLabel value="Order Number" for="orderNumber" />
		</h:panelGroup>
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="stockNumber" style="width: 90%" value="#{enquiryUI.contract.stockNumber}" />
			<p:outputLabel value="Stock Number" for="stockNumber" />
		</h:panelGroup>
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="itemNumber" style="width: 90%" value="#{enquiryUI.contract.itemNumber}" />
			<p:outputLabel value="Item Number" for="itemNumber" />
		</h:panelGroup>
		<h:panelGroup styleClass="md-inputfield">
			<p:inputText id="drawNumber" style="width: 90%" value="#{enquiryUI.contract.drawingNumber}" />
			<p:outputLabel value="Drawing Number" for="drawNumber" />
		</h:panelGroup>
	</p:panelGrid>
	<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
		<p:selectBooleanCheckbox value="#{enquiryUI.contract.testPressureCertificateB}" style="width: 100%" itemLabel="#{lang['test.certifaction']}" />
	
		<h:form id="formId">
			<p:growl sticky="false" ><p:autoUpdate/></p:growl>
			
			<p:selectBooleanCheckbox  update="@form" value="#{enquiryUI.contract.conformityCertificateB}" style="width: 100%" itemLabel="#{lang['certificate.of.conformity']}">
				  <p:ajax event="change" update="formatsSelectPG" />
			</p:selectBooleanCheckbox>			
			
			<div class="EmptyBox10" />
			
			 <h:panelGroup id="formatsSelectPG">
				 <p:fieldset  id="fieldsetId" rendered="#{enquiryUI.contract.conformityCertificateB}">
				 	<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
			            <h:panelGroup styleClass="md-inputfield">
			            	<p:inputText id="field2" style="width: 100%"  value="#{enquiryUI.contract.chiefInspectorComment}" />
			           		<p:outputLabel value="Chief inspection comment" for="field2" />
			           	</h:panelGroup>
			           
			           	<h:panelGroup styleClass="md-inputfield">
			            	<p:inputText id="field3" style="width: 100%"  value="#{enquiryUI.contract.deviationsComment}" />
			           		<p:outputLabel value="Deviation comment" for="field3" />
			           	</h:panelGroup>
			           
			           	<h:panelGroup styleClass="md-inputfield">
			            	<p:inputText id="field4" style="width: 100%"  value="#{enquiryUI.contract.yourComment}" />
		        			<p:outputLabel value="Your comment" for="field4" />
		        		</h:panelGroup>
		        	</p:panelGrid>
		        </p:fieldset>
	        </h:panelGroup>
		</h:form>
		
		<p:selectBooleanCheckbox value="#{enquiryUI.contract.dimensionalReportB}" style="width: 100%" itemLabel="#{lang['dimensional.report']}" />
		<p:selectBooleanCheckbox value="#{enquiryUI.contract.materialCertificateB}" style="width: 100%" itemLabel="material Certificate" />
	</p:panelGrid>
	<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
		<h:panelGroup styleClass="md-inputfield">
			<p:autoComplete id="contractAutoComplete" value="#{enquiryUI.contract.previousContract}" completeMethod="#{enquiryUI.completeContract}" var="contractAuto" itemLabel="#{contractAuto.enquiryNumber}" itemValue="#{contractAuto}" converter="ContractConvertor" dropdown="true" minQueryLength="1"
				maxResults="10">
				<p:ajax event="itemSelect" />
				<p:ajax event="change" />
				<p:column headerText="enquiry number" style="white-space: nowrap">
					<p:outputLabel value="#{contractAuto.enquiryNumber}" escape="false" />
				</p:column>
				<p:column headerText="details" style="white-space: nowrap">
					<p:outputLabel value="#{contractAuto.details}" escape="false" />
				</p:column>
			</p:autoComplete>
			<p:outputLabel value="Previous Contract" for="contractAutoComplete" />
		</h:panelGroup>
	</p:panelGrid>
	<div class="EmptyBox10" />
	<p:commandButton value="#{lang['upload.docs']}" icon="fa fa-cloud-upload" action="#{enquiryUI.uploadDocButSaveFirst}" oncomplete="PF('sessionUploadDlg').show()" update=":sessionUploadForm" rendered="#{enquiryUI.contract.id ne null}">
		<f:setPropertyActionListener value="#{enquiryUI.contract}" target="#{sessionUI.contract}" />
	</p:commandButton>
	<p:spacer rendered="#{enquiryUI.contract.id ne null}" width="5" />
	<p:commandButton value="#{lang['save']}" action="#{enquiryUI.contractSave}" rendered="#{enquiryUI.contract.contractStatus eq contractStatusEnum.NewEnquiry}" update=":enquiryInputForm :enquiryForm " icon="fa fa-save" />
	<p:spacer width="5" />
	<p:commandButton value="#{lang['submit']}" icon="fa fa-mail-forward" update="customerDetailsForm @form" action="#{enquiryUI.contractSubmit}" rendered="#{enquiryUI.contract.id ne null and enquiryUI.contract.contractStatus eq contractStatusEnum.NewEnquiry}" />
	<p:spacer width="5" />
	<p:commandButton value="#{lang['clear']}" icon="fa fa-times-rectangle-o" ajax="false" action="#{enquiryUI.prepNewContract}">
		<p:resetInput target="@form" />
	</p:commandButton>
</ui:composition>