<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
	 <h:form id="enquiryDetailsForm">
		<p:outputPanel styleClass=" ui-g">
			<c:if test="#{toggleUI.hideEnquiryDetails eq false}">
			
				<p:growl sticky="false" ><p:autoUpdate/></p:growl>
				
				<p:panelGrid columns="4" style="width:90%" id="collectDeliverPnlGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
				<p:outputLabel value="#{lang['enqNumber']}:" for="enqNumber" />
					<p:outputLabel id="enqNumber" value="#{sessionUI.contract.enquiryNumber}" />
					<p:outputLabel value="#{lang['enquiry.type']}:" for="enqRepair" />
					<p:outputLabel id="enqRepair" value="#{sessionUI.contract.contractType}" />
					<p:outputLabel value="#{lang['title.of.enquiry']}:" for="titleOfEnq" />
					<p:outputLabel id="titleOfEnq" value="#{sessionUI.contract.title}" />
					<p:outputLabel value="#{lang['date']}:" for="enqDate" />
					<p:outputLabel id="enqDate" value="#{sessionUI.contract.createDate}">
						<f:convertDateTime pattern="dd MMM yyyy (HH:mm)" />
					</p:outputLabel>
					<p:outputLabel value="#{lang['drawing.number']}:" for="drawNum" />
					<p:outputLabel id="drawNum" value="#{sessionUI.contract.drawingNumber}" />
				</p:panelGrid>
			
				<p:panelGrid columns="4" style="width:90%" styleClass="ui-panelgrid-blank form-group">
					<p:outputLabel value="#{lang['enqDetails']}:" for="enqDetails" />
					<p:outputLabel id="enqDetails" value="#{sessionUI.contract.details}" />
					
					<p:outputLabel value="" for="enqDetails" />
					<p:outputLabel id="enqDetai" value="" />
					
				</p:panelGrid>
				<div class="EmptyBox5" />
				<p:commandButton id="uplDocBtn" value="Upload Document" action="#{uploadDocUI.runInit}" icon="fa fa-cloud-upload" oncomplete="PF('sessionUploadDlg').show()" update=":sessionUploadForm" />
				<p:tooltip for="uplDocBtn" value="#{lang['upload.view.documents']}" position="" />
			</c:if>
		</p:outputPanel>
	</h:form>   
</ui:composition>
