<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">



	<p:outputPanel styleClass="card ui-g">
		<div class="ui-g-12">
			<h1 class="BigTopic TexAlCenter">
				#{lang['quote.accepted']}
				<!-- <p:inputSwitch style="float:right;" offLabel="Hide" value="#{toggleUI.hideAcceptedQuote}" onLabel="Show" showLabels="true">
					<p:ajax update="@form" />
				</p:inputSwitch> -->
			</h1>
		</div>
		<c:if test="#{toggleUI.hideAcceptedQuote eq false}">
			<div class="ui-g-12">
				<h2>#{lang['checklist']}</h2>
			</div>

			<div class="ui-g-8">
				<p:selectManyCheckbox layout="responsive" columns="2">
					<f:selectItem itemLabel="#{lang['resources']}" itemValue="resources" />
				</p:selectManyCheckbox>
			</div>
			<div class="ui-g-4">
				<p:commandButton id="resourceUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>

			<div class="ui-g-8">
				<p:selectManyCheckbox layout="responsive" columns="2">
					<f:selectItem itemLabel="#{lang['materials']}" itemValue="materials" />
				</p:selectManyCheckbox>
			</div>
			<div class="ui-g-4">
				<p:commandButton id="materialUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>

			<div class="ui-g-8">
				<p:selectManyCheckbox layout="responsive" columns="2">
					<f:selectItem itemLabel="#{lang['drawings']}" itemValue="drawings" />
				</p:selectManyCheckbox>
			</div>
			<div class="ui-g-4">
				<p:commandButton id="drawingsUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>

			<div class="ui-g-8">
				<p:selectManyCheckbox layout="responsive" columns="2">
					<f:selectItem itemLabel="#{lang['product.requirements']}" itemValue="product" />
				</p:selectManyCheckbox>
			</div>
			<div class="ui-g-4">
				<p:commandButton id="requirementsUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>

			<div class="ui-g-8">
				<p:selectManyCheckbox layout="responsive" columns="2">
					<f:selectItem itemLabel="#{lang['additional.information.about.the.product']}" itemValue="product" />
				</p:selectManyCheckbox>
			</div>
			<div class="ui-g-4">
				<p:commandButton id="productUplDocBtn" title="#{lang['upload.document']}" icon="fa fa-cloud-upload" oncomplete="PF('uploadDialogDocument').show()" action="#{enquiry1UI.prepDocUpload}">
					<f:setPropertyActionListener value="#{rowVar}" target="#{enquiry1UI.contract}" />
				</p:commandButton>
			</div>
			<p:tooltip for="resourceUplDocBtn" position="" value="#{lang['update.resources.documents']}" />

			<div class="ui-g-12">
				<br /> <br />
				<p:commandButton id="sendToManagement" value="#{lang['send.to.management']}" icon="fa fa-mail-forward" actionListener="#{contractInputUI.sendForReview}" />
			</div>
		</c:if>
	</p:outputPanel>


</ui:composition>