<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">
	<p:dialog widgetVar="rejectQuoteDlg" closeOnEscape="true" resizable="false" hideEffect="clip" showEffect="clip" id="rejectQuoteDlg" position="top" modal="true" width="35%">
		<h:form id="rejectionReasonForm">
			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-12">
					<h2 class="BigTopic TexAlCenter">
						#{lang['reason.for.rejection']}
						<!-- <p:inputSwitch style="float:right;" offLabel="Hide" value="#{toggleUI.hideRejectionReason}" onLabel="Show" showLabels="true">
					<p:ajax update="@form" />
				</p:inputSwitch> -->
					</h2>
				</div>
				<p:outputPanel styleClass=" ui-g-12 ">
					<div class="ui-g-12">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width: 100%" id="rejectReason" required="true" requiredMessage="#{lang['please.enter.reason.for.rejection']}">
								<p:ajax />
							</p:inputTextarea>
							<p:outputLabel styleClass="Fleft" value="#{lang['please.enter.reason.for.rejection']}:" for="rejectReason" />
						</h:panelGroup>
					</div>
					<div class="ui-g-12">
						<br />
						<p:commandButton value="#{lang['reject.quote']}" icon="fa fa-times" update="@parent" />
						<p:spacer width="5" />
						<p:commandButton value="#{lang['close.quote']}" icon="fa fa-ban" update="@parent" />
					</div>
				</p:outputPanel>
			</p:outputPanel>
		</h:form>
	</p:dialog>
</ui:composition>