<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


	<h:form id="cssForm">
		<style>
#{
resourceAllocationUI


.css


}
</style>

	</h:form>



	<div class="ui-g">
		<p:outputPanel styleClass="card card-w-title ui-g-12">
			<h1>#{lang['allocated.resource']}</h1>
			<h:form>

				<p:growl id="messages" />
				<p:schedule aspectRatio="2.1" id="schedule" value="#{resourceAllocationUI.eventModel}" styleClass="custom" columnFormat="month:'ddd', week:'ddd: DD/MM', day:'dddd'" widgetVar="resourceSchedule" timeZone="#{resourceAllocationUI.timeZoneString}" resizable="true"
					initialDate="#{resourceAllocationUI.initialDate}" tooltip="true">
				</p:schedule>
				<p:poll interval="1" update=":cssForm @form" autoStart="true" stop="#{resourceAllocationUI.poll}" />
			</h:form>
		</p:outputPanel>
	</div>



</ui:composition>