<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui">

	<p:dialog closeOnEscape="true" responsive="true" header="#{lang['upload']}"  width="75%"   widgetVar="sessionUploadDlg" draggable="false" resizable="false"  hideEffect="clip" showEffect="clip" id="sessionUploadDlg" position="center"  minWidth="500" appendTo="@(body)" modal="true">
		<p:scrollPanel  mode="native" style="width:auto;height:600px;border:0px">
		<h:form id="sessionUploadForm" >
		 		<o:importConstants type="haj.com.entity.enums.ContractTypeEnum" var="contracttype1" />
			<p:panelGrid  columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group" >
				<div class="EmptyBox5" />
					<h:panelGroup styleClass="md-inputfield">
						<p:autoComplete id="configdocAuto" var="config" converter="ConfigDocConvertor" value="#{uploadDocUI.configDoc}" completeMethod="#{uploadDocUI.completeConfigDoc}" itemLabel="#{config.name}" itemValue="#{config}" forceSelection="true" dropdown="true">
							<p:ajax event="itemSelect" update="@form" />
							<p:ajax event="change" update="@form" />
							<p:column>
								<p:outputLabel value="#{config.name}" />
							</p:column>
						</p:autoComplete>
						<p:outputLabel value="#{lang['document.upload.type']}" for="configdocAuto" />
					</h:panelGroup>
					
					
					<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid2" layout="grid" styleClass="card ui-panelgrid-blank form-group">
						<h:panelGroup styleClass="md-inputfield">
							<p:inputTextarea style="width:98%" value="#{uploadDocUI.doc.documentContent}">
								<p:ajax process="@this"></p:ajax>
							</p:inputTextarea>
							<p:outputLabel value="Description for Upload" for="uploadPnlGrid2" />
						</h:panelGroup>
					</p:panelGrid>
					<p:panelGrid rendered="#{uploadDocUI.configDoc.abreviation eq 'poc'}" columns="2" style="width:100%" id="uploadPnlGrid1" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:inputText placeholder="#{lang['provide.order.number']}" value="#{uploadDocUI.doc.purchaseOrderNumber}">
							<p:ajax process="@this" />
						</p:inputText>
						<div class="EmptyBox5" />
						<p:selectOneMenu value="#{uploadDocUI.doc.purchaseOrderEnum}">
							<p:ajax process="@this" />
							<f:selectItem noSelectionOption="true" itemLabel="---#{lang['select.status']} ---" />
							<f:selectItems value="#{uploadDocUI.purchaseOrderEnumList}" />
						</p:selectOneMenu>
					</p:panelGrid>
					
				
					<h:panelGroup styleClass="md-inputfield">
						<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />Select a Document Type to Upload</span>
					</h:panelGroup>
					<p:fileUpload style="width:98%" fileUploadListener="#{uploadDocUI.saveFile}" rendered="#{uploadDocUI.configDoc.id ne null}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false"
						fileLimit="1" immediate="false" auto="true" update="@form" />
				
				<div class="EmptyBox5" />
			</p:panelGrid>
			<div class="EmptyBox10" />
			<h2>#{lang['documents']} for #{sessionUI.contract.enquiryNumber eq null ?'[Not Saved]' :(sessionUI.contract.contractType eq contracttype1.Order ?sessionUI.contract.contractNumber :sessionUI.contract.enquiryNumber)}</h2>
			<p:dataTable var="rVar" value="#{uploadDocUI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,25" reflow="true" lazy="false">

				<p:column headerText="#{lang['original.file.name']}">
					<h:outputText value="#{rVar.originalFname}" />
				</p:column>

				<p:column headerText="#{lang['date.uploaded']}">
					<h:outputText value="#{rVar.addDate}">
						<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
					</h:outputText>
				</p:column>

				<p:column headerText="#{lang['owner']}">
					<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
				</p:column>

				<p:column headerText="#{lang['document.type']}">
					<h:outputText value="#{rVar.configDoc.name}" />
				</p:column>
				<p:column headerText="Order Number/Status">
					<h:outputText rendered="#{rVar.configDoc.abreviation eq 'poc'}" value="#{rVar.purchaseOrderNumber} - #{rVar.purchaseOrderEnum.friendlyName}" />
					<h:outputText rendered="#{rVar.configDoc.abreviation ne 'poc'}" value="N/A" />
				</p:column>
				<p:column headerText="#{lang['document.content']}">
					<h:outputText value="#{rVar.documentContent}" />
				</p:column>
				<p:column width="9%">
					<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
						<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
					</p:commandButton>
					<p:spacer width="5" />
					<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{uploadDocUI.showHistory}" update=":documenttrackeForm">
						<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
					</p:commandButton>
					<p:tooltip for="download" position="" value="#{lang['download.document']}" />
					<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
				</p:column>
			</p:dataTable>
			<br />
			<p:commandButton value="#{lang['close']}" icon="fa fa-times" oncomplete="PF('sessionUploadDlg').hide()" />
		</h:form>
		</p:scrollPanel>
	</p:dialog>

	<p:dialog responsive="true" draggable="false" header="#{lang['document.tracker']}" position="center" widgetVar="histDialog" resizable="false" hideEffect="clip" showEffect="clip" id="dialog" modal="true" width="40%">
		<p:scrollPanel  mode="native" style="width:auto;height:600px;border:0px">
		<h:form id="documenttrackeForm">
			<p:dataTable value="#{uploadDocUI.documentTrackers}" var="rv" id="documenttrackeList" paginator="true" rows="6" paginatorPosition="bottom" paginatorTemplate=" {CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15,20,25" reflow="true">
				<p:column id="columnEight" headerText="#{lang['date.time']}" sortBy="#{rv.date}">
					<h:outputText value="#{rv.date}">
						<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
					</h:outputText>
				</p:column>
				<p:column headerText="#{lang['user']}">
					<p:outputLabel value="#{rv.user.firstName} #{rv.user.lastName}" />
				</p:column>
				<p:column headerText="#{lang['action']}">
					<p:outputLabel value="#{rv.documentTrackerEnum.friendlyName}" />
				</p:column>
			</p:dataTable>
			<div class="EmptyBox10" />
		</h:form>
		</p:scrollPanel>
	</p:dialog>


</ui:composition>