<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<ui:define name="content">
		<o:importConstants type="haj.com.entity.enums.ContractStatusEnum" var="contractStatusEnum" />

		<div class="ui-g card">
			<div class="ui-g-12">
				<h:form id="enquiryInputForm">
					<p:growl id="enquiryInputFormGrwl" sticky="false" ><p:autoUpdate/></p:growl>
					<h1>Enquiry Capture Form</h1>
					<div class="ui-g-12">
						<div class="Fs15">
							<p:outputLabel value="#{enqcapUI.contract.enquiryNumber eq null ?'[Not Saved]' :enqcapUI.contract.enquiryNumber}" />
							<p:spacer width="10" />
							<p:outputLabel style="font-weight:bold !important;" value="Rev No. #{enqcapUI.contract.revisionNumber}" />
							<div class="EmptyBox5" />
							<p:outputLabel value="Status: #{enqcapUI.contract.contractStatus.friendlyName}" />
						</div>
						<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:selectOneRadio id="contractTypeSltOne" value="#{enqcapUI.contract.contractType}" styleClass="FontLight" required="true" requiredMessage="Provide contract type">
								<f:selectItems value="#{enumUI.contractTypeDD}" />
							</p:selectOneRadio>
							<div class="EmptyBox5" />
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="enqTitle" style="width: 90%" value="#{enqcapUI.contract.title}" required="true" requiredMessage="Provide title" />
								<p:outputLabel value="#{lang['title.of.enquiry']}:" for="enqTitle" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea style="width: 90%" value="#{enqcapUI.contract.details}" id="enqDetail" required="true" requiredMessage="Provide details">
									<p:ajax />
								</p:inputTextarea>
								<p:outputLabel styleClass="Fleft" value="#{lang['enqDetails']}:" for="enqDetail" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="quantity" style="width: 90%" value="#{enqcapUI.contract.quantity}" required="true" requiredMessage="Provide quantity" />
								<p:outputLabel value="Quantity" for="quantity" />
							</h:panelGroup>
						</p:panelGrid>
						<div class="EmptyBox10" />
						<p:panelGrid columns="4" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="orderNumber" style="width: 90%" value="#{enqcapUI.contract.orderNumber}" />
								<p:outputLabel value="Order Number" for="orderNumber" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="stockNumber" style="width: 90%" value="#{enqcapUI.contract.stockNumber}" />
								<p:outputLabel value="Stock Number" for="stockNumber" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="itemNumber" style="width: 90%" value="#{enqcapUI.contract.itemNumber}" />
								<p:outputLabel value="Item Number" for="itemNumber" />
							</h:panelGroup>
							<h:panelGroup styleClass="md-inputfield">
								<p:inputText id="drawNumber" style="width: 90%" value="#{enqcapUI.contract.drawingNumber}" />
								<p:outputLabel value="Drawing Number" for="drawNumber" />
							</h:panelGroup>
						</p:panelGrid>
						<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:selectBooleanCheckbox value="#{enqcapUI.contract.testCertificateB}" style="width: 100%" itemLabel="#{lang['test.certifaction']}" />
							<p:selectBooleanCheckbox value="#{enqcapUI.contract.conformityCertificateB}" style="width: 100%" itemLabel="#{lang['certificate.of.conformity']}" />
							<p:selectBooleanCheckbox value="#{enqcapUI.contract.dimensionalReportB}" style="width: 100%" itemLabel="#{lang['dimensional.report']}" />
							<p:selectBooleanCheckbox value="#{enqcapUI.contract.otherB}" style="width: 100%" itemLabel="Other Boolean" />
						</p:panelGrid>
						<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:autoComplete id="contractAutoComplete" value="#{enqcapUI.contract.previousContract}" completeMethod="#{enqcapUI.completeContract}" var="contractAuto" itemLabel="#{contractAuto.enquiryNumber}" itemValue="#{contractAuto}" converter="ContractConvertor" dropdown="true" minQueryLength="1"
									maxResults="10">
									<p:ajax event="itemSelect" />
									<p:ajax event="change" />
									<p:column headerText="#{lang['resource']}" style="white-space: nowrap">
										<p:outputLabel value="#{contractAuto.details}" escape="false" />
									</p:column>
								</p:autoComplete>
								<p:outputLabel value="Previous Contract" for="contractAutoComplete" />
							</h:panelGroup>
						</p:panelGrid>
						<div class="EmptyBox10" />
						<p:commandButton value="Save" icon="fa fa-save" action="#{enqcapUI.saveContract}" update="@form" />
						<p:spacer width="5" />
						<p:commandButton value="Send Task/Email" icon="fa fa-envelope-o" action="#{enqcapUI.saveContract}" update="@form" />
						<p:spacer width="5" />
						<p:commandButton value="Upload Doc" icon="fa fa-cloud-upload" action="#{enqcapUI.saveContract}" update="@form" />
					</div>
				</h:form>
			</div>
		</div>


		<p:dialog styleClass="fullScreen" header="#{lang['upload']}" widgetVar="sessionUploadDlg" draggable="false" resizable="false" hideEffect="clip" showEffect="clip" id="sessionUploadDlg" position="top" modal="true" minWidth="500" width="60vw" closeOnEscape="true">
			<h:form id="sessionUploadForm">
				<p:panelGrid columns="2" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
					<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<h:panelGroup styleClass="md-inputfield">
							<p:autoComplete id="configdocAuto" var="config" converter="ConfigDocConvertor" value="#{uploadDocUI.configDoc}" completeMethod="#{uploadDocUI.completeConfigDoc}" itemLabel="#{config.name}" itemValue="#{config}" forceSelection="true" dropdown="true">
								<p:ajax event="itemSelect" update="@form" />
								<p:ajax event="change" update="@form" />
								<p:column>
									<p:outputLabel value="#{config.name}" />
								</p:column>
							</p:autoComplete>
							<p:outputLabel value="#{lang['document.upload.type']}" for="configdocAuto" />
						</h:panelGroup>
						<h:panelGroup styleClass="md-inputfield">
							<span class="gray Fs13 Fleft"><i class="fa fa-info-circle"></i> <p:spacer width="5px" />Select a Document Type to Upload</span>
						</h:panelGroup>
						<p:fileUpload style="width:98%" fileUploadListener="#{uploadDocUI.saveFile}" rendered="#{uploadDocUI.configDoc.id ne null}" mode="advanced" dragDropSupport="true" showButtons="false" label="#{lang['select.file']}" fileLimitMessage="#{lang['file.to.big.to.upload']}" multiple="false"
							fileLimit="1" immediate="false" auto="true" update="@form" />
					</p:panelGrid>
					<p:panelGrid columns="1" style="width:100%" layout="grid" styleClass="ui-panelgrid-blank form-group">
						<p:panelGrid columns="1" style="width:100%" id="uploadPnlGrid2" layout="grid" styleClass="card ui-panelgrid-blank form-group">
							<h:panelGroup styleClass="md-inputfield">
								<p:inputTextarea style="width:98%" value="#{uploadDocUI.doc.documentContent}">
									<p:ajax process="@this"></p:ajax>
								</p:inputTextarea>
								<p:outputLabel value="Description for Upload" for="uploadPnlGrid2" />
							</h:panelGroup>
						</p:panelGrid>
						<p:panelGrid rendered="#{uploadDocUI.configDoc.abreviation eq 'poc'}" columns="2" style="width:100%" id="uploadPnlGrid1" layout="grid" styleClass="ui-panelgrid-blank form-group">
							<p:inputText placeholder="#{lang['provide.order.number']}" value="#{uploadDocUI.doc.purchaseOrderNumber}">
								<p:ajax process="@this" />
							</p:inputText>
							<div class="EmptyBox5" />
							<p:selectOneMenu value="#{uploadDocUI.doc.purchaseOrderEnum}">
								<p:ajax process="@this" />
								<f:selectItem noSelectionOption="true" itemLabel="---#{lang['select.status']} ---" />
								<f:selectItems value="#{uploadDocUI.purchaseOrderEnumList}" />
							</p:selectOneMenu>
						</p:panelGrid>
					</p:panelGrid>
					<div class="EmptyBox5" />
				</p:panelGrid>
				<div class="EmptyBox10" />
				<h2>#{lang['documents']} for #{sessionUI.contract.enquiryNumber eq null ?'[Not Saved]' :(sessionUI.contract.contractType eq contracttype.Order ?sessionUI.contract.contractNumber :sessionUI.contract.enquiryNumber)}
</h2>
				<p:dataTable var="rVar" value="#{uploadDocUI.docList}" id="uploadDocsList" rowKey="#{rVar.id}" paginator="true" rows="5" paginatorPosition="bottom" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
					rowsPerPageTemplate="5,10,25" reflow="true" lazy="false">
					<p:column headerText="#{lang['original.file.name']}">
						<h:outputText value="#{rVar.originalFname}" />
					</p:column>
					<p:column headerText="#{lang['date.uploaded']}">
						<h:outputText value="#{rVar.addDate}">
							<f:convertDateTime pattern="dd MMMM yyyy (HH:mm:ss)" />
						</h:outputText>
					</p:column>
					<p:column headerText="#{lang['owner']}">
						<h:outputText value="#{rVar.user.firstName} #{rVar.user.lastName}" />
					</p:column>
					<p:column headerText="#{lang['document.type']}">
						<h:outputText value="#{rVar.configDoc.name}" />
					</p:column>
					<p:column headerText="Order Number/Status">
						<h:outputText rendered="#{rVar.configDoc.abreviation eq 'poc'}" value="#{rVar.purchaseOrderNumber} - #{rVar.purchaseOrderEnum.friendlyName}" />
						<h:outputText rendered="#{rVar.configDoc.abreviation ne 'poc'}" value="N/A" />
					</p:column>
					<p:column headerText="#{lang['document.content']}">
						<h:outputText value="#{rVar.documentContent}" />
					</p:column>
					<p:column width="9%">
						<p:commandButton icon="ui-icon-cloud-download" title="#{lang['download']}" action="#{uploadDocUI.download}" id="download" ajax="false">
							<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:spacer width="5" />
						<p:commandButton icon="fa fa-bars " id="dhist" oncomplete="PF('histDialog').show()" action="#{uploadDocUI.showHistory}" update=":documenttrackeForm">
							<f:setPropertyActionListener value="#{rVar}" target="#{uploadDocUI.doc}" />
						</p:commandButton>
						<p:tooltip for="download" position="" value="#{lang['download.document']}" />
						<p:tooltip for="dhist" position="" value="#{lang['view.document.tracker']}" />
					</p:column>
				</p:dataTable>
				<br />
				<p:commandButton value="#{lang['close']}" icon="fa fa-times" oncomplete="PF('sessionUploadDlg').hide()" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>