<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">


	<p:outputPanel id="irContractsPnl" styleClass="ui-g card" rendered="#{routeCardTableUI.contract.id eq null}">
		<h2>#{lang['Contracts/Enquiries.for']} #{routeCardTableUI.customer.customerName}</h2>
		<div class="EmptyBox5" />
		<p:commandButton value="#{lang['create.an.enquiry']}" action="#{routeCardTableUI.enquiryDirect}" />
		<div class="EmptyBox10" />
		<p:dataTable id="contractTable" var="contract" value="#{routeCardTableUI.contractList}">
			<p:column headerText="#{lang['enquiry.number']}">
				<h:outputText value="#{contract.enquiryNumber}" />
			</p:column>
			<p:column headerText="#{lang['enquiry.title']}">
				<h:outputText value="#{contract.enquiryTitle}" />
			</p:column>
			<p:column headerText="#{lang['enquiry.detail']}">
				<h:outputText value="#{contract.details}" />
			</p:column>
			<p:column width="8%">
				<p:commandButton id="createSIBtn" icon="fa fa-plus" ajax="false" action="#{routeCardTableUI.goToNewInspectionReport}">
					<f:setPropertyActionListener value="#{contract}" target="#{routeCardTableUI.contract}" />
				</p:commandButton>
				<p:commandButton id="zoomSIBtn" icon="fa fa-arrow-right" process="@this" action="#{routeCardTableUI.onContractSelect}" update="@form">
					<f:setPropertyActionListener value="#{contract}" target="#{routeCardTableUI.contract}" />
				</p:commandButton>
				<p:tooltip for="createSIBtn" value="#{lang['create.route.card.for.Contract/Enquiry']}" position="left" />
				<p:tooltip for="zoomSIBtn" value="#{lang['view.route.card.for.Contract/Enquiry']}" position="left" />
			</p:column>
		</p:dataTable>
	</p:outputPanel>

	<p:outputPanel id="irPnl" styleClass="ui-g card" rendered="#{routeCardTableUI.contract.id ne null}">
		<h2>#{lang['route.card.for']} #{routeCardTableUI.customer.customerName} #{lang['contract']} #{routeCardTableUI.contract.enquiryNumber}</h2>
		<div class="ui-g-12">
			<p:commandButton value="#{lang['go.to.contracts']}" process="@this" action="#{routeCardTableUI.onReturnToContract}" update="@form" />
		</div>
		<div class="EmptyBox5" />
		<p:dataTable id="quoteTable" var="ir" value="#{routeCardTableUI.routeCardList}">
			<p:column headerText="#{lang['enqNumber']}" groupRow="true">
				<h:outputText value="#{ir.contract.enquiryNumber}" />
			</p:column>
			<p:column headerText="#{lang['id']}">
				<h:outputText value="#{ir.id}" />
			</p:column>
			<p:column>
				<p:commandButton id="zoomToBtn" icon="fa fa-arrow-right" process="@this" ajax="false" action="#{routeCardTableUI.goToInspectionReport}">
					<f:setPropertyActionListener value="#{ir}" target="#{routeCardTableUI.routeCard}" />
				</p:commandButton>
				<p:spacer width="5" />
				<p:commandButton id="deleteSIBtn" icon="fa fa-trash" process="@this" oncomplete="PF('deleteInspectionReport').show()">
					<f:setPropertyActionListener value="#{ir}" target="#{routeCardTableUI.routeCard}" />
				</p:commandButton>
				<p:tooltip for="deleteSIBtn" value="#{lang['delete.route.card.from.Contract/Enquiry']}" position="left" />
				<p:tooltip for="zoomToBtn" value="#{lang['view.route.card.for.Contract/Enquiry']}" position="left" />
			</p:column>
		</p:dataTable>
		<p:confirmDialog widgetVar="deleteInspectionReport" header="#{lang['delete.route.card']}?" message="#{lang['are.you.sure?']}" showEffect="fade" hideEffect="fade">
			<p:commandButton value="#{lang['yes']}" action="#{routeCardTableUI.deleteInspectionReport}" update="@form" icon="ui-icon-check" />
			<p:commandButton value="#{lang['no']}" icon="ui-icon-close" />
		</p:confirmDialog>
	</p:outputPanel>
</ui:composition>
