$primaryColor: #C3181C;
$primaryDarkColor: #A0060A;
$primaryLightColor: #F9686C;
$accentColor: #EDB800;
$accentDarkColor: #D4C222;
$accentLightColor: #EBDB4D;
$accentTextColor: #212121;

@import '../sass/theme/_theme';