<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form>
			<p:poll interval="1" listener="#{blankUI.incrVar}" update="@form" />

			<p:outputPanel styleClass="ui-g">
				<div class="ui-g-#{blankUI.someInt-1}" />
				<div class="ui-g-#{blankUI.someInt}">
					<c:if test="#{blankUI.someInt % 2 eq 0}">
						<i class="fa fa-wheelchair fa-4x"></i>
					</c:if>
					<c:if test="#{blankUI.someInt % 2 ne 0}">
						<i class="fa fa-wheelchair-alt fa-4x"></i>
					</c:if>
				</div>
			</p:outputPanel>
		</h:form>
	</ui:define>

</ui:composition>