<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" template="/WEB-INF/template.xhtml">

	<ui:define name="content">
		<h:form id="DetailsForm">
			<p:outputPanel id="iconRaiserPnl" styleClass="ui-g dashboard">
				<div class="ui-g-12 ui-md-6 ui-lg-4">
					<a onmouseup="PF('customerDetailDlg').show()">
						<div class="ui-g card colorbox colorbox-4">
							<div class="ui-g-4">
								<i class="material-icons">perm_identity</i>
							</div>
							<div class="ui-g-8">
								<span class="colorbox-name" style="font-weight: bold !important;">Customer Details <br /> <br /> <p:outputLabel value="#{sessionUI.customer.customerName}" />
								</span> <span class="colorbox-count"></span>
							</div>
						</div>
					</a>
				</div>
				<div class="ui-g-12 ui-md-6 ui-lg-4">
					<a onmouseup="PF('enquiryDetailDlg').show()">
						<div class="ui-g card colorbox colorbox-2">
							<div class="ui-g-4">
								<i class="material-icons">library_books</i>
							</div>
							<div class="ui-g-8">
								<span class="colorbox-name" style="font-weight: bold !important;">Contract Details <br /> <br /> <p:outputLabel rendered="#{sessionUI.contract.contractNumber eq null}" value="#{sessionUI.contract.enquiryNumber}" />
								</span> <span class="colorbox-count"></span>
							</div>
						</div>
					</a>
				</div>
			</p:outputPanel>
		</h:form>
		<p:dialog id="enquiryDetailDlg" widgetVar="enquiryDetailDlg" modal="true" draggable="false" resizable="false">
			<ui:include src="/pages/includes/enquiryDetails.xhtml" />
		</p:dialog>
		<p:dialog id="customerDetailDlg" widgetVar="customerDetailDlg" modal="true" draggable="false" resizable="false">
			<h:form id="customerDetailsForm">
				<ui:include src="/pages/includes/customerDetails.xhtml" />
			</h:form>
		</p:dialog>
	</ui:define>

</ui:composition>