<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="shortcut icon" href="#{request.contextPath}/resources/hls/images/favicon.ico" />
	<title>AM Hydraulics</title>
	<h:outputScript name="js/ripple.js" library="ultima-layout" />
	<h:outputScript name="js/layout.js" library="ultima-layout" />



</h:head>

<h:body styleClass="login-body">
	<h:form>
		<p:growl id="growl" showDetail="false" sticky="true"  ><p:autoUpdate/></p:growl>


		<div class="card login-panel ui-fluid">
			<div class="ui-g">
				<div class="ui-g-12">
					<p:graphicImage name="images/logo.png" library="hls" style="max-width: 380px;" />
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:inputText value="#{logonUI.email}" />
						<label>#{lang['email']}</label>
					</h:panelGroup>
				</div>
				<div class="ui-g-12">
					<h:panelGroup styleClass="md-inputfield">
						<p:password value="#{logonUI.inputPassword}" feedback="false" />
						<label>#{lang['password']}</label>
					</h:panelGroup>
				</div>
				<div class="ui-g-12">
					<p:commandButton value="#{lang['Login']}" icon="ui-icon-person" action="#{logonUI.logon}" update="@form" />
					<p:commandButton value="#{lang['forgot.password']}" icon="ui-icon-help" onclick="PF('dlgPwd').show()" update=":usersPwdForm:usersPwdGrid" styleClass="secondary" />
				</div>
			</div>
		</div>
	</h:form>

	<p:ajaxStatus style="position:fixed;right:40px;bottom:7px">
		<f:facet name="start">
			<p:graphicImage name="images/477.gif" library="hls" />
		</f:facet>

		<f:facet name="complete">
			<h:outputText value="" />
		</f:facet>
	</p:ajaxStatus>


	<p:dialog header="#{lang['reset.your.password']}" widgetVar="dlgPwd" resizable="false" hideEffect="clip" showEffect="clip" id="dialogPWD" appendTo="@(body)" modal="true" width="50%">
		<h:form id="usersPwdForm">
			<p:outputPanel id="usersPwdGrid" style="width: 100%">

				<div class="ui-g dashboard">
					<div class="ui-g-12 ui-md-12">
						<div class="card card-w-title">

							<p:panelGrid columns="2" layout="grid" styleClass="ui-panelgrid-blank">
								<p:outputLabel value="#{lang['enter.your.email']}" for="uname" />
								<p:inputText id="uname" value="#{logonUI.email}" placeholder="#{lang['email']}" styleClass="Container90 Fnone MarAuto Fs18" required="true" requiredMessage="#{lang['enter.your.email']}" style="width:95%" />
							</p:panelGrid>
							<br />
							<p:commandButton value="#{lang['send.password']}" action="#{logonUI.newPassword}" update="@form" oncomplete="handlePwdRequest(xhr, status, args)" icon="ui-icon-contact-mail" />
						</div>
					</div>
				</div>
			</p:outputPanel>
		</h:form>
	</p:dialog>

	<p:dialog header="#{lang['change.your.password']}" width="40%" widgetVar="dlgPwdChg" resizable="false" hideEffect="clip" showEffect="clip" id="dialogPWDCHG" appendTo="@(body)" modal="true" closable="false">
		<h:form id="usersPwdChgForm">
			<h:panelGrid columns="1" style="width: 100%">
				<p:spacer />
				<h:panelGroup styleClass="md-inputfield">
					<p:password style="width: 100%" id="pwd1" value="#{logonUI.inputPassword}" match="pwd2" label="Password1" required="true" requiredMessage="Please enter new password" validatorMessage="Passwords do not match" />

					<p:outputLabel for="pwd1" value="#{lang['new.password']}" />
				</h:panelGroup>
				<p:spacer />
				<h:panelGroup styleClass="md-inputfield">
					<p:password style="width: 100%" id="pwd2" value="#{logonUI.inputPassword}" label="Password2" required="true" requiredMessage="Please enter confirm password" />
					<p:outputLabel for="pwd2" value="#{lang['confirm.new.password']}" />
				</h:panelGroup>
				<p:spacer />
				<f:facet name="footer">
					<center>
						<p:commandButton value="#{lang['submit']}" action="#{logonUI.changePassword}" update="@form" />
					</center>
				</f:facet>
			</h:panelGrid>
		</h:form>
	</p:dialog>

	<div class="login-footer">TechFinium</div>

	<script type="text/javascript">   
    function handleUnameRequest(xhr, status, args) {  
        if(args.validationFailed) {  
            jQuery('#dialogPWD').effect("shake", { times:3 }, 500);  
        } else {  
        	PF('dlgPwd').hide();  
           
        }  
    } 
</script>

	<h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
	<h:outputStylesheet name="css/layout-#{guestPreferences.theme}.css" library="ultima-layout" />
	<h:outputStylesheet name="css/hs.css" library="hls" />
</h:body>

</html>