<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/WEB-INF/template.xhtml">

    <ui:define name="content">
        <div class="ui-g">
            <div class="ui-g-12">
                <div class="card">
                    <h1>Empty Page</h1>
                    <p>Use this page to start from scratch and place your custom content.</p>
                    <h:form>
                    <p:growl ><p:autoUpdate/></p:growl>
                    <p:commandButton value="Login" style="display:inline-block;margin-top:5px" icon="ui-icon-home" update="@form"/><br/><br/><br/>
                    
                    <p:dataTable paginator="true" paginatorPosition="bottom"></p:dataTable><br/><br/><br/>
                    
                    
                     <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank form-group">
                          <h:panelGroup styleClass="md-inputfield">
                            <p:inputText required="true" requiredMessage="Enter name"/>
                            <label>Name</label>
                        </h:panelGroup>
                        <h:panelGroup styleClass="md-inputfield">
                            <p:inputText />
                            <label>Email</label>
                        </h:panelGroup>               
                     </p:panelGrid>
                               <div class="card card-w-title">
                    <h1>TextArea</h1>
                    <p:inputTextarea rows="3" placeholder="Your Message"/>
                </div>
                   
                           <div class="card card-w-title">
                    <h1>SelectCheckBoxMenu</h1>
                    <p:selectCheckboxMenu label="Cities" filter="true" filterMatchMode="startsWith" style="width: 90%">
                        <f:selectItem itemLabel="Option 1" itemValue="1" />
                        <f:selectItem itemLabel="Option 2" itemValue="2" />
                        <f:selectItem itemLabel="Option 3" itemValue="3" />
                    </p:selectCheckboxMenu>
                </div>
                
                
                                    <p:panelGrid columns="1" layout="grid" styleClass="ui-panelgrid-blank grid-pad" style="margin-top:10px">
                        <p:outputLabel for="popup" value="Popup:" />
                        <p:calendar id="popup" />

                        <p:outputLabel for="multi" value="Multiple:" />
                        <p:calendar id="multi" pages="3" />

                        <p:outputLabel for="effect" value="Effect:" />
                        <p:calendar id="effect" effect="fold" />

                        <p:outputLabel for="datetime" value="Datetime:" />
                        <p:calendar id="datetime" pattern="MM/dd/yyyy HH:mm:ss" />

                        <p:outputLabel for="time" value="Time:" />
                        <p:calendar id="time" pattern="HH:mm a" timeOnly="true"  />

                        <p:outputLabel for="button" value="Button:" />
                        <p:calendar id="button" showOn="button" />
                    </p:panelGrid>
                
                    </h:form>
                </div>
            </div>
        </div>
        
    </ui:define>

</ui:composition>