<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:p="http://primefaces.org/ui">


	<p:outputPanel styleClass="card clearfix">
		<div class="footer">
			<span class="footer-text-left FontLight">AM Hydraulics</span> <span class="footer-text-right FontLight"><span class="ui-icon ui-icon-copyright FontLight"></span> <span>All Rights Reserved</span></span>
		</div>
	</p:outputPanel>
</ui:composition>