<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui" xmlns:pu="http://primefaces.org/ultima">

	<h:form id="menuform">
		<p:importEnum type="haj.com.entity.enums.UserTypeEnum" var="utype" />
		<div class="layout-menu #{guestPreferences.menuClass}">
			<div class="nano">
				<div class="nano-content menu-scroll-content">
					<ui:fragment rendered="#{guestPreferences.profileMode == 'inline' and guestPreferences.menuLayout != 'menu-layout-static menu-layout-horizontal'}">
						<c:if test="#{sessionUI.user ne null}">
							<div class="profile">
								<div class="profile-image"></div>
								<a id="profile-options" href="#"> <span class="profile-name">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span> <i class="material-icons">&#xE313;</i>
								</a>
							</div>

							<ul id="profile-menu" class="ultima-menu">
								<li role="menuitem"><a href="#{request.contextPath}/pages/profile.jsf" class="ripplelink"> <i class="material-icons">person</i> <span>Profile</span>
								</a></li>
								<!-- <li role="menuitem"><a href="#" class="ripplelink"> <i class="material-icons">security</i> <span>Privacy</span>
							</a></li>
							<li role="menuitem"><a href="#" class="ripplelink"> <i class="material-icons">settings_application</i> <span>Settings</span>
							</a></li>
							<li role="menuitem"><a href="#" class="ripplelink"> <i class="material-icons">power_settings_new</i> <span>Logout</span>
							</a></li> -->
							</ul>
						</c:if>
					</ui:fragment>

					<pu:menu widgetVar="me" rendered="#{sessionUI.user ne null and sessionUI.user.userType ne utype.Customer}">
						<p:menuitem id="um_dashboard" value="#{lang['dashboard']}" icon="&#xE871;" url="/admin/dashboard.jsf" rendered="#{sessionUI.user.userType eq utype.Admin}" />
						<p:menuitem id="um_dashboard1" value="#{lang['dashboard']}" icon="&#xE871;" url="/pages/dashboardManagement.jsf" rendered="#{sessionUI.user.userType eq utype.Management}" />
						<p:menuitem id="um_dashboard2" value="#{lang['dashboard']}" icon="&#xE871;" url="/pages/customerEnquiry.jsf" rendered="#{sessionUI.user.userType eq utype.Employee}" />
						<c:if test="#{sessionUI.user ne null and (sessionUI.user.userType eq utype.Admin)}">
							<p:submenu id="adminItems" label="#{lang['adminItems']}" icon="arrow_forward" rendered="#{sessionUI.user.userType eq utype.Admin}">
								<f:attribute name="badge" value="5" />
								<p:menuitem id="usersAdmin" value="#{lang['users']}" icon="&#xE7FD;" url="/admin/users.jsf" />
								<p:menuitem id="wf" value="#{lang['workflow']}" icon="&#xE871;" url="/admin/workflow.jsf" rendered="false" />
								<p:menuitem id="configDocType" value="#{lang['configure.doc.type']}" icon="&#xE24D;" url="/admin/configDocType.jsf" />
								<p:menuitem id="resourceType" value="#{lang['resourceType']}" icon="&#xE896;" url="/admin/resourceType.jsf" />
								<p:menuitem id="resource" value="#{lang['resource']}" icon="&#xE896;" url="/admin/resource.jsf" />
								<p:menuitem id="resourceUserAllocation" value="Resource Users Allocation" icon="&#xE7FD;" url="/admin/resourceUserAllocationForm.jsf" />
							</p:submenu>
						</c:if>
						<c:if test="#{sessionUI.user ne null and sessionUI.user.userType ne utype.Admin}">
							<p:menuitem id="menuEnq" value="Enquiry" icon="&#xE8AF;" url="/pages/customerEnquiry.jsf" rendered="#{sessionUI.user.userType ne utype.Customer and sessionUI.user.userType ne utype.Mechanic}" />
							<p:menuitem id="menuContRev" value="Contract Overview" icon="assignment" url="/pages/contractReviewTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer}" />
							<p:menuitem id="menuSIreport" value="S/I Reports" icon="receipt" url="/pages/inspectionReportTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer}" />
							<p:menuitem id="menuQuote" value="Quotes" icon="description" url="/pages/quoteTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer and sessionUI.user.userType ne utype.Mechanic}" />
							<p:menuitem id="menuRCreport" value="Route Card" icon="business_center" url="/pages/routeCardTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer}" />
							<p:menuitem id="menuPO" value="Purchase Orders" icon="attach_money" url="/pages/purchaseOrderTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer}" />
							<p:menuitem id="menuCD" value="Collection/Delivery" icon="airport_shuttle" url="/pages/collectionDeliveryTable.jsf" rendered="#{sessionUI.user.userType ne utype.Customer}" />
							<p:menuitem id="menutask" value="#{lang['tasks']} &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;  #{countUI.outstandingTasks}  " icon="toc"
								url="/pages/userTasks.jsf" title="#{countUI.outstandingTasks}" rendered="#{sessionUI.user.userType ne utype.Customer}" escape="false" />
							<p:menuitem id="resAllocMenu" url="/pages/resources.jsf" value="#{lang['resource.alloc']}" icon="perm_contact_calendar" />
							<p:menuitem id="contractOverview" value="#{lang['contract.overview']}" icon="&#xE896;" url="/pages/contractOverview.jsf" rendered="false" />
						</c:if>
					</pu:menu>

					<pu:menu widgetVar="me" rendered="#{sessionUI.user ne null and sessionUI.user.userType eq utype.Customer}">
						<p:menuitem id="um_dashboard3" value="Dashboard" icon="&#xE871;" url="/pages/dashboardCustomer.jsf" />
					</pu:menu>
					<pu:menu widgetVar="me" rendered="#{sessionUI.user ne null}">
						<p:menuitem id="LogoutSide" value="#{lang['logout']}" icon="power_settings_new" action="#{logonUI.logoff}" />
					</pu:menu>
					<pu:menu widgetVar="me" rendered="#{sessionUI.user eq null}">
						<p:menuitem id="item68" value="Login" icon="arrow_forward" url="/login.jsf" />
						<p:submenu>
						</p:submenu>
					</pu:menu>

				</div>
			</div>
		</div>
	</h:form>
</ui:composition>