<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:p="http://primefaces.org/ui"
    xmlns:pm="http://primefaces.org/ultima">
    
    <div class="layout-rightpanel">
        <div class="nano">
            <div class="nano-content right-panel-scroll-content">
                <div class="layout-rightpanel-header">
                    <h1>Priority Tasks</h1>
                </div>

                <div class="layout-rightpanel-content">
                    <ul class="weekly-weather">
                    	<h:form id="priorityTasksForm">
                    		<p:repeat var="priorityTask" value="#{priorityUserTaskUI.taskList}" >
                        		<li>
                        			<h2>Description</h2>
                        			<p:outputPanel>#{priorityTask.taskDescription}</p:outputPanel>
                            		<h2>Due Date</h2>
                            		<p:outputPanel>
                            			<p:outputLabel value="#{priorityTask.dueDate}" escape="false">
											<f:convertDateTime pattern="dd MMMM yyyy" />
										</p:outputLabel>
                            		</p:outputPanel>
                        		</li>
                        	</p:repeat>
                        </h:form>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
    
</ui:composition>