<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:p="http://primefaces.org/ui" xmlns:pu="http://primefaces.org/ultima">

	<div class="topbar clearfix">
		<div class="topbar-left">
			<div class="logo"></div>
		</div>

		<div class="topbar-right">
			<a id="menu-button" href="#"> <i></i></a> 
			<!-- <a id="topbar-menu-button" href="#"> <i class="material-icons">menu</i></a> -->
			            
            <a href="#" class="rightpanel-btn">
                <i class="material-icons" style="color: white !important">&#xE5D2;</i>
            </a>
			<ul class="topbar-items fadeInDown animated">
				<ui:fragment rendered="#{guestPreferences.profileMode == 'overlay'||guestPreferences.menuLayout == 'menu-layout-static menu-layout-horizontal'}">
					<c:if test="#{sessionUI.user ne null}">
						<li class="profile-item">
							<a href="#">
								<div class="profile-image"></div>
								<span class="topbar-item-name">#{sessionUI.user.firstName} #{sessionUI.user.lastName}</span>
							</a>
	
							<ul class="ultima-menu animated">
								<li role="menuitem">
									<a href="#{request.contextPath}//pages/profile.jsf">
										<i class="material-icons">&#xE7FD;</i>
										<span>#{lang['profile']}</span>
									</a>
								</li>
									<!-- <li role="menuitem"><a href="#"> <i class="material-icons">&#xE32A;</i> <span>Privacy</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i class="material-icons">&#xE8B9;</i> <span>Settings</span>
								</a></li>
								<li role="menuitem"><a href="#"> <i class="material-icons">&#xE8AC;</i> <span>Logout</span>
								</a></li> -->
							</ul>
						</li>
					</c:if>
				</ui:fragment>
				<li>
					<a href="#"> 
						<i class="topbar-icon material-icons">&#xE8B8;</i>
						<span class="topbar-item-name">Settings</span>
					</a>
					<ul class="ultima-menu animated">

						<c:if test="#{sessionUI.user ne null}">
							<li role="menuitem">
								<a href="#{request.contextPath}/pages/profile.jsf"> 
									<i class="material-icons">&#xE7FD;</i> 
									<span>#{lang['profile']}</span>
								</a>
							</li>
							<li role="menuitem"><h:form>
									<h:commandLink action="#{logonUI.logoff}">
										<i class="material-icons">power_settings_new</i>
										<span>#{lang['logout']}</span>
									</h:commandLink>
								</h:form>
							</li>
						</c:if>

						<c:if test="#{sessionUI.user eq null}">
							<li role="menuitem">
								<h:form>
									<h:commandLink action="#{logonUI.logoff}">
										<i class="material-icons">power_settings_new</i>
										<span>#{lang['Login']}</span>
									</h:commandLink>
								</h:form>
							</li>
						</c:if>

						
							
						

					</ul>
				</li>
				<c:if test="#{sessionUI.user ne null}">
					<li>
						<a href="#">
                      	  <i class="topbar-icon material-icons">&#xE425;</i>
                       	 <span class="topbar-badge animated rubberBand">#{countUI.outstandingTasks}</span>
                       	 <span class="topbar-item-name">Notifications</span>
                   	 </a>
                   	 <ul class="ultima-menu animated">
							<li role="menuitem">
								<a href="#{request.contextPath}/pages/userTasks.jsf">
									<i class="material-icons">&#xE868;</i> 
									<span> Pending tasks</span> 
									<span class="topbar-badge animated rubberBand"> 
										<h:form id="badgeForm">
											<h:outputText value="#{countUI.outstandingTasks} " id="badge" />
											<p:socket channel="/#{sessionUI.user.id}">
												<p:ajax event="message" update="badge" listener="#{countUI.outStandingTasks}" />
											</p:socket>
										</h:form>
									</span>
								</a>
							</li>
						</ul>
					</li>
				</c:if>
				
			</ul>
		</div>
	</div>

</ui:composition>